In [34]:
import os, sys, importlib
import datetime
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [35]:
from src.util.connection import get_hive_conn,get_hive_conn_dm_mdp
import pandas as pd
from src.util.read_tool import read_config
from pyhive import hive
import numpy as np
from sqlalchemy import create_engine
import datetime

In [36]:
import arrow

In [37]:
conn = get_hive_conn()

In [38]:
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
DB_STRING = "mysql+mysqldb://root:123456@10.88.19.118/dm_dpt?charset=utf8"
engine = create_engine(DB_STRING)

# 计算库存总结

- 最大的表应该是训练数据train 中当月的所有item: table_all
- 预测结果prediction应该是比table_all的item少, 如何解决
- 库存计算模块
- 移库计算模块

- 库存计算模块
1. 满足率计算用到 采购表统计(替换件处理, 经销商对应首选仓), train_additional（和train的数据维度是一致的）, 零件信息表(注意sql中选最新日期)
2. 满足率计算分类遇到有些为空的处理
3. 合并得到满足率（仓库零件）
4. 根据满足率计算 z系数
5. 计算需求波动 180个点的分位数。
6. 根据预测prediction计算dm，这里要注意表prediction比table_all的item少， 如何填充缺失值？用平均值？
7. 得到缓冲库存
8. 得到在订购点

In [ ]:
- 移库计算模块

# 服务满足率计算 数据要注意去重操作

## 宽表设计 - 包括零件分类信息, 采购量和波动性分类信息
1. 计算采购量分类和波动率分类用12个月
2. 计算波动率分为[0.25, 0.75]三段
3. 增加 满足次数 和总次数 字段 (dlr_purchase_statistics)
4. 增加 采购量平均值和波动率值(std,cv) 字段 (df_additional)

In [6]:
sql="""
select * from tt_demand_train_additional where substr(upload_time,1,10) = "2022-03-18"
"""
df_additional = pd.read_sql(sql,engine)
df_additional

,storage_code,part_code,purchased_quantity_sum_mean,purchased_quantity_sum_std,cv,purchased_quantity_type,fluctuation,upload_time
0,SP100,10000001090000,0.083333,0.288675,3.464100,n11,s,"2022-03-18, 12:34:14"
1,SP100,1000000109S010,0.000000,0.000000,NaN,n11,s,"2022-03-18, 12:34:14"
2,SP100,1000000109S020,0.000000,0.000000,NaN,n11,s,"2022-03-18, 12:34:14"
3,SP100,1000000109S050,0.000000,0.000000,NaN,n11,s,"2022-03-18, 12:34:14"
4,SP100,1000000109S090,1.250000,2.261340,1.809070,n11,L,"2022-03-18, 12:34:14"
...,...,...,...,...,...,...,...,...
186140,SP500,M4290830,0.000000,0.000000,NaN,n11,s,"2022-03-18, 12:34:14"
186141,SP500,M4290831,0.000000,0.000000,NaN,n11,s,"2022-03-18, 12:34:14"
186142,SP500,M8619009,0.000000,0.000000,NaN,n11,s,"2022-03-18, 12:34:14"
186143,SP500,M8619012,0.000000,0.000000,NaN,n11,s,"2022-03-18, 12:34:14"
186144,SP500,M8619021,2777.500000,1323.430000,0.476484,n3,m,"2022-03-18, 12:34:14"

In [7]:
df_additional.drop(columns="upload_time",inplace=True)

In [48]:
df_additional[df_additional.duplicated(["storage_code","part_code"])]

Empty DataFrame
Columns: [storage_code, part_code, purchased_quantity_sum_mean, purchased_quantity_sum_std, cv, purchased_quantity_type, fluctuation]
Index: []

In [49]:
df_additional.drop_duplicates(["storage_code","part_code"],inplace=True)

In [8]:
df_additional.isna().any()

storage_code                   False
part_code                      False
purchased_quantity_sum_mean    False
purchased_quantity_sum_std     False
cv                              True
purchased_quantity_type        False
fluctuation                    False
dtype: bool

In [55]:
sql="""
select * from dm_mdp.dm_mdp_part_dlr_purchase_statistics
"""
dlr_purchase_statistics = pd.read_sql(sql,conn)
dlr_purchase_statistics

,dm_mdp_part_dlr_purchase_statistics.statistics_monthly,dm_mdp_part_dlr_purchase_statistics.part_code,dm_mdp_part_dlr_purchase_statistics.part_name,dm_mdp_part_dlr_purchase_statistics.dealer_code,dm_mdp_part_dlr_purchase_statistics.dealer_short_name,dm_mdp_part_dlr_purchase_statistics.sale_qty,dm_mdp_part_dlr_purchase_statistics.purchased_quantity,dm_mdp_part_dlr_purchase_statistics.audit_quantity,dm_mdp_part_dlr_purchase_statistics.first_storage_fill_qty,dm_mdp_part_dlr_purchase_statistics.out_storage_null_fill_qty,dm_mdp_part_dlr_purchase_statistics.other_storage_fill_qty,dm_mdp_part_dlr_purchase_statistics.dly_fill_lack_qty,dm_mdp_part_dlr_purchase_statistics.dly_notfill_lack_qty,dm_mdp_part_dlr_purchase_statistics.dlr_purchase_times,dm_mdp_part_dlr_purchase_statistics.dlr_purchase_audit_times,dm_mdp_part_dlr_purchase_statistics.first_storage_fill_times,dm_mdp_part_dlr_purchase_statistics.out_storage_null_fill_times,dm_mdp_part_dlr_purchase_statistics.other_storage_fill_times,dm_mdp_part_dlr_purchase_statistics.dly_fill_lack_times,dm_mdp_part_dlr_purchase_statistics.dly_notfill_lack_times,dm_mdp_part_dlr_purchase_statistics.total_order_times,dm_mdp_part_dlr_purchase_statistics.first_storage_fillrate,dm_mdp_part_dlr_purchase_statistics.total_fillrate,dm_mdp_part_dlr_purchase_statistics.part_month
0,2021-07,1001000242,油封护盖,DAHA020,合肥滨湖,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0.0,0,NaN,NaN,202107
1,2021-07,10030372040000,气缸盖罩密封圈,DAHA020,合肥滨湖,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1,1,1,0,0,0,0.0,1,1.0,1.0,202107
2,2021-07,10030402040000,气缸盖垫片,DAHA020,合肥滨湖,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1,1,1,0,0,0,0.0,1,1.0,1.0,202107
3,2021-07,10060341830000,机油控制阀,DAHA020,合肥滨湖,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,2,2,2,0,0,0,0.0,2,1.0,1.0,202107
4,2021-07,10070071820100,多楔带,DAHA020,合肥滨湖,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0.0,0,NaN,NaN,202107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675523,2022-01,3410008ASVS010,不带外球节的机械转向器总成,DSCA040,成都长缘捷龙,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0.0,0,NaN,NaN,202201
1675524,2022-01,3410001ADE0000,左转向外拉杆总成,DSCA040,成都长缘捷龙,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0.0,0,NaN,NaN,202201
1675525,2022-01,3210003BAC0000,驱动轴螺母 M24×1.5,DSCA040,成都长缘捷龙,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0.0,0,NaN,NaN,202201
1675526,2022-01,3210002CSV0701,右前驱动轴总成,DSCA040,成都长缘捷龙,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0.0,0,NaN,NaN,202201
1675527,2022-01,3210001BSV0000,左前驱动轴总成,DSCA040,成都长缘捷龙,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0.0,0,NaN,NaN,202201

In [56]:
def make_columns(df):
    try:
        return [name.split(".")[1] for name in df.columns]
    except:
        return df.columns

In [57]:
dlr_purchase_statistics.columns = make_columns(dlr_purchase_statistics)

In [58]:
dlr_purchase_statistics.columns

Index(['statistics_monthly', 'part_code', 'part_name', 'dealer_code',
       'dealer_short_name', 'sale_qty', 'purchased_quantity', 'audit_quantity',
       'first_storage_fill_qty', 'out_storage_null_fill_qty',
       'other_storage_fill_qty', 'dly_fill_lack_qty', 'dly_notfill_lack_qty',
       'dlr_purchase_times', 'dlr_purchase_audit_times',
       'first_storage_fill_times', 'out_storage_null_fill_times',
       'other_storage_fill_times', 'dly_fill_lack_times',
       'dly_notfill_lack_times', 'total_order_times', 'first_storage_fillrate',
       'total_fillrate', 'part_month'],
      dtype='object')

In [59]:
dlr_purchase_statistics = dlr_purchase_statistics[['statistics_monthly','part_code','dealer_code',
       'first_storage_fill_times', 'out_storage_null_fill_times',
       'other_storage_fill_times', 'dly_fill_lack_times',  'total_order_times', 'total_fillrate']]

In [60]:
dlr_purchase_statistics.dropna(subset=["total_fillrate"],inplace=True)
dlr_purchase_statistics

,statistics_monthly,part_code,dealer_code,first_storage_fill_times,out_storage_null_fill_times,other_storage_fill_times,dly_fill_lack_times,total_order_times,total_fillrate
1,2021-07,10030372040000,DAHA020,1,0,0,0,1,1.0
2,2021-07,10030402040000,DAHA020,1,0,0,0,1,1.0
3,2021-07,10060341830000,DAHA020,2,0,0,0,2,1.0
6,2021-07,10100331510000,DAHA020,1,0,0,0,1,1.0
7,2021-07,10120302050000,DAHA020,0,0,1,0,1,1.0
...,...,...,...,...,...,...,...,...,...
1675475,2022-01,5410101ASV00F2L2Z,DSCA040,1,0,0,0,1,1.0
1675489,2022-01,3720005ASV0100,DSCA040,1,0,0,0,1,1.0
1675498,2022-01,3610132AAF0000,DSCA040,1,0,0,0,1,1.0
1675499,2022-01,3610068AAF0000,DSCA040,1,0,0,0,1,1.0
1675513,2022-01,3520001CADS010,DSCA040,1,0,0,0,1,1.0

In [61]:
dlr_purchase_statistics[dlr_purchase_statistics.duplicated(["statistics_monthly","dealer_code","part_code"])]

Empty DataFrame
Columns: [statistics_monthly, part_code, dealer_code, first_storage_fill_times, out_storage_null_fill_times, other_storage_fill_times, dly_fill_lack_times, total_order_times, total_fillrate]
Index: []

In [62]:
dlr_purchase_statistics.drop_duplicates(["statistics_monthly","dealer_code","part_code"],inplace=True)

In [63]:
dlr_purchase_statistics["fill_times"]=dlr_purchase_statistics["first_storage_fill_times"]+dlr_purchase_statistics["out_storage_null_fill_times"]\
+dlr_purchase_statistics["other_storage_fill_times"]+dlr_purchase_statistics["dly_fill_lack_times"]

In [173]:
# dlr_purchase_statistics_copy = dlr_purchase_statistics.copy()

In [189]:
# 零时措施
# dlr_purchase_statistics = dlr_purchase_statistics_copy
# dlr_purchase_statistics = dlr_purchase_statistics[dlr_purchase_statistics.pur_qty>0]

### 替互换件的处理

In [64]:
dlr_purchase_statistics

,statistics_monthly,part_code,dealer_code,first_storage_fill_times,out_storage_null_fill_times,other_storage_fill_times,dly_fill_lack_times,total_order_times,total_fillrate,fill_times
1,2021-07,10030372040000,DAHA020,1,0,0,0,1,1.0,1
2,2021-07,10030402040000,DAHA020,1,0,0,0,1,1.0,1
3,2021-07,10060341830000,DAHA020,2,0,0,0,2,1.0,2
6,2021-07,10100331510000,DAHA020,1,0,0,0,1,1.0,1
7,2021-07,10120302050000,DAHA020,0,0,1,0,1,1.0,1
...,...,...,...,...,...,...,...,...,...,...
1675475,2022-01,5410101ASV00F2L2Z,DSCA040,1,0,0,0,1,1.0,1
1675489,2022-01,3720005ASV0100,DSCA040,1,0,0,0,1,1.0,1
1675498,2022-01,3610132AAF0000,DSCA040,1,0,0,0,1,1.0,1
1675499,2022-01,3610068AAF0000,DSCA040,1,0,0,0,1,1.0,1
1675513,2022-01,3520001CADS010,DSCA040,1,0,0,0,1,1.0,1

In [65]:
sql="""
select * from dm_mdp.part_option
"""
option_data = pd.read_sql(sql,conn)
option_data

,part_option.option_part_id,part_option.option_part_code,part_option.option_part_name,part_option.part_id,part_option.part_code,part_option.part_name
0,32768,4030062AAF99F1A00,后地板右侧梁组件,32768,4030062AAF99F1A00,后地板右侧梁组件
1,65537,2150020BAC0000,加油口内护罩,65538,2150020BACF000,加油口内护罩
2,65538,2150020BACF000,加油口内护罩,65538,2150020BACF000,加油口内护罩
3,10,4011004CAC00F1A00,前壁板分总成,20438,4011004CAC00F0A00,前壁板分总成
4,32782,3530026CAD0100,左前制动硬管,25239,3530026CAD0101,左前制动硬管
...,...,...,...,...,...,...
6494,65505,2130004BAC99F0,燃油滤清器支架,65507,2130004BAD0000,燃油滤清器支架
6495,65507,2130004BAD0000,燃油滤清器支架,65507,2130004BAD0000,燃油滤清器支架
6496,32749,8355001BAD91F0,右前门线束,32749,8355001BAD91F0,右前门线束
6497,32753,8950002ARX0000,GS5 导航手册（2018款）,32753,8950002ARX0000,GS5 导航手册（2018款）
6498,32755,3550003ADE0000,真空制动软管总成,26725,3550003ADE0100,真空制动软管总成

In [66]:
try:
    option_data.columns = [name.split(".")[1] for name in option_data.columns]
except:
    pass

In [67]:
option_data[(option_data.option_part_code=="7106013CAD00F0M10")|(option_data.part_code=="7106013CAD00F0M10")]

,option_part_id,option_part_code,option_part_name,part_id,part_code,part_name
3366,49794,7106013CAD00F0M10,后保险杠下饰板_素雅实黑,29287,7106013CAD0000M10,后保险杠下饰板_素雅实黑

In [68]:
def update_option_part_code(raw_data):
    """
    替换唯一SKU CODE

    :param raw_data:
    :return: dataframe
    """
    if raw_data["part_code_y"] is None or pd.isna(raw_data["part_code_y"]):
        return raw_data["part_code_x"]
    else:
        return raw_data["part_code_y"]

In [69]:
# 替换件
def make_subsitute(df):
    df = pd.merge(left=df, right=option_data, left_on="part_code", right_on="option_part_code", how="left")
    df["part_code_original"] = df["part_code_x"]
    df.part_code_x=df.apply(update_option_part_code,axis=1)
    df= df.drop(columns="part_code_y")
    df.rename(columns={"part_code_x":"part_code"},inplace=True)
    return df

In [70]:
dlr_purchase_statistics = make_subsitute(dlr_purchase_statistics)

In [71]:
dlr_purchase_statistics.shape

(568833, 16)

In [72]:
dlr_purchase_statistics = dlr_purchase_statistics.groupby(["dealer_code","part_code"])[["fill_times","total_order_times"]].sum().reset_index()

In [73]:
dlr_purchase_statistics

       dealer_code       part_code  fill_times  total_order_times
0          DAHA020  1003027153E101           1                  1
1          DAHA020  10030372040000           7                  7
2          DAHA020  10030402040000           3                  3
3          DAHA020  10060341310000           2                  2
4          DAHA020  10060341610000           1                  1
...            ...             ...         ...                ...
439548     DZJQ010        995S0002           3                  3
439549     DZJQ010        995S0006           6                  6
439550     DZJQ010        995S0007           2                  2
439551     DZJQ010        995S1301           6                  6
439552     DZJQ010        998S3501          10                 10

[439553 rows x 4 columns]

In [80]:
sql="""
select * from dw_mdp.dw_mdp_part_info where 
part_dt =(select max(part_dt) from dw_mdp.dw_mdp_part_info)
"""
part_info = pd.read_sql(sql,conn)
part_info

,dw_mdp_part_info.part_id,dw_mdp_part_info.part_code,dw_mdp_part_info.part_name,dw_mdp_part_info.part_group_code,dw_mdp_part_info.part_group_name,dw_mdp_part_info.dealer_code,dw_mdp_part_info.is_aviation,dw_mdp_part_info.is_aviation_cn_desc,dw_mdp_part_info.logistics_mode,dw_mdp_part_info.logistics_mode_cn_desc,dw_mdp_part_info.provider_type,dw_mdp_part_info.provider_type_cn_desc,dw_mdp_part_info.plan_price,dw_mdp_part_info.purchase_price,dw_mdp_part_info.node_price,dw_mdp_part_info.advice_sale_price,dw_mdp_part_info.min_package,dw_mdp_part_info.min_sales_quantity,dw_mdp_part_info.min_order_quantity,dw_mdp_part_info.part_volume,dw_mdp_part_info.is_direct,dw_mdp_part_info.is_direct_cn_desc,dw_mdp_part_info.is_supply_directly,dw_mdp_part_info.is_supply_directly_cn_desc,dw_mdp_part_info.is_purchase,dw_mdp_part_info.is_purchase_cn_desc,dw_mdp_part_info.is_carved_piece,dw_mdp_part_info.is_carved_piece_cn_desc,dw_mdp_part_info.is_straight,dw_mdp_part_info.is_straight_cn_desc,dw_mdp_part_info.purchased_type,dw_mdp_part_info.purchased_type_cn_desc,dw_mdp_part_info.is_danger,dw_mdp_part_info.is_danger_cn_desc,dw_mdp_part_info.is_issued,dw_mdp_part_info.is_issued_cn_desc,dw_mdp_part_info.is_centralized_purchasing,dw_mdp_part_info.is_centralized_purchasing_cn_desc,dw_mdp_part_info.part_purchase,dw_mdp_part_info.part_purchase_cn_desc,dw_mdp_part_info.order_cycle,dw_mdp_part_info.arrival_cycle,dw_mdp_part_info.procurement_cycle,dw_mdp_part_info.part_status,dw_mdp_part_info.part_status_cn_desc,dw_mdp_part_info.is_stop,dw_mdp_part_info.is_stop_cn_desc,dw_mdp_part_info.fit_model,dw_mdp_part_info.goods_type,dw_mdp_part_info.goods_type_cn_desc,dw_mdp_part_info.part_service_status,dw_mdp_part_info.part_service_status_cn_desc,dw_mdp_part_info.part_property,dw_mdp_part_info.part_property_cn_desc,dw_mdp_part_info.check_status,dw_mdp_part_info.check_status_cn_desc,dw_mdp_part_info.factory_no,dw_mdp_part_info.factory_name,dw_mdp_part_info.provider_code,dw_mdp_part_info.provider_name,dw_mdp_part_info.storage_code_loc,dw_mdp_part_info.part_purchase_type,dw_mdp_part_info.cut_mass_status,dw_mdp_part_info.cut_mass_status_cn_desc,dw_mdp_part_info.part_pure_class,dw_mdp_part_info.part_pure_class_cn_desc,dw_mdp_part_info.is_often,dw_mdp_part_info.is_often_cn_desc,dw_mdp_part_info.option_part_code,dw_mdp_part_info.exchange_part_code,dw_mdp_part_info.option_part_group,dw_mdp_part_info.exchange_part_group,dw_mdp_part_info.effective_date,dw_mdp_part_info.invalid_date,dw_mdp_part_info.part_dt
0,10,4011004CAC00F1A00,前壁板分总成,60971001.0,一般零部件,GAMCS,10041002.0,否,60751001.0,送货,60571002.0,厂外件,665.75,NaN,2657.30,3800.0,3.0,1.0,1.0,1.0535,10041002.0,否,10041002.0,否,10041001.0,是,10041002.0,否,10041002.0,否,60571002.0,厂外件,None,None,None,None,None,None,10041001.0,是,NaN,NaN,30.0,10041001,是,None,None,None,13241001,配件,60581007.0,国内外售后通用件,NaN,None,62101002.0,已审核,GAMC,广州,VG417,广东福迪汽车零部件有限公司,SP100,GAMCS,26811002,打切（0-5年）,1.0,None,10041002,否,None,4011004CAC00F0A00,None,4011004CAC00F0A00|4011004CAC00F1A00,2017-02-16,None,20220311
1,11,2350004BAL0100,散热器出水软管,60971001.0,一般零部件,GAMCS,10041002.0,否,60751001.0,送货,60571002.0,厂外件,13.60,NaN,56.10,74.8,10.0,1.0,1.0,0.0030,10041002.0,否,10041002.0,否,10041001.0,是,10041002.0,否,10041002.0,否,60571002.0,厂外件,None,None,None,None,None,None,10041001.0,是,NaN,NaN,30.0,10041001,是,None,None,None,13241001,配件,60581007.0,国内外售后通用件,NaN,None,62101002.0,已审核,GAMC,广州,VB204,江苏鹏翎胶管有限公司,SP100,GAMCS,26811002,打切（0-5年）,1.0,None,10041001,是,None,None,None,None,2015-11-03,None,20220311
2,24,4020038CAC0000A00,前地板横梁组件,60971001.0,一般零部件,GAMCS,10041002.0,否,60751002.0,取货,60571002.0,厂外件,0.00,NaN,347.20,496.0,NaN,1.0,1.0,0.0000,10041002.0,否,10041002.0,否,10041001.0,是,10041002.0,否,10041002.0,否,60571002.0,厂外件,None,None,None,None,None,None,10041001.0,是,NaN,NaN,28.0,10041001,是,None,None,None,13241001,配件,60581007.0,国内外售后通用件,NaN,None,62101002.0,已审核,GAMC,广州,VG417,广东福迪汽车零部件有限公司,SP100,GAMCS,26811007,其他,1.0,None,10041002,否,None,None,None,None,2014-11-27,None,20220311
3,90,3120007ASV0000,钢轮辋4.0T×16,60971001.0,一般零部件,GAMCS,10041002.0,否,60751002.0,取货,60571002.0,厂外件,73.00,NaN,171.00,228.0,1.0,1.0,1.0,0.0546,10041002.0,否,10041002.0,否,10041001.0,是,10041002.0,否,10041002.0,否,60571002.0,厂外件,None,None,None,None,None,None,10041001.0,是,NaN,NaN,30.0,10041001,是,None,None,None,13241001,配件,60581007.0,国内外售后通用件,NaN,None,62101002.0,已审核,GAMC,广州,VD224,上海宝钢车轮有限公司,SP100,GAMCS,26811007,其他,1.0,None,10041002,否,None,None,None,None,2015-01-09,None,20220311
4,99,2310015CAC0000,脉冲宽度调制控制器,60971001.0,一般零部件,GAMCS,10041002.0,否,60751001.0,送货,60571002.0,厂外件,160.00,NaN,465.00,620.0,1.0,1.0,1.0,0.0000,10041002.0,否,10041002.0,否,10041002.0,否,10041002.0,否,10041002.0,否,60571002.0,厂外件,None,None,None,None,None,None,10041002.0,否,NaN,NaN,29.0,10041001,是,None,None,None,13241001,配件,60581007.0,国内外售后通用件,NaN,None,62101002.0,已审核,GAMC,广州,VX201,南方英特空调有限公司,SP100,GAMCS,26811007,其他,1.0,None,10041002,否,None,None,None,None,2017-06-03,None,20220311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121257,164526400,8535006ADU0000B11,倒车雷达传感器支架_星光银,NaN,None,GAMCS,NaN,None,NaN,None,60571002.0,厂外件,0.00,0.0,0.00,NaN,0.0,1.0,NaN,0.0000,10041002.0,否,10041002.0,否,10041001.0,是,10041002.0,否,NaN,None,NaN,None,None,None,None,None,None,None,10041001.0,是,0.0,0.0,NaN,10041001,是,None,None,None,13241001,配件,60581007.0,国内外售后通用件,NaN,None,62101002.0,已审核,GAMC,广州,None,None,SP100,GAMCS,26811007,其他,NaN,None,10041002,否,None,None,None,None,2021-03-24,None,20220311
121258,164526407,6010013DRS0100M10,驾驶侧下护板总成_素雅实黑,60971001.0,一般零部件,GAMCS,NaN,None,NaN,None,60571002.0,厂外件,0.00,0.0,78.25,104.0,0.0,1.0,0.0,0.0000,10041002.0,否,10041002.0,否,10041001.0,是,10041002.0,否,NaN,None,NaN,None,None,None,None,None,None,None,10041001.0,是,0.0,0.0,NaN,10041001,是,None,None,None,13241001,配件,60581007.0,国内外售后通用件,0.0,None,62101002.0,已审核,GAMC,广州,VD501,延锋汽车饰件系统广州有限公司,SP100,GAMCS,26811007,其他,NaN,None,10041002,否,None,None,None,None,2021-03-24,None,20220311
121259,164526408,6010013DRS0100M71,驾驶侧下护板总成_米白色,60971001.0,一般零部件,GAMCS,NaN,None,NaN,None,60571002.0,厂外件,0.00,0.0,78.25,104.0,0.0,1.0,0.0,0.0000,10041002.0,否,10041002.0,否,10041001.0,是,10041002.0,否,NaN,None,NaN,None,None,None,None,None,None,None,10041001.0,是,0.0,0.0,NaN,10041001,是,None,None,None,13241001,配件,60581007.0,国内外售后通用件,0.0,None,62101002.0,已审核,GAMC,广州,VD501,延锋汽车饰件系统广州有限公司,SP100,GAMCS,26811007,其他,NaN,None,10041002,否,None,None,None,None,2021-03-24,None,20220311
121260,164526420,6310080DRS0500,前排左座椅面套总成,NaN,None,GAMCS,NaN,None,NaN,None,NaN,None,0.00,NaN,0.00,NaN,0.0,1.0,0.0,0.0000,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,None,None,None,None,None,None,NaN,None,0.0,0.0,NaN,10041001,是,None,None,None,13241001,配件,NaN,None,NaN,None,62101002.0,已审核,None,None,None,None,None,None,26811007,其他,NaN,None,10041002,否,None,None,None,None,2021-03-24,None,20220311
121261,164526421,6310080DRS0600,前排左座椅面套总成,NaN,None,GAMCS,NaN,None,NaN,None,NaN,None,0.00,NaN,0.00,NaN,0.0,1.0,0.0,0.0000,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,None,None,None,None,None,None,NaN,None,0.0,0.0,NaN,10041001,是,None,None,None,13241001,配件,NaN,None,NaN,None,62101002.0,已审核,None,None,None,None,None,None,26811007,其他,NaN,None,10041002,否,None,None,None,None,2021-03-24,None,20220311

In [81]:
part_info.columns = make_columns(part_info)

In [82]:
part_info[part_info.duplicated("part_code")]

Empty DataFrame
Columns: [part_id, part_code, part_name, part_group_code, part_group_name, dealer_code, is_aviation, is_aviation_cn_desc, logistics_mode, logistics_mode_cn_desc, provider_type, provider_type_cn_desc, plan_price, purchase_price, node_price, advice_sale_price, min_package, min_sales_quantity, min_order_quantity, part_volume, is_direct, is_direct_cn_desc, is_supply_directly, is_supply_directly_cn_desc, is_purchase, is_purchase_cn_desc, is_carved_piece, is_carved_piece_cn_desc, is_straight, is_straight_cn_desc, purchased_type, purchased_type_cn_desc, is_danger, is_danger_cn_desc, is_issued, is_issued_cn_desc, is_centralized_purchasing, is_centralized_purchasing_cn_desc, part_purchase, part_purchase_cn_desc, order_cycle, arrival_cycle, procurement_cycle, part_status, part_status_cn_desc, is_stop, is_stop_cn_desc, fit_model, goods_type, goods_type_cn_desc, part_service_status, part_service_status_cn_desc, part_property, part_property_cn_desc, check_status, check_status_cn_desc, factory_no, factory_name, provider_code, provider_name, storage_code_loc, part_purchase_type, cut_mass_status, cut_mass_status_cn_desc, part_pure_class, part_pure_class_cn_desc, is_often, is_often_cn_desc, option_part_code, exchange_part_code, option_part_group, exchange_part_group, effective_date, invalid_date, part_dt]
Index: []

In [83]:
part_info.drop_duplicates("part_code",inplace=True)

In [84]:
part_info = part_info[['part_code', 'part_name','part_group_name','provider_type_cn_desc','part_service_status_cn_desc',"storage_code_loc"]]

### 仓库维度

In [85]:
sql="""
select * from dw_mdp.dw_mdp_part_dealer_basicinfo
where part_dt =(select max(part_dt) from dw_mdp.dw_mdp_part_dealer_basicinfo)
"""
dealer_basicinfo = pd.read_sql(sql,conn)
dealer_basicinfo

,dw_mdp_part_dealer_basicinfo.dealer_id,dw_mdp_part_dealer_basicinfo.dealer_code,dw_mdp_part_dealer_basicinfo.dealer_shortname,dw_mdp_part_dealer_basicinfo.dealer_name,dw_mdp_part_dealer_basicinfo.province,dw_mdp_part_dealer_basicinfo.city,dw_mdp_part_dealer_basicinfo.county,dw_mdp_part_dealer_basicinfo.open_date,dw_mdp_part_dealer_basicinfo.dealer_status,dw_mdp_part_dealer_basicinfo.dealer_status_cn_desc,dw_mdp_part_dealer_basicinfo.is_effect,dw_mdp_part_dealer_basicinfo.is_effect_cn_desc,dw_mdp_part_dealer_basicinfo.first_storage,dw_mdp_part_dealer_basicinfo.part_dt
0,1,GAMC,广汽乘用车有限公司,广汽乘用车有限公司,3533,3748,5814,None,10111002.0,在网,90911002,失效,None,20220222
1,4,GAMCXJ,广汽乘用车有限公司新疆分公司,广汽乘用车有限公司新疆分公司,3545,3879,5814,None,10111002.0,在网,90911002,失效,None,20220222
2,6,GAMCHZ,广汽乘用车（杭州）有限公司,广汽乘用车（杭州）有限公司,3525,3638,5814,None,10111002.0,在网,90911002,失效,None,20220222
3,312,DZJA110,杭州悦声,浙江悦声汽车科技有限公司,3525,3638,None,2019-12-10,10111002.0,在网,90911001,生效,SP120,20220222
4,313,DSCA080,成都长昱,成都广汽长昱汽车销售有限公司,3537,3789,None,2019-12-07,10111002.0,在网,90911001,生效,SP140,20220222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,2025,DAHR020,池州科润,池州科润汽车贸易有限公司,3526,3663,None,2021-12-07,10111002.0,在网,90911002,失效,SP120,20220222
1081,2026,DGDQ040,阳江长佳,广州广汽商贸长佳汽车销售有限公司阳江市分公司,3533,3762,None,2021-12-07,10111002.0,在网,90911002,失效,SP100,20220222
1082,2028,DYUG040,新乡德润行,新乡市德润行汽车销售服务有限公司,3530,3708,None,2021-12-28,10111002.0,在网,90911002,失效,None,20220222
1083,2030,DCQA100,重庆璐菲亿创,重庆璐菲亿创汽车销售服务有限公司,3536,3549,None,2021-12-31,10111002.0,在网,90911002,失效,SP140,20220222
1084,2032,DSDM050,滨州和旭,滨州和旭汽车销售服务有限公司,3529,3700,None,2022-01-28,10111002.0,在网,90911002,失效,None,20220222

In [86]:
dealer_basicinfo.columns = make_columns(dealer_basicinfo)

In [87]:
dealer_basicinfo = dealer_basicinfo[['dealer_code','first_storage']]

## 合并宽表

In [88]:
fill_rate = dlr_purchase_statistics.merge(dealer_basicinfo,on="dealer_code",how="left")
# fill_rate = dlr_purchase_statistics

In [89]:
fill_rate

,dealer_code,part_code,fill_times,total_order_times,first_storage
0,DAHA020,1003027153E101,1,1,SP120
1,DAHA020,10030372040000,7,7,SP120
2,DAHA020,10030402040000,3,3,SP120
3,DAHA020,10060341310000,2,2,SP120
4,DAHA020,10060341610000,1,1,SP120
...,...,...,...,...,...
439548,DZJQ010,995S0002,3,3,SP120
439549,DZJQ010,995S0006,6,6,SP120
439550,DZJQ010,995S0007,2,2,SP120
439551,DZJQ010,995S1301,6,6,SP120
439552,DZJQ010,998S3501,10,10,SP120

In [90]:
fill_rate['total_fillrate']= fill_rate['fill_times']/fill_rate['total_order_times']

In [91]:
fill_rate.drop(columns="dealer_code",inplace=True)

In [92]:
fill_rate.isna().any()

part_code            False
fill_times           False
total_order_times    False
first_storage        False
total_fillrate       False
dtype: bool

In [93]:
fill_rate.dropna(subset=["total_fillrate"],inplace=True)

In [94]:
fill_rate = fill_rate.merge(part_info,on="part_code",how="left")

In [95]:
fill_rate.rename(columns={'first_storage':"storage_code"},inplace=True)

In [96]:
fill_rate = fill_rate.merge(df_additional,on=["storage_code","part_code"],how="right")
fill_rate

,part_code,fill_times,total_order_times,storage_code,total_fillrate,part_name,part_group_name,provider_type_cn_desc,part_service_status_cn_desc,storage_code_loc,purchased_quantity_sum_mean,purchased_quantity_sum_std,cv,purchased_quantity_type,fluctuation
0,10000001090000,NaN,NaN,SP100,NaN,NaN,NaN,NaN,NaN,NaN,0.083333,0.288675,3.464100,n11,s
1,1000000109S010,NaN,NaN,SP100,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,n11,s
2,1000000109S020,NaN,NaN,SP100,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,n11,s
3,1000000109S050,NaN,NaN,SP100,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,n11,s
4,1000000109S090,1.0,1.0,SP100,1.0,十字槽盘头螺钉,一般零部件,厂外件,国内外售后专用件,SP100,1.250000,2.261340,1.809070,n11,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544622,M8619021,1.0,1.0,SP500,1.0,密封胶三键1217H(330ml/支 9990000600),一般零部件,厂外件,国内外售后通用件,SP100,2777.500000,1323.430000,0.476484,n3,m
544623,M8619021,4.0,4.0,SP500,1.0,密封胶三键1217H(330ml/支 9990000600),一般零部件,厂外件,国内外售后通用件,SP100,2777.500000,1323.430000,0.476484,n3,m
544624,M8619021,1.0,1.0,SP500,1.0,密封胶三键1217H(330ml/支 9990000600),一般零部件,厂外件,国内外售后通用件,SP100,2777.500000,1323.430000,0.476484,n3,m
544625,M8619021,1.0,1.0,SP500,1.0,密封胶三键1217H(330ml/支 9990000600),一般零部件,厂外件,国内外售后通用件,SP100,2777.500000,1323.430000,0.476484,n3,m
544626,M8619021,1.0,1.0,SP500,1.0,密封胶三键1217H(330ml/支 9990000600),一般零部件,厂外件,国内外售后通用件,SP100,2777.500000,1323.430000,0.476484,n3,m

In [97]:
fill_rate.total_fillrate.fillna(0.5,inplace=True)
fill_rate.total_fillrate = fill_rate.total_fillrate.apply(lambda x: 0.5 if x<0.5 else x)
fill_rate.total_fillrate = fill_rate.total_fillrate.apply(lambda x: 0.999 if x==1 else x)
fill_rate

,part_code,fill_times,total_order_times,storage_code,total_fillrate,part_name,part_group_name,provider_type_cn_desc,part_service_status_cn_desc,storage_code_loc,purchased_quantity_sum_mean,purchased_quantity_sum_std,cv,purchased_quantity_type,fluctuation
0,10000001090000,NaN,NaN,SP100,0.500,NaN,NaN,NaN,NaN,NaN,0.083333,0.288675,3.464100,n11,s
1,1000000109S010,NaN,NaN,SP100,0.500,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,n11,s
2,1000000109S020,NaN,NaN,SP100,0.500,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,n11,s
3,1000000109S050,NaN,NaN,SP100,0.500,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,n11,s
4,1000000109S090,1.0,1.0,SP100,0.999,十字槽盘头螺钉,一般零部件,厂外件,国内外售后专用件,SP100,1.250000,2.261340,1.809070,n11,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544622,M8619021,1.0,1.0,SP500,0.999,密封胶三键1217H(330ml/支 9990000600),一般零部件,厂外件,国内外售后通用件,SP100,2777.500000,1323.430000,0.476484,n3,m
544623,M8619021,4.0,4.0,SP500,0.999,密封胶三键1217H(330ml/支 9990000600),一般零部件,厂外件,国内外售后通用件,SP100,2777.500000,1323.430000,0.476484,n3,m
544624,M8619021,1.0,1.0,SP500,0.999,密封胶三键1217H(330ml/支 9990000600),一般零部件,厂外件,国内外售后通用件,SP100,2777.500000,1323.430000,0.476484,n3,m
544625,M8619021,1.0,1.0,SP500,0.999,密封胶三键1217H(330ml/支 9990000600),一般零部件,厂外件,国内外售后通用件,SP100,2777.500000,1323.430000,0.476484,n3,m
544626,M8619021,1.0,1.0,SP500,0.999,密封胶三键1217H(330ml/支 9990000600),一般零部件,厂外件,国内外售后通用件,SP100,2777.500000,1323.430000,0.476484,n3,m

## 计算满足率 前面的数据要注意去重操作

In [98]:
test = fill_rate[fill_rate.purchased_quantity_type.isna()]
test[test.part_group_name=="一般零部件"]

Empty DataFrame
Columns: [part_code, fill_times, total_order_times, storage_code, total_fillrate, part_name, part_group_name, provider_type_cn_desc, part_service_status_cn_desc, storage_code_loc, purchased_quantity_sum_mean, purchased_quantity_sum_std, cv, purchased_quantity_type, fluctuation]
Index: []

In [56]:
# fill_rate.to_sql('tt_stock_strategy_fill_rate',con=engine,chunksize=10000, if_exists="append",index=False)

In [99]:
fill_rate.isna().any()

part_code                      False
fill_times                      True
total_order_times               True
storage_code                   False
total_fillrate                 False
part_name                       True
part_group_name                 True
provider_type_cn_desc           True
part_service_status_cn_desc     True
storage_code_loc                True
purchased_quantity_sum_mean    False
purchased_quantity_sum_std     False
cv                              True
purchased_quantity_type        False
fluctuation                    False
dtype: bool

In [100]:
fill_rate_summary = fill_rate.groupby(["storage_code","part_group_name","provider_type_cn_desc","part_service_status_cn_desc","purchased_quantity_type","fluctuation"])[["total_fillrate"]].mean().reset_index()
fill_rate_summary

,storage_code,part_group_name,provider_type_cn_desc,part_service_status_cn_desc,purchased_quantity_type,fluctuation,total_fillrate
0,SP100,一般零部件,厂内件,国内售后专用件,n10,L,0.963357
1,SP100,一般零部件,厂内件,国内售后专用件,n10,m,0.991837
2,SP100,一般零部件,厂内件,国内售后专用件,n10,s,0.999000
3,SP100,一般零部件,厂内件,国内售后专用件,n11,L,0.987659
4,SP100,一般零部件,厂内件,国内售后专用件,n11,m,0.999000
...,...,...,...,...,...,...,...
993,SP500,用品,外采件,国内外售后通用件,n10,L,0.999000
994,SP500,用品,外采件,国内外售后通用件,n10,m,0.999000
995,SP500,用品,外采件,国内外售后通用件,n11,L,0.999000
996,SP500,用品,外采件,国内外售后通用件,n11,m,0.999000
997,SP500,礼品,外采件,非售后件,n11,L,0.500000

In [101]:
# 让特征为空的数据也有满足率 仓库
fill_rate_na_summary = fill_rate.groupby(["storage_code","purchased_quantity_type","fluctuation"])[["total_fillrate"]].mean().reset_index()
fill_rate_na_summary

    storage_code purchased_quantity_type fluctuation  total_fillrate
0          SP100                      n1           s        0.998062
1          SP100                     n10           L        0.975175
2          SP100                     n10           m        0.986706
3          SP100                     n10           s        0.991296
4          SP100                     n11           L        0.955924
..           ...                     ...         ...             ...
215        SP500                      n8           m        0.977481
216        SP500                      n8           s        0.975529
217        SP500                      n9           L        0.958265
218        SP500                      n9           m        0.974837
219        SP500                      n9           s        0.986920

[220 rows x 4 columns]

In [102]:
fill_rate_summary.isna().any()

storage_code                   False
part_group_name                False
provider_type_cn_desc          False
part_service_status_cn_desc    False
purchased_quantity_type        False
fluctuation                    False
total_fillrate                 False
dtype: bool

In [103]:
fill_rate = fill_rate[['part_code', 'storage_code', 'part_group_name',
       'provider_type_cn_desc', 'part_service_status_cn_desc',
       'purchased_quantity_type', 'fluctuation']]

In [104]:
fill_rate_na = fill_rate[fill_rate.isna().T.any()]
fill_rate_na

,part_code,storage_code,part_group_name,provider_type_cn_desc,part_service_status_cn_desc,purchased_quantity_type,fluctuation
0,10000001090000,SP100,NaN,NaN,NaN,n11,s
1,1000000109S010,SP100,NaN,NaN,NaN,n11,s
2,1000000109S020,SP100,NaN,NaN,NaN,n11,s
3,1000000109S050,SP100,NaN,NaN,NaN,n11,s
6,1000000109SA30,SP100,NaN,NaN,NaN,n11,s
...,...,...,...,...,...,...,...
544614,M4290825,SP500,NaN,NaN,NaN,n11,s
544615,M4290830,SP500,NaN,NaN,NaN,n11,s
544616,M4290831,SP500,NaN,NaN,NaN,n11,s
544617,M8619009,SP500,NaN,NaN,NaN,n11,s
544618,M8619012,SP500,NaN,NaN,NaN,n11,s

In [105]:
fill_rate_na =fill_rate_na.merge(fill_rate_na_summary,on=["storage_code","purchased_quantity_type","fluctuation"],how="left")
fill_rate_na

,part_code,storage_code,part_group_name,provider_type_cn_desc,part_service_status_cn_desc,purchased_quantity_type,fluctuation,total_fillrate
0,10000001090000,SP100,NaN,NaN,NaN,n11,s,0.523147
1,1000000109S010,SP100,NaN,NaN,NaN,n11,s,0.523147
2,1000000109S020,SP100,NaN,NaN,NaN,n11,s,0.523147
3,1000000109S050,SP100,NaN,NaN,NaN,n11,s,0.523147
4,1000000109SA30,SP100,NaN,NaN,NaN,n11,s,0.523147
...,...,...,...,...,...,...,...,...
105909,M4290825,SP500,NaN,NaN,NaN,n11,s,0.521721
105910,M4290830,SP500,NaN,NaN,NaN,n11,s,0.521721
105911,M4290831,SP500,NaN,NaN,NaN,n11,s,0.521721
105912,M8619009,SP500,NaN,NaN,NaN,n11,s,0.521721
105913,M8619012,SP500,NaN,NaN,NaN,n11,s,0.521721

In [106]:
fill_rate_na = fill_rate_na[["storage_code","part_code","total_fillrate"]]

In [107]:
fill_rate_notna = fill_rate[~fill_rate.isna().T.any()]
fill_rate_notna

,part_code,storage_code,part_group_name,provider_type_cn_desc,part_service_status_cn_desc,purchased_quantity_type,fluctuation
4,1000000109S090,SP100,一般零部件,厂外件,国内外售后专用件,n11,L
5,1000000109S090,SP100,一般零部件,厂外件,国内外售后专用件,n11,L
9,1000000109SB20,SP100,一般零部件,厂外件,国内外售后专用件,n10,L
10,1000000109SB20,SP100,一般零部件,厂外件,国内外售后专用件,n10,L
11,1000000109SB20,SP100,一般零部件,厂外件,国内外售后专用件,n10,L
...,...,...,...,...,...,...,...
544622,M8619021,SP500,一般零部件,厂外件,国内外售后通用件,n3,m
544623,M8619021,SP500,一般零部件,厂外件,国内外售后通用件,n3,m
544624,M8619021,SP500,一般零部件,厂外件,国内外售后通用件,n3,m
544625,M8619021,SP500,一般零部件,厂外件,国内外售后通用件,n3,m
544626,M8619021,SP500,一般零部件,厂外件,国内外售后通用件,n3,m

In [108]:
fill_rate_notna = fill_rate_notna.merge(fill_rate_summary,on=["storage_code", 'part_group_name','provider_type_cn_desc', 'part_service_status_cn_desc',"purchased_quantity_type","fluctuation"],how="left")
fill_rate_notna

,part_code,storage_code,part_group_name,provider_type_cn_desc,part_service_status_cn_desc,purchased_quantity_type,fluctuation,total_fillrate
0,1000000109S090,SP100,一般零部件,厂外件,国内外售后专用件,n11,L,0.979159
1,1000000109S090,SP100,一般零部件,厂外件,国内外售后专用件,n11,L,0.979159
2,1000000109SB20,SP100,一般零部件,厂外件,国内外售后专用件,n10,L,0.971693
3,1000000109SB20,SP100,一般零部件,厂外件,国内外售后专用件,n10,L,0.971693
4,1000000109SB20,SP100,一般零部件,厂外件,国内外售后专用件,n10,L,0.971693
...,...,...,...,...,...,...,...,...
438708,M8619021,SP500,一般零部件,厂外件,国内外售后通用件,n3,m,0.999000
438709,M8619021,SP500,一般零部件,厂外件,国内外售后通用件,n3,m,0.999000
438710,M8619021,SP500,一般零部件,厂外件,国内外售后通用件,n3,m,0.999000
438711,M8619021,SP500,一般零部件,厂外件,国内外售后通用件,n3,m,0.999000
438712,M8619021,SP500,一般零部件,厂外件,国内外售后通用件,n3,m,0.999000

In [109]:
fill_rate_notna.isna().any()

part_code                      False
storage_code                   False
part_group_name                False
provider_type_cn_desc          False
part_service_status_cn_desc    False
purchased_quantity_type        False
fluctuation                    False
total_fillrate                 False
dtype: bool

In [110]:
fill_rate_notna = fill_rate_notna[["storage_code","part_code","total_fillrate"]]

## 得到仓库,零件维度满足率

In [111]:
fill_rate_storage_part = fill_rate_notna.append(fill_rate_na)
fill_rate_storage_part

       storage_code       part_code  total_fillrate
0             SP100  1000000109S090        0.979159
1             SP100  1000000109S090        0.979159
2             SP100  1000000109SB20        0.971693
3             SP100  1000000109SB20        0.971693
4             SP100  1000000109SB20        0.971693
...             ...             ...             ...
105909        SP500        M4290825        0.521721
105910        SP500        M4290830        0.521721
105911        SP500        M4290831        0.521721
105912        SP500        M8619009        0.521721
105913        SP500        M8619012        0.521721

[544627 rows x 3 columns]

In [118]:
fill_rate_storage_part["upload_time"] = "2022-03-21, 11:30:03"

In [119]:
fill_rate_storage_part.to_sql('tt_demand_fill_rate',con=engine,chunksize=10000, if_exists='append',index=False)

# 预测结果计算加权,安全库存第一部分
1. 计算过去180天移动累计销量range[D30]
2. Dm = (当月剩余天数 * 预测当月销量 + 下月天数 * 预测下月销量)/(当月剩余天数+下月天数)
3. Delta = range[D30] 95% 分位数 - Dm
4. 安全库存销量波动性部分 = Delta * Tm 注意周期的统一 Tm是运输日期的平均值

## 计算移动累积销量 range[D30]

In [112]:
sql="""
select * from tt_demand_train_original_detail where substr(upload_time,1,10) = "2022-03-03"
"""
arimax_data = pd.read_sql(sql,engine)
arimax_data

,submit_date,dealer_code,part_code,purchased_quantity,order_type,status,storage_code,upload_time
0,2020-07-29,DAAA001,10060082040000,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
1,2020-07-29,DAAA001,6225003ASV0001M69,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
2,2020-07-29,DAAA001,6310003ASV0401DJ1,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
3,2020-07-29,DAAA001,6320003ASV0301DJ1,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
4,2020-07-29,DAAA001,7105016ASV0100,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
...,...,...,...,...,...,...,...,...
9545370,2022-03-17,DGSA030,7105030ADU0000,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"
9545371,2022-03-17,DGZC020,5410131ASV00F0L2Z,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
9545372,2022-03-17,DGDA130,8115003ADU0000,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
9545373,2022-03-17,DGSA030,8125006ADU1000,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"
9545374,2022-03-17,DNXA040,7210002ASV0303L2Z,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"

In [113]:
import calendar

In [114]:
# 时间的计算, 计算过去180天
# end= arrow.now()
## 测试开始
end='2022-03-17'
end = arrow.get(end)
## 测试结束
# 计算下月
next = end.shift(months = 1)
# end = end.shift(days = -1)
start = end.shift(days = -179)
forward = start.shift(days = -29)

forward = forward.format("YYYY-MM-DD")
start = start.format("YYYY-MM-DD")
end = end.format("YYYY-MM-DD")
next = next.format("YYYY-MM")
print(f"forward:{forward},start:{start}, end:{end},next:{next}")

forward:2021-08-21,start:2021-09-19, end:2022-03-17,next:2022-04

In [115]:
day_left = calendar.monthrange(int(end[0:4]),int(end[5:7]))[1] - int(end[-2:])
day_left

14

In [116]:
day_next = calendar.monthrange(int(next[0:4]),int(next[5:7]))[1]
day_next

30

In [117]:
pd.date_range(forward,end,freq="D")

DatetimeIndex(['2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24',
               '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28',
               '2021-08-29', '2021-08-30',
               ...
               '2022-03-08', '2022-03-09', '2022-03-10', '2022-03-11',
               '2022-03-12', '2022-03-13', '2022-03-14', '2022-03-15',
               '2022-03-16', '2022-03-17'],
              dtype='datetime64[ns]', length=209, freq='D')

In [120]:
def expand_rolling_pur(arimax_data,begin,end):
    part_list = arimax_data.part_code.unique()
    storage_list = arimax_data.storage_code.unique()
    begin = begin
    end = end
    df = pd.DataFrame()
    df["month"]=pd.date_range(begin,end,freq="D")
    df["month"] = df["month"].apply(lambda x:x.strftime('%Y-%m-%d'))
    df["value"]="abc"
    part_df = pd.DataFrame(part_list,columns=["part_code"])
    part_df["value"]="abc"
    storage_df = pd.DataFrame(storage_list,columns=["storage_code"])
    storage_df["value"]="abc"
    df =df.merge(part_df, how="left", on="value")
    date_period = df.merge(storage_df, how="left", on="value")
    date_period.drop(columns=["value"],inplace=True)
    arimax_data = arimax_data[["month","storage_code","part_code","purchased_quantity"]].merge(date_period, how="outer", on=["month","storage_code","part_code"])
    arimax_data.fillna(0,inplace=True)
    return arimax_data

In [121]:
df_rolling_pur = arimax_data[arimax_data.submit_date.between(forward,end)]

In [122]:
df_rolling_pur.drop(columns=["dealer_code","order_type","status","upload_time"],inplace=True)

In [123]:
df_rolling_pur.rename(columns={"submit_date":"month"},inplace=True)

In [124]:
df_rolling_pur = make_subsitute(df_rolling_pur)

In [125]:
df_rolling_pur

,month,part_code,purchased_quantity,storage_code,option_part_id,option_part_code,option_part_name,part_id,part_name,part_code_original
0,2021-11-18,8990011BCD0031,2.0,SP100,NaN,NaN,NaN,NaN,NaN,8990011BCD0031
1,2021-11-18,8990011BCD0154,2.0,SP100,NaN,NaN,NaN,NaN,NaN,8990011BCD0154
2,2021-11-18,8990011BCD0155,2.0,SP100,NaN,NaN,NaN,NaN,NaN,8990011BCD0155
3,2021-09-22,8990011BCD0117,2.0,SP100,NaN,NaN,NaN,NaN,NaN,8990011BCD0117
4,2021-10-18,8990011BCD0118,2.0,SP100,NaN,NaN,NaN,NaN,NaN,8990011BCD0118
...,...,...,...,...,...,...,...,...,...,...
2008587,2022-03-17,7105030ADU0000,1.0,SP170,NaN,NaN,NaN,NaN,NaN,7105030ADU0000
2008588,2022-03-17,5410131ASV00F0L2Z,1.0,SP100,4474.0,5410131ASV00F0L2Z,左后门窗框装饰亮条_暖亮银镀铬,4474.0,左后门窗框装饰亮条_暖亮银镀铬,5410131ASV00F0L2Z
2008589,2022-03-17,8115003ADU0000,1.0,SP100,NaN,NaN,NaN,NaN,NaN,8115003ADU0000
2008590,2022-03-17,8125006ADU1000,1.0,SP170,NaN,NaN,NaN,NaN,NaN,8125006ADU1000
2008591,2022-03-17,7210002ASV0302L2Z,1.0,SP170,33119.0,7210002ASV0303L2Z,右前组合灯_暖亮银镀铬,31396.0,右前组合灯_暖亮银镀铬,7210002ASV0303L2Z

In [126]:
df_rolling_pur = expand_rolling_pur(df_rolling_pur,forward,end)
df_rolling_pur

               month storage_code       part_code  purchased_quantity
0         2021-11-18        SP100  8990011BCD0031                 2.0
1         2021-11-18        SP100  8990011BCD0154                 2.0
2         2021-11-18        SP100  8990011BCD0155                 2.0
3         2021-09-22        SP100  8990011BCD0117                 2.0
4         2021-10-18        SP100  8990011BCD0118                 2.0
...              ...          ...             ...                 ...
51884444  2022-03-17        SP170  6225025ADU0000                 0.0
51884445  2022-03-17        SP140  6225025ADU0000                 0.0
51884446  2022-03-17        SP500  6225025ADU0000                 0.0
51884447  2022-03-17        SP130  6225025ADU0000                 0.0
51884448  2022-03-17        SP160  6225025ADU0000                 0.0

[51884449 rows x 4 columns]

In [127]:
df_rolling_pur = df_rolling_pur.groupby(["storage_code","part_code","month"])[["purchased_quantity"]].sum().reset_index()

In [128]:
df_rolling_pur.sort_values(["storage_code","part_code","month"],ascending=[True,True,True])

         storage_code       part_code       month  purchased_quantity
0               SP100  10000001090000  2021-08-21                 0.0
1               SP100  10000001090000  2021-08-22                 0.0
2               SP100  10000001090000  2021-08-23                 0.0
3               SP100  10000001090000  2021-08-24                 0.0
4               SP100  10000001090000  2021-08-25                 0.0
...               ...             ...         ...                 ...
51174481        SP500        M8619029  2022-03-13                 0.0
51174482        SP500        M8619029  2022-03-14                 0.0
51174483        SP500        M8619029  2022-03-15                 0.0
51174484        SP500        M8619029  2022-03-16                 0.0
51174485        SP500        M8619029  2022-03-17                 0.0

[51174486 rows x 4 columns]

In [129]:
df_rolling_pur.month = pd.to_datetime(df_rolling_pur.month)

In [130]:
df_rolling_pur.set_index("month",inplace=True)

In [131]:
df_rolling_pur = df_rolling_pur.groupby(["storage_code","part_code"]).purchased_quantity.rolling(30,30).sum()

In [132]:
df_rolling_pur = df_rolling_pur.reset_index().dropna()

In [133]:
# 得到过去180天的移动30天销量和
df_rolling_pur

         storage_code       part_code      month  purchased_quantity
29              SP100  10000001090000 2021-09-19                 0.0
30              SP100  10000001090000 2021-09-20                 0.0
31              SP100  10000001090000 2021-09-21                 0.0
32              SP100  10000001090000 2021-09-22                 0.0
33              SP100  10000001090000 2021-09-23                 0.0
...               ...             ...        ...                 ...
51174481        SP500        M8619029 2022-03-13                 0.0
51174482        SP500        M8619029 2022-03-14                 0.0
51174483        SP500        M8619029 2022-03-15                 0.0
51174484        SP500        M8619029 2022-03-16                 0.0
51174485        SP500        M8619029 2022-03-17                 0.0

[44073720 rows x 4 columns]

In [134]:
df_rolling_pur_quantile = df_rolling_pur.groupby(["storage_code","part_code"])[["purchased_quantity"]].quantile(0.95)

In [135]:
df_rolling_pur[(df_rolling_pur.storage_code=="SP500")&(df_rolling_pur.part_code=="M8619021")]

         storage_code part_code      month  purchased_quantity
51174097        SP500  M8619021 2021-09-19               660.0
51174098        SP500  M8619021 2021-09-20               660.0
51174099        SP500  M8619021 2021-09-21               660.0
51174100        SP500  M8619021 2021-09-22               660.0
51174101        SP500  M8619021 2021-09-23               660.0
...               ...       ...        ...                 ...
51174272        SP500  M8619021 2022-03-13              3630.0
51174273        SP500  M8619021 2022-03-14              3630.0
51174274        SP500  M8619021 2022-03-15              3960.0
51174275        SP500  M8619021 2022-03-16              4290.0
51174276        SP500  M8619021 2022-03-17              4290.0

[180 rows x 4 columns]

In [136]:
df_rolling_pur_quantile.reset_index(inplace=True)
df_rolling_pur_quantile

       storage_code       part_code  purchased_quantity
0             SP100  10000001090000                 1.0
1             SP100  1000000109S090                 5.0
2             SP100  1000000109SB20                20.0
3             SP100  1000000109SB40                 0.0
4             SP100  1000000109SB90                 0.0
...             ...             ...                 ...
244849        SP500  G837005AMV0000                 0.0
244850        SP500  G850005AMV0000                 0.0
244851        SP500        M8619009                 0.0
244852        SP500        M8619021              4290.0
244853        SP500        M8619029                 0.0

[244854 rows x 3 columns]

## 计算Dm

In [138]:
n0=arrow.now()
n1=n0.shift(months=1)
n0=n0.format("YYYY-MM")
n1=n1.format("YYYY-MM")
n0,n1

('2022-03', '2022-04')

In [139]:
sql=f"""
select * from tt_demand_prediction where version="4.4" and month in({n0},{n1})
"""
prediction = pd.read_sql(sql,engine)
prediction

,month,storage_code,part_code,purchased_quantity_sum,purchased_quantity_sum_original,purchased_quantity_original_1st,prediction,p_index,d_index,q_index,confint_min,confint_max,DW,pre_date,version
0,2019-01,SP100,10000001090000,0.0,None,0.0,0.0,3.0,2,0.0,0.0,2771.0,None,2022-03-18,4.4
1,2019-02,SP100,10000001090000,0.0,None,0.0,0.0,3.0,2,0.0,0.0,1386.0,None,2022-03-18,4.4
2,2019-03,SP100,10000001090000,0.0,None,0.0,0.0,3.0,2,0.0,0.0,0.0,None,2022-03-18,4.4
3,2019-04,SP100,10000001090000,1.0,None,1.0,0.0,3.0,2,0.0,0.0,1.0,None,2022-03-18,4.4
4,2019-05,SP100,10000001090000,0.0,None,0.0,0.0,3.0,2,0.0,0.0,1.0,None,2022-03-18,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852866,2019-08,SP500,8535008BAD0000A23,0.0,None,0.0,0.0,0.0,0,0.0,0.0,1.0,None,2022-03-18,4.4
852867,2019-09,SP500,8535008BAD0000A23,0.0,None,0.0,0.0,0.0,0,0.0,0.0,1.0,None,2022-03-18,4.4
852868,2019-10,SP500,8535008BAD0000A23,0.0,None,0.0,1.0,0.0,0,0.0,0.0,2.0,None,2022-03-18,4.4
852869,2019-11,SP500,8535008BAD0000A23,0.0,None,0.0,0.0,0.0,0,0.0,0.0,1.0,None,2022-03-18,4.4
852870,2019-12,SP500,8535008BAD0000A23,0.0,None,0.0,0.0,0.0,0,0.0,0.0,1.0,None,2022-03-18,4.4

In [140]:
prediction = prediction[["month","storage_code","part_code","prediction"]]

In [141]:
prediction = prediction.set_index(["storage_code","part_code","month"])["prediction"].unstack().reset_index()

In [142]:
prediction_lst = prediction.columns

In [143]:
prediction["day_left"]=day_left
prediction["day_next"]=day_next
prediction["Dm"] = (prediction["day_left"]*prediction[prediction_lst[-2]] + prediction["day_next"]*prediction[prediction_lst[-1]])/(prediction["day_left"]+prediction["day_next"])

In [144]:
prediction= prediction[["storage_code","part_code","Dm"]]
prediction.reset_index(drop=True)
prediction.columns.name=None

In [145]:
prediction

      storage_code       part_code            Dm
0            SP100  10000001090000      0.000000
1            SP100  1000000109S010      0.000000
2            SP100  1000000109S050      0.000000
3            SP100  1000000109S090      0.000000
4            SP100  1000000109SB20      4.636364
...            ...             ...           ...
77168        SP500        997S0002      0.000000
77169        SP500        998S3501    483.000000
77170        SP500        999S0001      0.000000
77171        SP500        999S0002      1.000000
77172        SP500        M8619021  11301.909091

[77173 rows x 3 columns]

In [146]:
df_delta = df_rolling_pur_quantile.merge(prediction,on=["storage_code","part_code"],how="outer")

In [147]:
df_delta.fillna(0,inplace=True)

In [148]:
df_delta

       storage_code       part_code  purchased_quantity        Dm
0             SP100  10000001090000                 1.0  0.000000
1             SP100  1000000109S090                 5.0  0.000000
2             SP100  1000000109SB20                20.0  4.636364
3             SP100  1000000109SB40                 0.0  6.318182
4             SP100  1000000109SB90                 0.0  0.000000
...             ...             ...                 ...       ...
247373        SP500  8990011BCD0130                 0.0  6.045455
247374        SP500  8990011BCD0133                 0.0  1.681818
247375        SP500  8990011BCD0137                 0.0  2.681818
247376        SP500  8990011BCD0138                 0.0  0.000000
247377        SP500  8990011BCD0151                 0.0  0.000000

[247378 rows x 4 columns]

In [149]:
df_delta['delta'] = np.abs(df_delta.purchased_quantity-df_delta.Dm)

## 计算运输周期和标准差.
- 二次去除异常值

In [150]:
sql="""
select * from dm_mdp.statistics_pt_purchase_factory
"""
pt_purchase_factory = pd.read_sql(sql,conn)
pt_purchase_factory

,statistics_pt_purchase_factory.statistics_monthly,statistics_pt_purchase_factory.part_no,statistics_pt_purchase_factory.part_name,statistics_pt_purchase_factory.provider_code,statistics_pt_purchase_factory.provider_name,statistics_pt_purchase_factory.storage_code,statistics_pt_purchase_factory.storage_name,statistics_pt_purchase_factory.is_storage_point,statistics_pt_purchase_factory.order_quantity_unarrived,statistics_pt_purchase_factory.in_quantity,statistics_pt_purchase_factory.stock_quantity,statistics_pt_purchase_factory.audit_quantity,statistics_pt_purchase_factory.stock_out_quantity,statistics_pt_purchase_factory.order_quantity_sum,statistics_pt_purchase_factory.order_count,statistics_pt_purchase_factory.order_quantity,statistics_pt_purchase_factory.arrived_count,statistics_pt_purchase_factory.arrived_quantity,statistics_pt_purchase_factory.order_cycle_avg,statistics_pt_purchase_factory.ship_cycle_avg,statistics_pt_purchase_factory.ship_cycle_std,statistics_pt_purchase_factory.ship_cycle_var
0,202101,10020181310000,机油冷却喷嘴总成,VX101,绵阳富临精工股份有限公司,SP100,SP100-售后零部件中心仓,是,0,0,0,0,0,0,1,40,1,40,0.0,22.0,0.0,0.0
1,202101,10030432010000,气缸盖螺栓,VD405,浙江明泰控股发展股份有限公司,SP100,SP100-售后零部件中心仓,是,0,0,0,0,0,0,1,120,1,120,0.0,17.0,0.0,0.0
2,202101,10130041540000,油轨喷油器总成,VD102,联合汽车电子有限公司,SP100,SP100-售后零部件中心仓,否,0,0,0,0,0,0,1,10,1,10,0.0,63.0,0.0,0.0
3,202101,1120024ADE0100,压差传感器连接管路,VD162,山东美晨工业集团有限公司,SP100,SP100-售后零部件中心仓,是,0,0,0,0,0,0,1,1,1,1,0.0,24.0,0.0,0.0
4,202101,1310003BADSE70,半轴齿轮,VB105,唐山爱信齿轮有限责任公司,SP100,SP100-售后零部件中心仓,是,0,0,0,0,0,0,1,10,1,10,0.0,37.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90258,202203,6740031BSV0000,后地板左底护板,VD523,温州市环球汽车衬垫有限公司,SP500,SP500-宜昌中心仓,是,4,0,0,0,0,0,1,4,0,0,0.0,0.0,0.0,0.0
90259,202203,7105063BSV0000CS9,前保险杠下饰条_枪灰色,VG507Z1,武汉和盛汽车零部件有限公司,SP500,SP500-宜昌中心仓,是,787,0,105,0,0,0,2,787,0,0,7.0,0.0,0.0,0.0
90260,202203,7106011BSV0000,后保险杠左安装支架总成,VG555,佛山航天华涛汽车塑料饰件有限公司,SP500,SP500-宜昌中心仓,是,15,0,109,0,0,0,2,95,0,0,7.0,7.0,0.0,0.0
90261,202203,8535006ATN0100B03,倒车雷达传感器支架_珍珠白,VG307,铁将军汽车电子股份有限公司,SP500,SP500-宜昌中心仓,是,0,0,73,0,0,0,1,30,1,30,16.0,7.0,0.0,0.0
90262,202109,8950005CSV0001,GS4 Coupe（A39-III）随车资料,ZC842,厦门合兴包装印刷股份有限公司,SP800,SP800-销售公司用品仓库,否,0,0,17,0,0,0,1,20,1,20,0.0,1.0,0.0,0.0

In [151]:
pt_purchase_factory.columns = [name.split(".")[1] for name in pt_purchase_factory.columns]
pt_purchase_factory

,statistics_monthly,part_no,part_name,provider_code,provider_name,storage_code,storage_name,is_storage_point,order_quantity_unarrived,in_quantity,stock_quantity,audit_quantity,stock_out_quantity,order_quantity_sum,order_count,order_quantity,arrived_count,arrived_quantity,order_cycle_avg,ship_cycle_avg,ship_cycle_std,ship_cycle_var
0,202101,10020181310000,机油冷却喷嘴总成,VX101,绵阳富临精工股份有限公司,SP100,SP100-售后零部件中心仓,是,0,0,0,0,0,0,1,40,1,40,0.0,22.0,0.0,0.0
1,202101,10030432010000,气缸盖螺栓,VD405,浙江明泰控股发展股份有限公司,SP100,SP100-售后零部件中心仓,是,0,0,0,0,0,0,1,120,1,120,0.0,17.0,0.0,0.0
2,202101,10130041540000,油轨喷油器总成,VD102,联合汽车电子有限公司,SP100,SP100-售后零部件中心仓,否,0,0,0,0,0,0,1,10,1,10,0.0,63.0,0.0,0.0
3,202101,1120024ADE0100,压差传感器连接管路,VD162,山东美晨工业集团有限公司,SP100,SP100-售后零部件中心仓,是,0,0,0,0,0,0,1,1,1,1,0.0,24.0,0.0,0.0
4,202101,1310003BADSE70,半轴齿轮,VB105,唐山爱信齿轮有限责任公司,SP100,SP100-售后零部件中心仓,是,0,0,0,0,0,0,1,10,1,10,0.0,37.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90258,202203,6740031BSV0000,后地板左底护板,VD523,温州市环球汽车衬垫有限公司,SP500,SP500-宜昌中心仓,是,4,0,0,0,0,0,1,4,0,0,0.0,0.0,0.0,0.0
90259,202203,7105063BSV0000CS9,前保险杠下饰条_枪灰色,VG507Z1,武汉和盛汽车零部件有限公司,SP500,SP500-宜昌中心仓,是,787,0,105,0,0,0,2,787,0,0,7.0,0.0,0.0,0.0
90260,202203,7106011BSV0000,后保险杠左安装支架总成,VG555,佛山航天华涛汽车塑料饰件有限公司,SP500,SP500-宜昌中心仓,是,15,0,109,0,0,0,2,95,0,0,7.0,7.0,0.0,0.0
90261,202203,8535006ATN0100B03,倒车雷达传感器支架_珍珠白,VG307,铁将军汽车电子股份有限公司,SP500,SP500-宜昌中心仓,是,0,0,73,0,0,0,1,30,1,30,16.0,7.0,0.0,0.0
90262,202109,8950005CSV0001,GS4 Coupe（A39-III）随车资料,ZC842,厦门合兴包装印刷股份有限公司,SP800,SP800-销售公司用品仓库,否,0,0,17,0,0,0,1,20,1,20,0.0,1.0,0.0,0.0

In [152]:
pt_purchase_factory.columns

Index(['statistics_monthly', 'part_no', 'part_name', 'provider_code',
       'provider_name', 'storage_code', 'storage_name', 'is_storage_point',
       'order_quantity_unarrived', 'in_quantity', 'stock_quantity',
       'audit_quantity', 'stock_out_quantity', 'order_quantity_sum',
       'order_count', 'order_quantity', 'arrived_count', 'arrived_quantity',
       'order_cycle_avg', 'ship_cycle_avg', 'ship_cycle_std',
       'ship_cycle_var'],
      dtype='object')

In [153]:
purchase_factory_statistics = pt_purchase_factory[['statistics_monthly','part_no','order_cycle_avg', 'ship_cycle_avg', 'ship_cycle_std']]
purchase_factory_statistics

,statistics_monthly,part_no,order_cycle_avg,ship_cycle_avg,ship_cycle_std
0,202101,10020181310000,0.0,22.0,0.0
1,202101,10030432010000,0.0,17.0,0.0
2,202101,10130041540000,0.0,63.0,0.0
3,202101,1120024ADE0100,0.0,24.0,0.0
4,202101,1310003BADSE70,0.0,37.0,0.0
...,...,...,...,...,...
90258,202203,6740031BSV0000,0.0,0.0,0.0
90259,202203,7105063BSV0000CS9,7.0,0.0,0.0
90260,202203,7106011BSV0000,7.0,7.0,0.0
90261,202203,8535006ATN0100B03,16.0,7.0,0.0
90262,202109,8950005CSV0001,0.0,1.0,0.0

In [154]:
def change_columns(df):
    name_lst=[]
    for name in df.columns:
        if name[1]=="":
             name_lst.append(name[0])
        else:
            tmp = "_".join([name[0],name[1]])
            name_lst.append(tmp)
    return name_lst

In [155]:
def cal_exor_mean(df):
    df["forward"].fillna(method="ffill",inplace=True)
    df["backward"].fillna(method="bfill",inplace=True)
    df["forward"].fillna(method="bfill",inplace=True)
    df["backward"].fillna(method="ffill",inplace=True)
    return df

In [156]:
# 清除异常数据
def smooth_outliers(df,group_code,cal_code,cal_times=3):
    df_mean_std = df.groupby(group_code).agg({cal_code:["mean","std"]})
    df_mean_std = df_mean_std.reset_index()
    df_mean_std.columns = change_columns(df_mean_std)
    df_mean_std[f"{cal_code}_std"].fillna(0,inplace=True)
    df = df.merge(df_mean_std,on=group_code,how="left")
    df[f"{cal_code}_max"] = df[f"{cal_code}_mean"] + cal_times*df[f"{cal_code}_std"]
    df[f"{cal_code}_min"] = df[f"{cal_code}_mean"] - cal_times*df[f"{cal_code}_std"]
    df_temp = df[~df[cal_code].between(df[f"{cal_code}_min"],df[f"{cal_code}_max"])]
    df_temp.sort_values([f"{group_code}","statistics_monthly"],ascending=[True,True])
    df_temp = df_temp[["statistics_monthly",f"{group_code}"]]
    df_temp["forward"]="abc"
    df_temp["backward"]="abc"
    df_temp["mfill"]="abc"
    df = df.merge(df_temp,on=["statistics_monthly",f"{group_code}"],how="left")
    df["purchased_quantity_original"] = df[cal_code]
    df["forward"].fillna(value=df[cal_code],inplace=True)
    df["backward"].fillna(value=df[cal_code],inplace=True)
    df.loc[df.forward=="abc",["forward","backward"]] = np.nan
    df_temp = df.groupby(by=group_code).apply(lambda x:cal_exor_mean(x))
    df_temp[cal_code]=(df_temp.forward+df_temp.backward)/2
    return df_temp

In [157]:
df = purchase_factory_statistics[["statistics_monthly","part_no","order_cycle_avg"]]
group_code= "part_no"
cal_code = "order_cycle_avg"

In [158]:
smooth_1st = smooth_outliers(df,group_code,cal_code,cal_times=3)

In [159]:
smooth_1st

,statistics_monthly,part_no,order_cycle_avg,order_cycle_avg_mean,order_cycle_avg_std,order_cycle_avg_max,order_cycle_avg_min,forward,backward,mfill,purchased_quantity_original
0,202101,10020181310000,0.0,34.000000,32.186954,130.560862,-62.560862,0.0,0.0,NaN,0.0
1,202101,10030432010000,0.0,15.979762,11.202877,49.588393,-17.628869,0.0,0.0,NaN,0.0
2,202101,10130041540000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,0.0
3,202101,1120024ADE0100,0.0,50.500000,71.417785,264.753355,-163.753355,0.0,0.0,NaN,0.0
4,202101,1310003BADSE70,0.0,85.250000,122.739222,453.467667,-282.967667,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
90292,202203,6740031BSV0000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,0.0
90293,202203,7105063BSV0000CS9,7.0,13.229167,10.190619,43.801023,-17.342690,7.0,7.0,NaN,7.0
90294,202203,7106011BSV0000,7.0,16.281250,13.532950,56.880101,-24.317601,7.0,7.0,NaN,7.0
90295,202203,8535006ATN0100B03,16.0,35.454545,31.550321,130.105507,-59.196416,16.0,16.0,NaN,16.0
90296,202109,8950005CSV0001,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,0.0

In [160]:
df = smooth_1st[["statistics_monthly","part_no","order_cycle_avg"]]
group_code= "part_no"
cal_code = "order_cycle_avg"

In [161]:
smooth_2nd = smooth_outliers(df,group_code,cal_code,cal_times=2)

In [162]:
smooth_2nd

,statistics_monthly,part_no,order_cycle_avg,order_cycle_avg_mean,order_cycle_avg_std,order_cycle_avg_max,order_cycle_avg_min,forward,backward,mfill,purchased_quantity_original
0,202101,10020181310000,0.0,34.000000,32.186954,98.373908,-30.373908,0.0,0.0,NaN,0.0
1,202101,10030432010000,0.0,15.979762,11.202877,38.385516,-6.425992,0.0,0.0,NaN,0.0
2,202101,10130041540000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,0.0
3,202101,1120024ADE0100,0.0,50.500000,71.417785,193.335570,-92.335570,0.0,0.0,NaN,0.0
4,202101,1310003BADSE70,0.0,85.250000,122.739222,330.728444,-160.228444,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
90374,202203,6740031BSV0000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,0.0
90375,202203,7105063BSV0000CS9,7.0,13.229167,10.190619,33.610404,-7.152071,7.0,7.0,NaN,7.0
90376,202203,7106011BSV0000,7.0,16.281250,13.532950,43.347151,-10.784651,7.0,7.0,NaN,7.0
90377,202203,8535006ATN0100B03,16.0,35.454545,31.550321,98.555187,-27.646096,16.0,16.0,NaN,16.0
90378,202109,8950005CSV0001,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,0.0

In [163]:
part_order_cycle = smooth_2nd.groupby("part_no")[["order_cycle_avg"]].mean().reset_index()

In [164]:
part_order_cycle

              part_no  order_cycle_avg
0      10000001090000        70.166667
1      1000000109SB20         0.000000
2      1000000109SC10         0.000000
3      1000000109SC20         0.000000
4      1000000109SC40         0.000000
...               ...              ...
26444          W91131        50.300000
26445          W91132         0.000000
26446          W91133        50.300000
26447          W99235         0.000000
26448          W99236        50.300000

[26449 rows x 2 columns]

In [165]:
df = purchase_factory_statistics[["statistics_monthly","part_no","ship_cycle_avg"]]
group_code= "part_no"
cal_code = "ship_cycle_avg"

In [166]:
smooth_1st = smooth_outliers(df,group_code,cal_code,cal_times=3)

In [167]:
smooth_1st

,statistics_monthly,part_no,ship_cycle_avg,ship_cycle_avg_mean,ship_cycle_avg_std,ship_cycle_avg_max,ship_cycle_avg_min,forward,backward,mfill,purchased_quantity_original
0,202101,10020181310000,22.0,28.000000,6.000000,46.000000,10.000000,22.0,22.0,NaN,22.0
1,202101,10030432010000,17.0,20.469048,12.945768,59.306351,-18.368255,17.0,17.0,NaN,17.0
2,202101,10130041540000,63.0,63.000000,0.000000,63.000000,63.000000,63.0,63.0,NaN,63.0
3,202101,1120024ADE0100,24.0,22.750000,1.767767,28.053301,17.446699,24.0,24.0,NaN,24.0
4,202101,1310003BADSE70,37.0,24.000000,29.131884,111.395652,-63.395652,37.0,37.0,NaN,37.0
...,...,...,...,...,...,...,...,...,...,...,...
90286,202203,6740031BSV0000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,0.0
90287,202203,7105063BSV0000CS9,0.0,25.125000,13.970419,67.036258,-16.786258,0.0,0.0,NaN,0.0
90288,202203,7106011BSV0000,7.0,9.062500,4.880263,23.703288,-5.578288,7.0,7.0,NaN,7.0
90289,202203,8535006ATN0100B03,7.0,13.000000,6.606815,32.820444,-6.820444,7.0,7.0,NaN,7.0
90290,202109,8950005CSV0001,1.0,1.000000,0.000000,1.000000,1.000000,1.0,1.0,NaN,1.0

In [168]:
df = smooth_1st[["statistics_monthly","part_no","ship_cycle_avg"]]
group_code= "part_no"
cal_code = "ship_cycle_avg"

In [169]:
smooth_2nd = smooth_outliers(df,group_code,cal_code,cal_times=2)

In [170]:
smooth_2nd

,statistics_monthly,part_no,ship_cycle_avg,ship_cycle_avg_mean,ship_cycle_avg_std,ship_cycle_avg_max,ship_cycle_avg_min,forward,backward,mfill,purchased_quantity_original
0,202101,10020181310000,22.0,28.000000,6.000000,40.000000,16.000000,22.0,22.0,NaN,22.0
1,202101,10030432010000,17.0,20.469048,12.945768,46.360583,-5.422488,17.0,17.0,NaN,17.0
2,202101,10130041540000,63.0,63.000000,0.000000,63.000000,63.000000,63.0,63.0,NaN,63.0
3,202101,1120024ADE0100,24.0,22.750000,1.767767,26.285534,19.214466,24.0,24.0,NaN,24.0
4,202101,1310003BADSE70,37.0,24.000000,29.131884,82.263768,-34.263768,37.0,37.0,NaN,37.0
...,...,...,...,...,...,...,...,...,...,...,...
90388,202203,6740031BSV0000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,0.0
90389,202203,7105063BSV0000CS9,0.0,25.125000,13.970419,53.065839,-2.815839,0.0,0.0,NaN,0.0
90390,202203,7106011BSV0000,7.0,9.062500,4.880263,18.823025,-0.698025,7.0,7.0,NaN,7.0
90391,202203,8535006ATN0100B03,7.0,13.000000,6.606815,26.213629,-0.213629,7.0,7.0,NaN,7.0
90392,202109,8950005CSV0001,1.0,1.000000,0.000000,1.000000,1.000000,1.0,1.0,NaN,1.0

In [171]:
part_ship_cycle = smooth_2nd.groupby("part_no").agg({"ship_cycle_avg":["mean","std"]}).reset_index()
part_ship_cycle.columns = change_columns(part_ship_cycle)
part_ship_cycle.ship_cycle_avg_std.fillna(0,inplace=True)

In [172]:
part_ship_cycle

              part_no  ship_cycle_avg_mean  ship_cycle_avg_std
0      10000001090000            27.666667           29.091809
1      1000000109SB20            48.000000            0.000000
2      1000000109SC10            48.000000            0.000000
3      1000000109SC20            48.000000            0.000000
4      1000000109SC40            48.000000            0.000000
...               ...                  ...                 ...
26444          W91131            48.200000           25.878563
26445          W91132            72.000000            0.000000
26446          W91133            48.200000           25.878563
26447          W99235            72.000000            0.000000
26448          W99236            48.200000           25.878563

[26449 rows x 3 columns]

In [173]:
part_ship_cycle.rename(columns={"part_no":"part_code"},inplace=True)

## 计算第一部分

In [174]:
df_delta

       storage_code       part_code  purchased_quantity        Dm      delta
0             SP100  10000001090000                 1.0  0.000000   1.000000
1             SP100  1000000109S090                 5.0  0.000000   5.000000
2             SP100  1000000109SB20                20.0  4.636364  15.363636
3             SP100  1000000109SB40                 0.0  6.318182   6.318182
4             SP100  1000000109SB90                 0.0  0.000000   0.000000
...             ...             ...                 ...       ...        ...
247373        SP500  8990011BCD0130                 0.0  6.045455   6.045455
247374        SP500  8990011BCD0133                 0.0  1.681818   1.681818
247375        SP500  8990011BCD0137                 0.0  2.681818   2.681818
247376        SP500  8990011BCD0138                 0.0  0.000000   0.000000
247377        SP500  8990011BCD0151                 0.0  0.000000   0.000000

[247378 rows x 5 columns]

In [175]:
part_ship_cycle.columns = ['part_code', 'ship_cycle_avg_mean', 'ship_cycle_avg_std']

In [176]:
ss_part_1 = df_delta.merge(part_ship_cycle,on="part_code",how="left")

In [177]:
ss_part_1.ship_cycle_avg_mean.fillna(ss_part_1.ship_cycle_avg_mean.mean(),inplace=True)
ss_part_1

,storage_code,part_code,purchased_quantity,Dm,delta,ship_cycle_avg_mean,ship_cycle_avg_std
0,SP100,10000001090000,1.0,0.000000,1.000000,27.666667,29.091809
1,SP100,1000000109S090,5.0,0.000000,5.000000,28.510424,NaN
2,SP100,1000000109SB20,20.0,4.636364,15.363636,48.000000,0.000000
3,SP100,1000000109SB40,0.0,6.318182,6.318182,28.510424,NaN
4,SP100,1000000109SB90,0.0,0.000000,0.000000,28.510424,NaN
...,...,...,...,...,...,...,...
247373,SP500,8990011BCD0130,0.0,6.045455,6.045455,28.510424,NaN
247374,SP500,8990011BCD0133,0.0,1.681818,1.681818,28.510424,NaN
247375,SP500,8990011BCD0137,0.0,2.681818,2.681818,28.510424,NaN
247376,SP500,8990011BCD0138,0.0,0.000000,0.000000,28.510424,NaN
247377,SP500,8990011BCD0151,0.0,0.000000,0.000000,28.510424,NaN

In [178]:
ss_part_1["part_one"] = round(ss_part_1["delta"]*ss_part_1["ship_cycle_avg_mean"]/30,0)

In [179]:
ss_part_1

,storage_code,part_code,purchased_quantity,Dm,delta,ship_cycle_avg_mean,ship_cycle_avg_std,part_one
0,SP100,10000001090000,1.0,0.000000,1.000000,27.666667,29.091809,1.0
1,SP100,1000000109S090,5.0,0.000000,5.000000,28.510424,NaN,5.0
2,SP100,1000000109SB20,20.0,4.636364,15.363636,48.000000,0.000000,25.0
3,SP100,1000000109SB40,0.0,6.318182,6.318182,28.510424,NaN,6.0
4,SP100,1000000109SB90,0.0,0.000000,0.000000,28.510424,NaN,0.0
...,...,...,...,...,...,...,...,...
247373,SP500,8990011BCD0130,0.0,6.045455,6.045455,28.510424,NaN,6.0
247374,SP500,8990011BCD0133,0.0,1.681818,1.681818,28.510424,NaN,2.0
247375,SP500,8990011BCD0137,0.0,2.681818,2.681818,28.510424,NaN,3.0
247376,SP500,8990011BCD0138,0.0,0.000000,0.000000,28.510424,NaN,0.0
247377,SP500,8990011BCD0151,0.0,0.000000,0.000000,28.510424,NaN,0.0

# 计算第二部分
1. 满足率对应的 Z
2. 月均需求
3. 运输周期的波动

- 参考满足率零件标签20220106.ipynb

## 根据满足率计算zscore

In [180]:
from scipy.stats import norm

In [181]:
z_score = norm.ppf(0.6)
z_score

0.2533471031357997

In [183]:
# fill_rate_storage_part 已经放到数据表 tt_demand_fill_rate

In [185]:
fill_rate_storage_part.drop(columns="upload_time",inplace=True)
fill_rate_storage_part

       storage_code       part_code  total_fillrate
0             SP100  1000000109S090        0.979159
1             SP100  1000000109S090        0.979159
2             SP100  1000000109SB20        0.971693
3             SP100  1000000109SB20        0.971693
4             SP100  1000000109SB20        0.971693
...             ...             ...             ...
105909        SP500        M4290825        0.521721
105910        SP500        M4290830        0.521721
105911        SP500        M4290831        0.521721
105912        SP500        M8619009        0.521721
105913        SP500        M8619012        0.521721

[544627 rows x 3 columns]

In [186]:
sql = """
select distinct t.storage_code as storage_code, t.part_code as part_code,
t.purchased_quantity_sum_mean_1st as purchased_quantity_mean
from tt_demand_train t where substr(t.upload_time,1,10) = "2022-03-18"
"""
sp = pd.read_sql(sql, engine)
sp

       storage_code       part_code  purchased_quantity_mean
0             SP100  10000001090000                 0.205128
1             SP100  1000000109S010                 0.307692
2             SP100  1000000109S050                 0.512821
3             SP100  1000000109S090                 0.769231
4             SP100  1000000109SB20                 8.205128
...             ...             ...                      ...
117351        SP500        999S0001                 0.128205
117352        SP500        999S0002                 1.583333
117353        SP500        M4290824              6433.461538
117354        SP500        M4290825              3016.666667
117355        SP500        M8619021              6244.615385

[117356 rows x 3 columns]

In [187]:
sp[sp.duplicated(["storage_code","part_code"],keep="first")]

Empty DataFrame
Columns: [storage_code, part_code, purchased_quantity_mean]
Index: []

In [188]:
fill_rate_storage_part["z_score"] = fill_rate_storage_part.total_fillrate.apply(lambda x:norm.ppf(x))

In [189]:
fill_rate_storage_part

       storage_code       part_code  total_fillrate   z_score
0             SP100  1000000109S090        0.979159  2.036682
1             SP100  1000000109S090        0.979159  2.036682
2             SP100  1000000109SB20        0.971693  1.906276
3             SP100  1000000109SB20        0.971693  1.906276
4             SP100  1000000109SB20        0.971693  1.906276
...             ...             ...             ...       ...
105909        SP500        M4290825        0.521721  0.054473
105910        SP500        M4290830        0.521721  0.054473
105911        SP500        M4290831        0.521721  0.054473
105912        SP500        M8619009        0.521721  0.054473
105913        SP500        M8619012        0.521721  0.054473

[544627 rows x 4 columns]

In [190]:
fill_rate_storage_part[fill_rate_storage_part.duplicated(["storage_code","part_code"],keep="first")]

       storage_code       part_code  total_fillrate   z_score
1             SP100  1000000109S090        0.979159  2.036682
3             SP100  1000000109SB20        0.971693  1.906276
4             SP100  1000000109SB20        0.971693  1.906276
5             SP100  1000000109SB20        0.971693  1.906276
6             SP100  1000000109SB20        0.971693  1.906276
...             ...             ...             ...       ...
438708        SP500        M8619021        0.999000  3.090232
438709        SP500        M8619021        0.999000  3.090232
438710        SP500        M8619021        0.999000  3.090232
438711        SP500        M8619021        0.999000  3.090232
438712        SP500        M8619021        0.999000  3.090232

[358482 rows x 4 columns]

In [191]:
fill_rate_storage_part.drop_duplicates(["storage_code","part_code"],inplace=True)
fill_rate_storage_part

       storage_code       part_code  total_fillrate   z_score
0             SP100  1000000109S090        0.979159  2.036682
2             SP100  1000000109SB20        0.971693  1.906276
8             SP100  1000000109SC20        0.955609  1.701855
9             SP100  1000000109SC40        0.979159  2.036682
11            SP100  1000000109SC80        0.955609  1.701855
...             ...             ...             ...       ...
105909        SP500        M4290825        0.521721  0.054473
105910        SP500        M4290830        0.521721  0.054473
105911        SP500        M4290831        0.521721  0.054473
105912        SP500        M8619009        0.521721  0.054473
105913        SP500        M8619012        0.521721  0.054473

[186145 rows x 4 columns]

In [192]:
ss_part_2 = sp.merge(fill_rate_storage_part,on=["storage_code","part_code"],how="left")
ss_part_2

,storage_code,part_code,purchased_quantity_mean,total_fillrate,z_score
0,SP100,10000001090000,0.205128,0.523147,0.058054
1,SP100,1000000109S010,0.307692,0.523147,0.058054
2,SP100,1000000109S050,0.512821,0.523147,0.058054
3,SP100,1000000109S090,0.769231,0.979159,2.036682
4,SP100,1000000109SB20,8.205128,0.971693,1.906276
...,...,...,...,...,...
117351,SP500,999S0001,0.128205,0.999000,3.090232
117352,SP500,999S0002,1.583333,0.699080,0.521757
117353,SP500,M4290824,6433.461538,0.521721,0.054473
117354,SP500,M4290825,3016.666667,0.521721,0.054473
117355,SP500,M8619021,6244.615385,0.999000,3.090232

In [193]:
ss_part_2 = ss_part_2.merge(part_ship_cycle,on="part_code",how="left")

In [194]:
ss_part_2.isna().any()

storage_code               False
part_code                  False
purchased_quantity_mean    False
total_fillrate             False
z_score                    False
ship_cycle_avg_mean         True
ship_cycle_avg_std          True
dtype: bool

In [195]:
# 用平均值填充, 下次可以用每个仓库的平均值
def fill_ship_cycle_na(df):
    df.ship_cycle_avg_std.fillna(df.ship_cycle_avg_std.mean(),inplace=True)
    df.ship_cycle_avg_mean.fillna(df.ship_cycle_avg_mean.mean(),inplace=True)
    return df

In [ ]:
ss_part_2 = ss_part_2.groupby("storage_code").apply(lambda x:fill_ship_cycle_na(x))

In [196]:
# ss_part_2.ship_cycle_avg_std.fillna(ss_part_2.ship_cycle_avg_std.mean(),inplace=True)

In [197]:
# ss_part_2.ship_cycle_avg_mean.fillna(ss_part_2.ship_cycle_avg_mean.mean(),inplace=True)

In [198]:
ss_part_2

,storage_code,part_code,purchased_quantity_mean,total_fillrate,z_score,ship_cycle_avg_mean,ship_cycle_avg_std
0,SP100,10000001090000,0.205128,0.523147,0.058054,27.666667,29.091809
1,SP100,1000000109S010,0.307692,0.523147,0.058054,29.237217,13.543064
2,SP100,1000000109S050,0.512821,0.523147,0.058054,29.237217,13.543064
3,SP100,1000000109S090,0.769231,0.979159,2.036682,29.237217,13.543064
4,SP100,1000000109SB20,8.205128,0.971693,1.906276,48.000000,0.000000
...,...,...,...,...,...,...,...
117351,SP500,999S0001,0.128205,0.999000,3.090232,6.400000,1.516575
117352,SP500,999S0002,1.583333,0.699080,0.521757,0.000000,0.000000
117353,SP500,M4290824,6433.461538,0.521721,0.054473,29.237217,13.543064
117354,SP500,M4290825,3016.666667,0.521721,0.054473,29.237217,13.543064
117355,SP500,M8619021,6244.615385,0.999000,3.090232,19.568182,14.939918

## 计算part_2

In [199]:
ss_part_2["part_two"] = ss_part_2["z_score"]*ss_part_2["purchased_quantity_mean"]/30*ss_part_2["ship_cycle_avg_std"]

In [200]:
ss_part_2

,storage_code,part_code,purchased_quantity_mean,total_fillrate,z_score,ship_cycle_avg_mean,ship_cycle_avg_std,part_two
0,SP100,10000001090000,0.205128,0.523147,0.058054,27.666667,29.091809,0.011548
1,SP100,1000000109S010,0.307692,0.523147,0.058054,29.237217,13.543064,0.008064
2,SP100,1000000109S050,0.512821,0.523147,0.058054,29.237217,13.543064,0.013440
3,SP100,1000000109S090,0.769231,0.979159,2.036682,29.237217,13.543064,0.707254
4,SP100,1000000109SB20,8.205128,0.971693,1.906276,48.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
117351,SP500,999S0001,0.128205,0.999000,3.090232,6.400000,1.516575,0.020028
117352,SP500,999S0002,1.583333,0.699080,0.521757,0.000000,0.000000,0.000000
117353,SP500,M4290824,6433.461538,0.521721,0.054473,29.237217,13.543064,158.204894
117354,SP500,M4290825,3016.666667,0.521721,0.054473,29.237217,13.543064,74.182682
117355,SP500,M8619021,6244.615385,0.999000,3.090232,19.568182,14.939918,9610.008440

In [201]:
ss_part_1

,storage_code,part_code,purchased_quantity,Dm,delta,ship_cycle_avg_mean,ship_cycle_avg_std,part_one
0,SP100,10000001090000,1.0,0.000000,1.000000,27.666667,29.091809,1.0
1,SP100,1000000109S090,5.0,0.000000,5.000000,28.510424,NaN,5.0
2,SP100,1000000109SB20,20.0,4.636364,15.363636,48.000000,0.000000,25.0
3,SP100,1000000109SB40,0.0,6.318182,6.318182,28.510424,NaN,6.0
4,SP100,1000000109SB90,0.0,0.000000,0.000000,28.510424,NaN,0.0
...,...,...,...,...,...,...,...,...
247373,SP500,8990011BCD0130,0.0,6.045455,6.045455,28.510424,NaN,6.0
247374,SP500,8990011BCD0133,0.0,1.681818,1.681818,28.510424,NaN,2.0
247375,SP500,8990011BCD0137,0.0,2.681818,2.681818,28.510424,NaN,3.0
247376,SP500,8990011BCD0138,0.0,0.000000,0.000000,28.510424,NaN,0.0
247377,SP500,8990011BCD0151,0.0,0.000000,0.000000,28.510424,NaN,0.0

In [202]:
test = ss_part_1.merge(ss_part_2,on=["storage_code","part_code"],how="outer")
test

,storage_code,part_code,purchased_quantity,Dm,delta,ship_cycle_avg_mean_x,ship_cycle_avg_std_x,part_one,purchased_quantity_mean,total_fillrate,z_score,ship_cycle_avg_mean_y,ship_cycle_avg_std_y,part_two
0,SP100,10000001090000,1.0,0.000000,1.000000,27.666667,29.091809,1.0,0.205128,0.523147,0.058054,27.666667,29.091809,0.011548
1,SP100,1000000109S090,5.0,0.000000,5.000000,28.510424,NaN,5.0,0.769231,0.979159,2.036682,29.237217,13.543064,0.707254
2,SP100,1000000109SB20,20.0,4.636364,15.363636,48.000000,0.000000,25.0,8.205128,0.971693,1.906276,48.000000,0.000000,0.000000
3,SP100,1000000109SB40,0.0,6.318182,6.318182,28.510424,NaN,6.0,3.333333,0.523147,0.058054,29.237217,13.543064,0.087358
4,SP100,1000000109SB90,0.0,0.000000,0.000000,28.510424,NaN,0.0,0.128205,0.523147,0.058054,29.237217,13.543064,0.003360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248210,SP500,897082300E0000,NaN,NaN,NaN,NaN,NaN,NaN,28.615385,0.931032,1.483521,8.000000,0.000000,0.000000
248211,SP500,897092000G0000,NaN,NaN,NaN,NaN,NaN,NaN,5.076923,0.521721,0.054473,29.000000,0.000000,0.000000
248212,SP500,904000240M,NaN,NaN,NaN,NaN,NaN,NaN,0.512821,0.521721,0.054473,29.237217,13.543064,0.012611
248213,SP500,M4290824,NaN,NaN,NaN,NaN,NaN,NaN,6433.461538,0.521721,0.054473,29.237217,13.543064,158.204894
248214,SP500,M4290825,NaN,NaN,NaN,NaN,NaN,NaN,3016.666667,0.521721,0.054473,29.237217,13.543064,74.182682

In [203]:
test.part_one.fillna(test.part_two,inplace=True)

In [204]:
test.part_two.fillna(test.part_one,inplace=True)

## 缓冲库存

In [205]:
test["buffer_stock"] = test.part_one + test.part_two
test

,storage_code,part_code,purchased_quantity,Dm,delta,ship_cycle_avg_mean_x,ship_cycle_avg_std_x,part_one,purchased_quantity_mean,total_fillrate,z_score,ship_cycle_avg_mean_y,ship_cycle_avg_std_y,part_two,buffer_stock
0,SP100,10000001090000,1.0,0.000000,1.000000,27.666667,29.091809,1.000000,0.205128,0.523147,0.058054,27.666667,29.091809,0.011548,1.011548
1,SP100,1000000109S090,5.0,0.000000,5.000000,28.510424,NaN,5.000000,0.769231,0.979159,2.036682,29.237217,13.543064,0.707254,5.707254
2,SP100,1000000109SB20,20.0,4.636364,15.363636,48.000000,0.000000,25.000000,8.205128,0.971693,1.906276,48.000000,0.000000,0.000000,25.000000
3,SP100,1000000109SB40,0.0,6.318182,6.318182,28.510424,NaN,6.000000,3.333333,0.523147,0.058054,29.237217,13.543064,0.087358,6.087358
4,SP100,1000000109SB90,0.0,0.000000,0.000000,28.510424,NaN,0.000000,0.128205,0.523147,0.058054,29.237217,13.543064,0.003360,0.003360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248210,SP500,897082300E0000,NaN,NaN,NaN,NaN,NaN,0.000000,28.615385,0.931032,1.483521,8.000000,0.000000,0.000000,0.000000
248211,SP500,897092000G0000,NaN,NaN,NaN,NaN,NaN,0.000000,5.076923,0.521721,0.054473,29.000000,0.000000,0.000000,0.000000
248212,SP500,904000240M,NaN,NaN,NaN,NaN,NaN,0.012611,0.512821,0.521721,0.054473,29.237217,13.543064,0.012611,0.025221
248213,SP500,M4290824,NaN,NaN,NaN,NaN,NaN,158.204894,6433.461538,0.521721,0.054473,29.237217,13.543064,158.204894,316.409788
248214,SP500,M4290825,NaN,NaN,NaN,NaN,NaN,74.182682,3016.666667,0.521721,0.054473,29.237217,13.543064,74.182682,148.365364

## 再订货点
- 采购缓冲库存+到货周期*期望需求
- 期望需求暂时等于预测值N+0,1,2,3 均值

In [206]:
n0 = arrow.now()
month_list = [n0.shift(months=i).format("YYYY-MM") for i in range(4)]

In [207]:
month_list = tuple(month_list)
month_list

('2022-03', '2022-04', '2022-05', '2022-06')

### 期望需求用的是N0-N3的平均值

In [208]:
sql = f"""
select t.storage_code as storage_code, t.part_code as part_code,
avg(t.prediction) as prediction
from tt_demand_prediction t where version="4.4" and t.month in {month_list}
group by t.storage_code,t.part_code
"""
prediction = pd.read_sql(sql, engine)
prediction

      storage_code          part_code  prediction
0            SP100     10000001090000        0.00
1            SP100     1000000109S010        0.00
2            SP100     1000000109S050        0.25
3            SP100     1000000109S090        0.50
4            SP100     1000000109SB20        2.25
...            ...                ...         ...
92051        SP500  8535008ATN0000B10        0.00
92052        SP500  8535008BAC0000A08        0.00
92053        SP500  8535008BAD0000A08        0.00
92054        SP500  8535008BAD0000A09        1.00
92055        SP500  8535008BAD0000A23        0.00

[92056 rows x 3 columns]

In [209]:
test = test.merge(prediction,on=["storage_code","part_code"],how="outer")
test

,storage_code,part_code,purchased_quantity,Dm,delta,ship_cycle_avg_mean_x,ship_cycle_avg_std_x,part_one,purchased_quantity_mean,total_fillrate,z_score,ship_cycle_avg_mean_y,ship_cycle_avg_std_y,part_two,buffer_stock,prediction
0,SP100,10000001090000,1.0,0.000000,1.000000,27.666667,29.091809,1.000000,0.205128,0.523147,0.058054,27.666667,29.091809,0.011548,1.011548,0.00
1,SP100,1000000109S090,5.0,0.000000,5.000000,28.510424,NaN,5.000000,0.769231,0.979159,2.036682,29.237217,13.543064,0.707254,5.707254,0.50
2,SP100,1000000109SB20,20.0,4.636364,15.363636,48.000000,0.000000,25.000000,8.205128,0.971693,1.906276,48.000000,0.000000,0.000000,25.000000,2.25
3,SP100,1000000109SB40,0.0,6.318182,6.318182,28.510424,NaN,6.000000,3.333333,0.523147,0.058054,29.237217,13.543064,0.087358,6.087358,0.00
4,SP100,1000000109SB90,0.0,0.000000,0.000000,28.510424,NaN,0.000000,0.128205,0.523147,0.058054,29.237217,13.543064,0.003360,0.003360,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248210,SP500,897082300E0000,NaN,NaN,NaN,NaN,NaN,0.000000,28.615385,0.931032,1.483521,8.000000,0.000000,0.000000,0.000000,NaN
248211,SP500,897092000G0000,NaN,NaN,NaN,NaN,NaN,0.000000,5.076923,0.521721,0.054473,29.000000,0.000000,0.000000,0.000000,NaN
248212,SP500,904000240M,NaN,NaN,NaN,NaN,NaN,0.012611,0.512821,0.521721,0.054473,29.237217,13.543064,0.012611,0.025221,NaN
248213,SP500,M4290824,NaN,NaN,NaN,NaN,NaN,158.204894,6433.461538,0.521721,0.054473,29.237217,13.543064,158.204894,316.409788,1239.00
248214,SP500,M4290825,NaN,NaN,NaN,NaN,NaN,74.182682,3016.666667,0.521721,0.054473,29.237217,13.543064,74.182682,148.365364,9.00

In [211]:
# 用平均值代替空值
test.rename(columns={'ship_cycle_avg_mean_y':'ship_cycle_avg_mean'},inplace=True)
test.ship_cycle_avg_mean.fillna(test.ship_cycle_avg_mean.mean(),inplace=True)
test = test[['storage_code', 'part_code', 'purchased_quantity_mean', 'ship_cycle_avg_mean', 'buffer_stock', 'prediction']]
test.prediction.fillna(test.purchased_quantity_mean,axis=0,inplace=True)
test

,storage_code,part_code,purchased_quantity_mean,ship_cycle_avg_mean,buffer_stock,prediction
0,SP100,10000001090000,0.205128,27.666667,1.011548,0.000000
1,SP100,1000000109S090,0.769231,29.237217,5.707254,0.500000
2,SP100,1000000109SB20,8.205128,48.000000,25.000000,2.250000
3,SP100,1000000109SB40,3.333333,29.237217,6.087358,0.000000
4,SP100,1000000109SB90,0.128205,29.237217,0.003360,0.000000
...,...,...,...,...,...,...
248210,SP500,897082300E0000,28.615385,8.000000,0.000000,28.615385
248211,SP500,897092000G0000,5.076923,29.000000,0.000000,5.076923
248212,SP500,904000240M,0.512821,29.237217,0.025221,0.512821
248213,SP500,M4290824,6433.461538,29.237217,316.409788,1239.000000
248214,SP500,M4290825,3016.666667,29.237217,148.365364,9.000000

In [212]:
test["rop"] = test["buffer_stock"] + test["ship_cycle_avg_mean"]*test["prediction"]

In [231]:
# 临时保存
test.to_parquet("/data/project/zhaozhiyuan/term2/buffer_stock_rop.parquet")

# 移库研究

## 移库周期（总仓到本仓）: 过滤后，近一年落点仓库到本仓库的移库周期平均值

In [213]:
sql="""
select * from dm_mdp.statistics_pt_allocate_factory
"""
pt_allocate = pd.read_sql(sql,conn)
pt_allocate

,statistics_pt_allocate_factory.statistics_monthly,statistics_pt_allocate_factory.part_no,statistics_pt_allocate_factory.part_name,statistics_pt_allocate_factory.out_storage_code,statistics_pt_allocate_factory.out_storage_name,statistics_pt_allocate_factory.in_storage_code,statistics_pt_allocate_factory.in_storage_name,statistics_pt_allocate_factory.out_stock_quantity,statistics_pt_allocate_factory.in_stock_quantity,statistics_pt_allocate_factory.allocate_count,statistics_pt_allocate_factory.allocate_quantity,statistics_pt_allocate_factory.lj_count,statistics_pt_allocate_factory.lj_quantity,statistics_pt_allocate_factory.allocate_cycle_avg,statistics_pt_allocate_factory.ship_cycle_avg,statistics_pt_allocate_factory.ship_cycle_std,statistics_pt_allocate_factory.ship_cycle_var
0,202111,1000000109SD40,气缸垫总成,SP100,SP100-售后零部件中心仓,SP150,SP150-济南分仓库,6,6,1,3,1,3,147.000000,26.0,0.0,0.0
1,202004,1000000109SM50,海绵胶垫圈,SP100,SP100-售后零部件中心仓,SP150,SP150-济南分仓库,0,0,1,20,1,20,465.000000,28.0,0.0,0.0
2,202002,10010091820600,附件下支架总成,SP100,SP100-售后零部件中心仓,SP150,SP150-济南分仓库,0,0,1,10,1,10,0.000000,98.0,0.0,0.0
3,202009,10020171310000,主轴承盖螺栓M10×1.5×83.5,SP100,SP100-售后零部件中心仓,SP120,SP120-杭州分仓库,0,0,1,27,1,27,0.000000,17.0,0.0,0.0
4,201904,10020282010000,曲轴后油封,SP100,SP100-售后零部件中心仓,SP130,SP130-沈阳分仓库,0,0,3,32,3,32,62.666667,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894771,201902,995S0006,变速箱油(DDCT:1L),SP100,SP100-售后零部件中心仓,SP110,SP110-郑州分仓库,0,0,1,326,1,326,22.000000,0.0,0.0,0.0
894772,201902,995S1302,变速箱油(GMC;4.5L),SP100,SP100-售后零部件中心仓,SP120,SP120-杭州分仓库,0,0,2,372,2,372,18.500000,0.0,0.0,0.0
894773,202101,M8619021,密封胶三键1217H(330ml/支 9990000600),SP100,SP100-售后零部件中心仓,SP140,SP140-成都分仓库,0,0,1,2310,1,2310,26.000000,3.0,0.0,0.0
894774,201908,W71701,防锈塑料袋(380*750*0.1),SP100,SP100-售后零部件中心仓,SP500,SP500-宜昌中心仓,0,0,1,500,1,500,0.000000,0.0,0.0,0.0
894775,201808,W92503,全翼箱(560*75*110)(K3K),SP100,SP100-售后零部件中心仓,SP121,SP121-杭州中心仓,0,0,1,200,1,200,112.000000,0.0,0.0,0.0

In [214]:
pt_allocate.columns = make_columns(pt_allocate)
pt_allocate

,statistics_monthly,part_no,part_name,out_storage_code,out_storage_name,in_storage_code,in_storage_name,out_stock_quantity,in_stock_quantity,allocate_count,allocate_quantity,lj_count,lj_quantity,allocate_cycle_avg,ship_cycle_avg,ship_cycle_std,ship_cycle_var
0,202111,1000000109SD40,气缸垫总成,SP100,SP100-售后零部件中心仓,SP150,SP150-济南分仓库,6,6,1,3,1,3,147.000000,26.0,0.0,0.0
1,202004,1000000109SM50,海绵胶垫圈,SP100,SP100-售后零部件中心仓,SP150,SP150-济南分仓库,0,0,1,20,1,20,465.000000,28.0,0.0,0.0
2,202002,10010091820600,附件下支架总成,SP100,SP100-售后零部件中心仓,SP150,SP150-济南分仓库,0,0,1,10,1,10,0.000000,98.0,0.0,0.0
3,202009,10020171310000,主轴承盖螺栓M10×1.5×83.5,SP100,SP100-售后零部件中心仓,SP120,SP120-杭州分仓库,0,0,1,27,1,27,0.000000,17.0,0.0,0.0
4,201904,10020282010000,曲轴后油封,SP100,SP100-售后零部件中心仓,SP130,SP130-沈阳分仓库,0,0,3,32,3,32,62.666667,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894771,201902,995S0006,变速箱油(DDCT:1L),SP100,SP100-售后零部件中心仓,SP110,SP110-郑州分仓库,0,0,1,326,1,326,22.000000,0.0,0.0,0.0
894772,201902,995S1302,变速箱油(GMC;4.5L),SP100,SP100-售后零部件中心仓,SP120,SP120-杭州分仓库,0,0,2,372,2,372,18.500000,0.0,0.0,0.0
894773,202101,M8619021,密封胶三键1217H(330ml/支 9990000600),SP100,SP100-售后零部件中心仓,SP140,SP140-成都分仓库,0,0,1,2310,1,2310,26.000000,3.0,0.0,0.0
894774,201908,W71701,防锈塑料袋(380*750*0.1),SP100,SP100-售后零部件中心仓,SP500,SP500-宜昌中心仓,0,0,1,500,1,500,0.000000,0.0,0.0,0.0
894775,201808,W92503,全翼箱(560*75*110)(K3K),SP100,SP100-售后零部件中心仓,SP121,SP121-杭州中心仓,0,0,1,200,1,200,112.000000,0.0,0.0,0.0

In [215]:
pt_allocate = pt_allocate[['statistics_monthly', 'part_no', 'out_storage_code','in_storage_code','ship_cycle_avg']]

## 计算移库周期和标准差

In [216]:
# 清除异常数据 移库周期, 和运输周期不一样
def smooth_outliers(df,group_code,cal_code,cal_times=3):
    df_mean_std = df.groupby(group_code).agg({cal_code:["mean","std"]})
    df_mean_std = df_mean_std.reset_index()
    df_mean_std.columns = change_columns(df_mean_std)
    df_mean_std[f"{cal_code}_std"].fillna(0,inplace=True)
    df = df.merge(df_mean_std,on=group_code,how="left")
    df[f"{cal_code}_max"] = df[f"{cal_code}_mean"] + cal_times*df[f"{cal_code}_std"]
    df[f"{cal_code}_min"] = df[f"{cal_code}_mean"] - cal_times*df[f"{cal_code}_std"]
    df_temp = df[~df[cal_code].between(df[f"{cal_code}_min"],df[f"{cal_code}_max"])]
    df_temp.sort_values(['out_storage_code','in_storage_code','part_no',"statistics_monthly"],ascending=[True,True,True,True])
    df_temp = df_temp[["statistics_monthly",'out_storage_code','in_storage_code','part_no']]
    df_temp["forward"]="abc"
    df_temp["backward"]="abc"
    df_temp["mfill"]="abc"
    df = df.merge(df_temp,on=["statistics_monthly",'out_storage_code','in_storage_code','part_no'],how="left")
    df["purchased_quantity_original"] = df[cal_code]
    df["forward"].fillna(value=df[cal_code],inplace=True)
    df["backward"].fillna(value=df[cal_code],inplace=True)
    df.loc[df.forward=="abc",["forward","backward"]] = np.nan
    df_temp = df.groupby(by=group_code).apply(lambda x:cal_exor_mean(x))
    df_temp[cal_code]=(df_temp.forward+df_temp.backward)/2
    return df_temp

In [217]:
df = pt_allocate
group_code=['out_storage_code','in_storage_code','part_no']
cal_code = 'ship_cycle_avg'

In [218]:
smooth_1st = smooth_outliers(df,group_code,cal_code,cal_times=3)

In [219]:
smooth_1st

,statistics_monthly,part_no,out_storage_code,in_storage_code,ship_cycle_avg,ship_cycle_avg_mean,ship_cycle_avg_std,ship_cycle_avg_max,ship_cycle_avg_min,forward,backward,mfill,purchased_quantity_original
0,202111,1000000109SD40,SP100,SP150,26.0,7.500000,12.476645,44.929935,-29.929935,26.0,26.0,NaN,26.0
1,202004,1000000109SM50,SP100,SP150,28.0,14.000000,19.798990,73.396970,-45.396970,28.0,28.0,NaN,28.0
2,202002,10010091820600,SP100,SP150,98.0,98.000000,0.000000,98.000000,98.000000,98.0,98.0,NaN,98.0
3,202009,10020171310000,SP100,SP120,17.0,17.000000,0.000000,17.000000,17.000000,17.0,17.0,NaN,17.0
4,201904,10020282010000,SP100,SP130,0.0,6.666667,9.463589,35.057435,-21.724101,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
894771,201902,995S0006,SP100,SP110,0.0,8.711728,20.375403,69.837938,-52.414482,0.0,0.0,NaN,0.0
894772,201902,995S1302,SP100,SP120,0.0,6.203125,12.895967,44.891027,-32.484777,0.0,0.0,NaN,0.0
894773,202101,M8619021,SP100,SP140,3.0,6.722222,11.297894,40.615903,-27.171459,3.0,3.0,NaN,3.0
894774,201908,W71701,SP100,SP500,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,0.0
894775,201808,W92503,SP100,SP121,0.0,4.272727,11.933909,40.074454,-31.528999,0.0,0.0,NaN,0.0

In [220]:
df = smooth_1st[['out_storage_code','in_storage_code','part_no',"statistics_monthly",'ship_cycle_avg']]
group_code=['out_storage_code','in_storage_code','part_no']
cal_code = 'ship_cycle_avg'

In [221]:
smooth_2nd = smooth_outliers(df,group_code,cal_code,cal_times=2)

In [222]:
smooth_2nd = smooth_2nd [['out_storage_code','in_storage_code','part_no',"statistics_monthly",'ship_cycle_avg']]
smooth_2nd

,out_storage_code,in_storage_code,part_no,statistics_monthly,ship_cycle_avg
0,SP100,SP150,1000000109SD40,202111,26.0
1,SP100,SP150,1000000109SM50,202004,28.0
2,SP100,SP150,10010091820600,202002,98.0
3,SP100,SP120,10020171310000,202009,17.0
4,SP100,SP130,10020282010000,201904,0.0
...,...,...,...,...,...
894771,SP100,SP110,995S0006,201902,0.0
894772,SP100,SP120,995S1302,201902,0.0
894773,SP100,SP140,M8619021,202101,3.0
894774,SP100,SP500,W71701,201908,0.0
894775,SP100,SP121,W92503,201808,0.0

In [223]:
end = arrow.now()
start = end.shift(months=-12)
end = end.format("YYYYMM")
start = start.format("YYYYMM")
start

'202103'

In [224]:
# 取一年平均值和标准差
smooth_2nd[smooth_2nd.statistics_monthly.between(start,end)]

,out_storage_code,in_storage_code,part_no,statistics_monthly,ship_cycle_avg
0,SP100,SP150,1000000109SD40,202111,26.0
6,SP100,SP120,10030051530000,202112,7.0
16,SP100,SP140,10030372050000,202112,18.0
21,SP100,SP120,10030402050000,202105,3.0
24,SP100,SP150,10040091310100,202111,4.0
...,...,...,...,...,...
894742,SP500,SP170,8880007BSV0000,202109,56.0
894752,SP100,SP120,9000009211,202108,4.0
894753,SP100,SP500,9000009211,202203,5.0
894756,SP100,SP150,9000022734,202112,6.0
894768,SP100,SP120,9310000971,202104,4.0

In [225]:
part_allocate_ship_cycle = smooth_2nd[smooth_2nd.statistics_monthly.between(start,end)]

In [226]:
part_allocate_ship_cycle = part_allocate_ship_cycle.groupby(['out_storage_code','in_storage_code','part_no']).agg({"ship_cycle_avg":["mean","std"]}).reset_index()

In [227]:
part_allocate_ship_cycle.columns = change_columns(part_allocate_ship_cycle)

In [228]:
part_allocate_ship_cycle.rename({"part_no":"part_code"},inplace=True)
part_allocate_ship_cycle.ship_cycle_avg_std.fillna(0,inplace=True)

In [229]:
part_allocate_ship_cycle

,out_storage_code,in_storage_code,part_no,ship_cycle_avg_mean,ship_cycle_avg_std
0,SP100,GG01,899097000G0002,0.0,0.0
1,SP100,SP110,1000000109SC40,4.0,0.0
2,SP100,SP110,1000000109SF20,16.0,0.0
3,SP100,SP110,1000000109SL20,16.0,0.0
4,SP100,SP110,1000000109SN10,3.0,0.0
...,...,...,...,...,...
99214,SP500,SP170,9110015451,7.0,0.0
99215,SP500,SP170,9110016121,54.0,0.0
99216,SP500,SP170,9119000911,7.0,0.0
99217,SP500,SP170,9119001251,5.0,0.0
99218,SP500,SP170,9119001421,9.0,0.0

In [243]:
part_allocate_ship_cycle[part_allocate_ship_cycle.duplicated(['out_storage_code','in_storage_code','part_no'])]

Empty DataFrame
Columns: [out_storage_code, in_storage_code, part_no, ship_cycle_avg_mean, ship_cycle_avg_std]
Index: []

## 需要零件的落点信息
- 从落点仓库转移到当前仓库的信息
- 落点仓库 = out_storage
- 仓库 = in_storage

In [41]:
sql="""
select t.part_code as part_code, t.storage_code_loc as storage_code_loc from dw_mdp.dw_mdp_part_info t
where t.part_dt =(select max(part_dt) from dw_mdp.dw_mdp_part_info)
"""
tm_info = pd.read_sql(sql,conn)
tm_info

                part_code storage_code_loc
0          3020010ASVS020            SP100
1       7150004CAD0000A08            SP100
2          3210017ASV0000            SP100
3       6330093ADES050M36            SP100
4          8325003ASV97F0            SP100
...                   ...              ...
121257  8535008ADU99F0B11            SP100
121258  6310003DRS0400RA3            SP100
121259  7220002DRS0000M10             None
121260  7610002DRS0400B70            SP100
121261     8310005AMV3700             None

[121262 rows x 2 columns]

In [235]:
tm_info.fillna("SP100",inplace=True)

In [240]:
ss_alloc_part_2 = sp.merge(fill_rate_storage_part,on=["storage_code","part_code"],how="left")
ss_alloc_part_2

,storage_code,part_code,purchased_quantity_mean,total_fillrate,z_score
0,SP100,10000001090000,0.205128,0.523147,0.058054
1,SP100,1000000109S010,0.307692,0.523147,0.058054
2,SP100,1000000109S050,0.512821,0.523147,0.058054
3,SP100,1000000109S090,0.769231,0.979159,2.036682
4,SP100,1000000109SB20,8.205128,0.971693,1.906276
...,...,...,...,...,...
117351,SP500,999S0001,0.128205,0.999000,3.090232
117352,SP500,999S0002,1.583333,0.699080,0.521757
117353,SP500,M4290824,6433.461538,0.521721,0.054473
117354,SP500,M4290825,3016.666667,0.521721,0.054473
117355,SP500,M8619021,6244.615385,0.999000,3.090232

In [241]:
ss_alloc_part_2 = ss_alloc_part_2.merge(tm_info,on="part_code",how="left")
ss_alloc_part_2

,storage_code,part_code,purchased_quantity_mean,total_fillrate,z_score,storage_code_loc
0,SP100,10000001090000,0.205128,0.523147,0.058054,SP100
1,SP100,1000000109S010,0.307692,0.523147,0.058054,SP100
2,SP100,1000000109S050,0.512821,0.523147,0.058054,SP100
3,SP100,1000000109S090,0.769231,0.979159,2.036682,SP100
4,SP100,1000000109SB20,8.205128,0.971693,1.906276,SP100
...,...,...,...,...,...,...
117351,SP500,999S0001,0.128205,0.999000,3.090232,SP100
117352,SP500,999S0002,1.583333,0.699080,0.521757,SP100
117353,SP500,M4290824,6433.461538,0.521721,0.054473,SP100
117354,SP500,M4290825,3016.666667,0.521721,0.054473,SP100
117355,SP500,M8619021,6244.615385,0.999000,3.090232,SP100

In [242]:
ss_alloc_part_2.isna().any()

storage_code               False
part_code                  False
purchased_quantity_mean    False
total_fillrate             False
z_score                    False
storage_code_loc           False
dtype: bool

In [244]:
ss_alloc_part_2 = ss_alloc_part_2.merge(part_allocate_ship_cycle,left_on=["storage_code_loc","storage_code","part_code"],right_on=["out_storage_code","in_storage_code","part_no"],how="left")
ss_alloc_part_2

,storage_code,part_code,purchased_quantity_mean,total_fillrate,z_score,storage_code_loc,out_storage_code,in_storage_code,part_no,ship_cycle_avg_mean,ship_cycle_avg_std
0,SP100,10000001090000,0.205128,0.523147,0.058054,SP100,NaN,NaN,NaN,NaN,NaN
1,SP100,1000000109S010,0.307692,0.523147,0.058054,SP100,NaN,NaN,NaN,NaN,NaN
2,SP100,1000000109S050,0.512821,0.523147,0.058054,SP100,NaN,NaN,NaN,NaN,NaN
3,SP100,1000000109S090,0.769231,0.979159,2.036682,SP100,NaN,NaN,NaN,NaN,NaN
4,SP100,1000000109SB20,8.205128,0.971693,1.906276,SP100,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
117351,SP500,999S0001,0.128205,0.999000,3.090232,SP100,NaN,NaN,NaN,NaN,NaN
117352,SP500,999S0002,1.583333,0.699080,0.521757,SP100,NaN,NaN,NaN,NaN,NaN
117353,SP500,M4290824,6433.461538,0.521721,0.054473,SP100,NaN,NaN,NaN,NaN,NaN
117354,SP500,M4290825,3016.666667,0.521721,0.054473,SP100,NaN,NaN,NaN,NaN,NaN
117355,SP500,M8619021,6244.615385,0.999000,3.090232,SP100,SP100,SP500,M8619021,20.875,22.834094

In [247]:
ss_alloc_part_2.ship_cycle_avg_mean = ss_alloc_part_2.apply(lambda x: 0 if x.storage_code_loc==x.storage_code else x.ship_cycle_avg_mean,axis=1)

In [261]:
ss_alloc_part_2.ship_cycle_avg_std = ss_alloc_part_2.apply(lambda x: 0 if x.storage_code_loc==x.storage_code else x.ship_cycle_avg_std,axis=1)

In [262]:
def fill_ship_cycle(df):
    df.ship_cycle_avg_mean.fillna(df.ship_cycle_avg_mean.mean(),inplace=True)
    df.ship_cycle_avg_std.fillna(df.ship_cycle_avg_std.mean(),inplace=True)
    return df

In [263]:
# 用每个分组的均值来填充缺失值
ss_alloc_part_2 = ss_alloc_part_2.groupby(["storage_code_loc","storage_code"]).apply(lambda x:fill_ship_cycle(x))

In [264]:
ss_alloc_part_2

,storage_code,part_code,purchased_quantity_mean,total_fillrate,z_score,storage_code_loc,out_storage_code,in_storage_code,part_no,ship_cycle_avg_mean,ship_cycle_avg_std
0,SP100,10000001090000,0.205128,0.523147,0.058054,SP100,NaN,NaN,NaN,0.000000,0.000000
1,SP100,1000000109S010,0.307692,0.523147,0.058054,SP100,NaN,NaN,NaN,0.000000,0.000000
2,SP100,1000000109S050,0.512821,0.523147,0.058054,SP100,NaN,NaN,NaN,0.000000,0.000000
3,SP100,1000000109S090,0.769231,0.979159,2.036682,SP100,NaN,NaN,NaN,0.000000,0.000000
4,SP100,1000000109SB20,8.205128,0.971693,1.906276,SP100,NaN,NaN,NaN,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
117351,SP500,999S0001,0.128205,0.999000,3.090232,SP100,NaN,NaN,NaN,12.334511,5.974526
117352,SP500,999S0002,1.583333,0.699080,0.521757,SP100,NaN,NaN,NaN,12.334511,5.974526
117353,SP500,M4290824,6433.461538,0.521721,0.054473,SP100,NaN,NaN,NaN,12.334511,5.974526
117354,SP500,M4290825,3016.666667,0.521721,0.054473,SP100,NaN,NaN,NaN,12.334511,5.974526
117355,SP500,M8619021,6244.615385,0.999000,3.090232,SP100,SP100,SP500,M8619021,20.875000,22.834094

In [266]:
# 最后用所有的均值来填充缺失值
ss_alloc_part_2.ship_cycle_avg_mean.fillna(ss_alloc_part_2.ship_cycle_avg_mean.mean(),inplace=True)
ss_alloc_part_2.ship_cycle_avg_std.fillna(ss_alloc_part_2.ship_cycle_avg_std.mean(),inplace=True)

In [267]:
ss_alloc_part_2.isna().any()

storage_code               False
part_code                  False
purchased_quantity_mean    False
total_fillrate             False
z_score                    False
storage_code_loc           False
out_storage_code            True
in_storage_code             True
part_no                     True
ship_cycle_avg_mean        False
ship_cycle_avg_std         False
dtype: bool

In [269]:
# 以后要分开
ss_alloc_part_1 = ss_part_1.copy()
ss_alloc_part_1

,storage_code,part_code,purchased_quantity,Dm,delta,ship_cycle_avg_mean,ship_cycle_avg_std,part_one
0,SP100,10000001090000,1.0,0.000000,1.000000,27.666667,29.091809,1.0
1,SP100,1000000109S090,5.0,0.000000,5.000000,28.510424,NaN,5.0
2,SP100,1000000109SB20,20.0,4.636364,15.363636,48.000000,0.000000,25.0
3,SP100,1000000109SB40,0.0,6.318182,6.318182,28.510424,NaN,6.0
4,SP100,1000000109SB90,0.0,0.000000,0.000000,28.510424,NaN,0.0
...,...,...,...,...,...,...,...,...
247373,SP500,8990011BCD0130,0.0,6.045455,6.045455,28.510424,NaN,6.0
247374,SP500,8990011BCD0133,0.0,1.681818,1.681818,28.510424,NaN,2.0
247375,SP500,8990011BCD0137,0.0,2.681818,2.681818,28.510424,NaN,3.0
247376,SP500,8990011BCD0138,0.0,0.000000,0.000000,28.510424,NaN,0.0
247377,SP500,8990011BCD0151,0.0,0.000000,0.000000,28.510424,NaN,0.0

In [270]:
ss_alloc_part_1 =  ss_alloc_part_1.merge(tm_info,on="part_code",how="left")
ss_alloc_part_1

,storage_code,part_code,purchased_quantity,Dm,delta,ship_cycle_avg_mean,ship_cycle_avg_std,part_one,storage_code_loc
0,SP100,10000001090000,1.0,0.000000,1.000000,27.666667,29.091809,1.0,SP100
1,SP100,1000000109S090,5.0,0.000000,5.000000,28.510424,NaN,5.0,SP100
2,SP100,1000000109SB20,20.0,4.636364,15.363636,48.000000,0.000000,25.0,SP100
3,SP100,1000000109SB40,0.0,6.318182,6.318182,28.510424,NaN,6.0,SP100
4,SP100,1000000109SB90,0.0,0.000000,0.000000,28.510424,NaN,0.0,SP100
...,...,...,...,...,...,...,...,...,...
247373,SP500,8990011BCD0130,0.0,6.045455,6.045455,28.510424,NaN,6.0,GG02
247374,SP500,8990011BCD0133,0.0,1.681818,1.681818,28.510424,NaN,2.0,GG02
247375,SP500,8990011BCD0137,0.0,2.681818,2.681818,28.510424,NaN,3.0,GG02
247376,SP500,8990011BCD0138,0.0,0.000000,0.000000,28.510424,NaN,0.0,GG02
247377,SP500,8990011BCD0151,0.0,0.000000,0.000000,28.510424,NaN,0.0,GG02

In [271]:
ss_alloc_part_1 = ss_alloc_part_1.merge(ss_alloc_part_2,on=["storage_code_loc","storage_code","part_code"],how="left")

In [272]:
ss_alloc_part_1

,storage_code,part_code,purchased_quantity,Dm,delta,ship_cycle_avg_mean_x,ship_cycle_avg_std_x,part_one,storage_code_loc,purchased_quantity_mean,total_fillrate,z_score,out_storage_code,in_storage_code,part_no,ship_cycle_avg_mean_y,ship_cycle_avg_std_y
0,SP100,10000001090000,1.0,0.000000,1.000000,27.666667,29.091809,1.0,SP100,0.205128,0.523147,0.058054,NaN,NaN,NaN,0.000000,0.000000
1,SP100,1000000109S090,5.0,0.000000,5.000000,28.510424,NaN,5.0,SP100,0.769231,0.979159,2.036682,NaN,NaN,NaN,0.000000,0.000000
2,SP100,1000000109SB20,20.0,4.636364,15.363636,48.000000,0.000000,25.0,SP100,8.205128,0.971693,1.906276,NaN,NaN,NaN,0.000000,0.000000
3,SP100,1000000109SB40,0.0,6.318182,6.318182,28.510424,NaN,6.0,SP100,3.333333,0.523147,0.058054,NaN,NaN,NaN,0.000000,0.000000
4,SP100,1000000109SB90,0.0,0.000000,0.000000,28.510424,NaN,0.0,SP100,0.128205,0.523147,0.058054,NaN,NaN,NaN,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247373,SP500,8990011BCD0130,0.0,6.045455,6.045455,28.510424,NaN,6.0,GG02,2.307692,0.521721,0.054473,NaN,NaN,NaN,7.636762,3.874087
247374,SP500,8990011BCD0133,0.0,1.681818,1.681818,28.510424,NaN,2.0,GG02,3.205128,0.521721,0.054473,NaN,NaN,NaN,7.636762,3.874087
247375,SP500,8990011BCD0137,0.0,2.681818,2.681818,28.510424,NaN,3.0,GG02,2.307692,0.521721,0.054473,NaN,NaN,NaN,7.636762,3.874087
247376,SP500,8990011BCD0138,0.0,0.000000,0.000000,28.510424,NaN,0.0,GG02,2.179487,0.521721,0.054473,NaN,NaN,NaN,7.636762,3.874087
247377,SP500,8990011BCD0151,0.0,0.000000,0.000000,28.510424,NaN,0.0,GG02,0.241379,0.521721,0.054473,NaN,NaN,NaN,7.636762,3.874087

In [274]:
ss_alloc_part_1["buffer_stock"] = round(ss_alloc_part_1["delta"]*ss_alloc_part_1["ship_cycle_avg_mean_y"]/30,0)\
+ss_alloc_part_1["z_score"]*ss_alloc_part_1["purchased_quantity_mean"]/30*ss_alloc_part_1["ship_cycle_avg_std_y"]

In [276]:
ss_alloc_part_1

,storage_code,part_code,purchased_quantity,Dm,delta,ship_cycle_avg_mean_x,ship_cycle_avg_std_x,part_one,storage_code_loc,purchased_quantity_mean,total_fillrate,z_score,out_storage_code,in_storage_code,part_no,ship_cycle_avg_mean_y,ship_cycle_avg_std_y,buffer_stock
0,SP100,10000001090000,1.0,0.000000,1.000000,27.666667,29.091809,1.0,SP100,0.205128,0.523147,0.058054,NaN,NaN,NaN,0.000000,0.000000,0.000000
1,SP100,1000000109S090,5.0,0.000000,5.000000,28.510424,NaN,5.0,SP100,0.769231,0.979159,2.036682,NaN,NaN,NaN,0.000000,0.000000,0.000000
2,SP100,1000000109SB20,20.0,4.636364,15.363636,48.000000,0.000000,25.0,SP100,8.205128,0.971693,1.906276,NaN,NaN,NaN,0.000000,0.000000,0.000000
3,SP100,1000000109SB40,0.0,6.318182,6.318182,28.510424,NaN,6.0,SP100,3.333333,0.523147,0.058054,NaN,NaN,NaN,0.000000,0.000000,0.000000
4,SP100,1000000109SB90,0.0,0.000000,0.000000,28.510424,NaN,0.0,SP100,0.128205,0.523147,0.058054,NaN,NaN,NaN,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247373,SP500,8990011BCD0130,0.0,6.045455,6.045455,28.510424,NaN,6.0,GG02,2.307692,0.521721,0.054473,NaN,NaN,NaN,7.636762,3.874087,2.016233
247374,SP500,8990011BCD0133,0.0,1.681818,1.681818,28.510424,NaN,2.0,GG02,3.205128,0.521721,0.054473,NaN,NaN,NaN,7.636762,3.874087,0.022546
247375,SP500,8990011BCD0137,0.0,2.681818,2.681818,28.510424,NaN,3.0,GG02,2.307692,0.521721,0.054473,NaN,NaN,NaN,7.636762,3.874087,1.016233
247376,SP500,8990011BCD0138,0.0,0.000000,0.000000,28.510424,NaN,0.0,GG02,2.179487,0.521721,0.054473,NaN,NaN,NaN,7.636762,3.874087,0.015331
247377,SP500,8990011BCD0151,0.0,0.000000,0.000000,28.510424,NaN,0.0,GG02,0.241379,0.521721,0.054473,NaN,NaN,NaN,7.636762,3.874087,0.001698

In [278]:
prediction = prediction.merge(tm_info,on="part_code",how="left")
prediction

      storage_code          part_code  prediction storage_code_loc
0            SP100     10000001090000        0.00            SP100
1            SP100     1000000109S010        0.00            SP100
2            SP100     1000000109S050        0.25            SP100
3            SP100     1000000109S090        0.50            SP100
4            SP100     1000000109SB20        2.25            SP100
...            ...                ...         ...              ...
92051        SP500  8535008ATN0000B10        0.00            SP500
92052        SP500  8535008BAC0000A08        0.00            SP100
92053        SP500  8535008BAD0000A08        0.00            SP100
92054        SP500  8535008BAD0000A09        1.00            SP100
92055        SP500  8535008BAD0000A23        0.00            SP100

[92056 rows x 4 columns]

In [279]:
ss_alloc_part_1 = ss_alloc_part_1.merge(prediction,on=["storage_code_loc","storage_code","part_code"],how="left")

In [282]:
ss_alloc_part_1["rop"] = ss_alloc_part_1["buffer_stock"] + ss_alloc_part_1["ship_cycle_avg_mean_y"]*test["prediction"]

In [284]:
ss_alloc_part_1 = ss_alloc_part_1[['storage_code', 'part_code','storage_code_loc', 'z_score', 
       'ship_cycle_avg_mean_y', 'ship_cycle_avg_std_y', 'buffer_stock','rop']]

In [286]:
ss_alloc_part_1.rename(columns={'ship_cycle_avg_mean_y':'ship_cycle_avg_mean', 'ship_cycle_avg_std_y':'ship_cycle_avg_std'},inplace=True)

In [288]:
ss_alloc_part_1

,storage_code,part_code,storage_code_loc,z_score,ship_cycle_avg_mean,ship_cycle_avg_std,buffer_stock,rop
0,SP100,10000001090000,SP100,0.058054,0.000000,0.000000,0.000000,0.000000
1,SP100,1000000109S090,SP100,2.036682,0.000000,0.000000,0.000000,0.000000
2,SP100,1000000109SB20,SP100,1.906276,0.000000,0.000000,0.000000,0.000000
3,SP100,1000000109SB40,SP100,0.058054,0.000000,0.000000,0.000000,0.000000
4,SP100,1000000109SB90,SP100,0.058054,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
247373,SP500,8990011BCD0130,GG02,0.054473,7.636762,3.874087,2.016233,2.016233
247374,SP500,8990011BCD0133,GG02,0.054473,7.636762,3.874087,0.022546,0.022546
247375,SP500,8990011BCD0137,GG02,0.054473,7.636762,3.874087,1.016233,1.016233
247376,SP500,8990011BCD0138,GG02,0.054473,7.636762,3.874087,0.015331,0.015331
247377,SP500,8990011BCD0151,GG02,0.054473,7.636762,3.874087,0.001698,0.001698

In [287]:
ss_alloc_part_1.to_parquet("/data/project/zhaozhiyuan/term2/alloc_buffer_stock_rop.parquet")

# 合成表1

In [32]:
# 缓冲库存和再订货点
# test.to_parquet("/data/project/zhaozhiyuan/term2/buffer_stock_rop.parquet")
# 移库
# ss_alloc_part_1.to_parquet("/data/project/zhaozhiyuan/term2/alloc_buffer_stock_rop.parquet")

In [39]:
buffer_stock_rop = pd.read_parquet("/data/project/zhaozhiyuan/term2/buffer_stock_rop.parquet")
buffer_stock_rop.head()

,storage_code,part_code,purchased_quantity_mean,ship_cycle_avg_mean,buffer_stock,prediction,rop
0,SP100,10000001090000,0.205128,27.666667,1.011548,0.00,1.011548
1,SP100,1000000109S090,0.769231,29.237217,5.707254,0.50,20.325863
2,SP100,1000000109SB20,8.205128,48.000000,25.000000,2.25,133.000000
3,SP100,1000000109SB40,3.333333,29.237217,6.087358,0.00,6.087358
4,SP100,1000000109SB90,0.128205,29.237217,0.003360,0.00,0.003360

In [40]:
alloc_buffer_stock_rop = pd.read_parquet("/data/project/zhaozhiyuan/term2/alloc_buffer_stock_rop.parquet")
alloc_buffer_stock_rop.head()

,storage_code,part_code,storage_code_loc,z_score,ship_cycle_avg_mean,ship_cycle_avg_std,buffer_stock,rop
0,SP100,10000001090000,SP100,0.058054,0.0,0.0,0.0,0.0
1,SP100,1000000109S090,SP100,2.036682,0.0,0.0,0.0,0.0
2,SP100,1000000109SB20,SP100,1.906276,0.0,0.0,0.0,0.0
3,SP100,1000000109SB40,SP100,0.058054,0.0,0.0,0.0,0.0
4,SP100,1000000109SB90,SP100,0.058054,0.0,0.0,0.0,0.0

In [42]:
# 缓冲库存和再订货点加上零件落点信息 5.3
buffer_stock_rop = buffer_stock_rop.merge(tm_info,on="part_code",how="left")
buffer_stock_rop

,storage_code,part_code,purchased_quantity_mean,ship_cycle_avg_mean,buffer_stock,prediction,rop,storage_code_loc
0,SP100,10000001090000,0.205128,27.666667,1.011548,0.000000,1.011548,SP100
1,SP100,1000000109S090,0.769231,29.237217,5.707254,0.500000,20.325863,SP100
2,SP100,1000000109SB20,8.205128,48.000000,25.000000,2.250000,133.000000,SP100
3,SP100,1000000109SB40,3.333333,29.237217,6.087358,0.000000,6.087358,SP100
4,SP100,1000000109SB90,0.128205,29.237217,0.003360,0.000000,0.003360,SP100
...,...,...,...,...,...,...,...,...
248210,SP500,897082300E0000,28.615385,8.000000,0.000000,28.615385,228.923077,SP100
248211,SP500,897092000G0000,5.076923,29.000000,0.000000,5.076923,147.230769,SP100
248212,SP500,904000240M,0.512821,29.237217,0.025221,0.512821,15.018666,SP100
248213,SP500,M4290824,6433.461538,29.237217,316.409788,1239.000000,36541.322237,SP100
248214,SP500,M4290825,3016.666667,29.237217,148.365364,9.000000,411.500321,SP100

In [44]:
table_1 = buffer_stock_rop.merge(alloc_buffer_stock_rop,on=["storage_code","storage_code_loc","part_code"],how="left",suffixes=["_pur","_alloc"])

In [46]:
table_1.fillna(value=0,inplace=True)

In [47]:
table_1.head()

,storage_code,part_code,purchased_quantity_mean,ship_cycle_avg_mean_pur,buffer_stock_pur,prediction,rop_pur,storage_code_loc,z_score,ship_cycle_avg_mean_alloc,ship_cycle_avg_std,buffer_stock_alloc,rop_alloc
0,SP100,10000001090000,0.205128,27.666667,1.011548,0.00,1.011548,SP100,0.058054,0.0,0.0,0.0,0.0
1,SP100,1000000109S090,0.769231,29.237217,5.707254,0.50,20.325863,SP100,2.036682,0.0,0.0,0.0,0.0
2,SP100,1000000109SB20,8.205128,48.000000,25.000000,2.25,133.000000,SP100,1.906276,0.0,0.0,0.0,0.0
3,SP100,1000000109SB40,3.333333,29.237217,6.087358,0.00,6.087358,SP100,0.058054,0.0,0.0,0.0,0.0
4,SP100,1000000109SB90,0.128205,29.237217,0.003360,0.00,0.003360,SP100,0.058054,0.0,0.0,0.0,0.0

In [48]:
# 采购库存水位 = 再采购提醒点+移库周期*期望需求
table_1["purchase_stock_level"] = table_1["rop_pur"] + table_1["ship_cycle_avg_mean_alloc"]*table_1["prediction"]

In [49]:
table_1["alloc_stock_level"] = table_1["rop_alloc"]

# 表2的计算

## 期望需求

In [52]:
n0 = arrow.now()
month_list = [n0.shift(months=i).format("YYYY-MM") for i in range(4)]
month_list = tuple(month_list)
sql = f"""
select a.part_code as part_code, avg(a.prediction) as prediction from
(select t.month as month,t.part_code as part_code, sum(t.prediction) as prediction
from tt_demand_prediction t where version="4.4" and t.month in {month_list}
group by t.month, t.part_code) a
group by a.part_code
"""
prediction = pd.read_sql(sql, engine)
prediction

               part_code  prediction
0         10000001090000        0.00
1         1000000109S010        0.00
2         1000000109S050        0.25
3         1000000109S090        6.50
4         1000000109SB20        9.00
...                  ...         ...
19246  8535008BAD0000A10        0.00
19247  8535008BAD0000A11        0.75
19248  8535008BAD0000A13        0.00
19249  8535008BAD0000A22        0.00
19250  8535008BAD0000A23       17.25

[19251 rows x 2 columns]

# 直送件研究
- 找不出直接对应的直送件

In [ ]:
# 油品
select * from tt_pt_sales_in_item a 
join
tt_pt_sales_in b
on a.part_buy_id=b.part_buy_id
where part_no="992S0015";
可以查到送到很多仓库, 但是零件信息表里没有显示是直送

In [ ]:
select * from tt_pt_sales_in_item a 
join
tt_pt_sales_in b
on a.part_buy_id=b.part_buy_id
where part_no="1324409TBW0000";
只有一个仓库

In [306]:
# 统计落点仓库
select part_no, concat_ws(',',collect_set(storage_code)) from tt_pt_sales_in_item a 
join
tt_pt_sales_in b
on a.part_buy_id=b.part_buy_id
where b.storage_code is not null and substr(b.sign_date,1,4)>="2019" 
group by part_no;