In [127]:
import os, sys, importlib
import datetime
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [128]:
from src.util.connection import get_hive_conn,get_hive_conn_dm_mdp
import pandas as pd
from src.util.read_tool import read_config
from pyhive import hive
import numpy as np
from sqlalchemy import create_engine
import datetime

In [2]:
import arrow

In [130]:
conn = get_hive_conn()

In [131]:
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
DB_STRING = "mysql+mysqldb://root:123456@10.88.19.118/dm_dpt?charset=utf8"
engine = create_engine(DB_STRING)

# 数据清洗步骤和结果

1. 获取原始数据，产生表tt_demand_train_original_detail：submit_date(每日）, dealer_code, part_code, purchased_quantity, order_type, storage_code
2. 聚合计算每个月，计算开始时间cal_start_at, 替换件，产生表tt_demand_train_original
3. 根据tt_demand_train_original，在聚合一次，根据开始计算时间扩展样本，产生表tt_demand_train_expand
4. 根据tt_demand_train_expand，样本内（2019年1月-2021年11月）统计均值，标准差，cv，分成n1-n6,波动性高低，产生表 tt_demand_train_additional
5. 根据 tt_demand_train_expand 计算 样本内（2019年1月-2021年11月），N+0,N+1,N+2 分别统计均值，标准差，
    5.1 第一次3倍标准差清洗样本
    5.2 第二次2倍标准差清洗样本 （保留中间过程数据）

# 采购数据 获取原始数据，产生表 tt_demand_train_original_detail

In [132]:
sql="""
select tppo.dealer_code as dealer_code, tppoi.part_code as part_code,
tppoi.purchased_quantity as purchased_quantity,tppo.submit_date as submit_date,tppo.order_type as order_type,
tppoi.storage_code as storage_code,tppo.storage_id as storage_id,tppo.status as status
FROM
temp_tt_pt_purchase_order_item tppoi 
left join
temp_tt_pt_purchase_order tppo
on tppoi.PART_BUY_ID = tppo.PART_BUY_ID 
WHERE
tppo.STATUS IN ( 60051002, 60051006, 60051007, 60051008, 60051011 ) 
AND tppo.ORDER_TYPE != 60981016
AND tppo.ORDER_TYPE != 60981006
AND tppo.OLD_ORDER_NO IS NULL 
AND tppoi.DR = 0
and substr(tppo.submit_date,1,10)>="2022-03-01"
"""
pur_data = pd.read_sql(sql,conn)
pur_data

,dealer_code,part_code,purchased_quantity,submit_date,order_type,storage_code,storage_id,status
0,DGDA010,3110010CAD0200A5S,2.0,2022-03-01 00:47:19.0,60981001,None,None,60051006
1,DLNH010,8535006ADE0200B03,1.0,2022-03-01 08:08:05.0,60981001,None,None,60051006
2,DBJA010,10090082040000,1.0,2022-03-01 08:09:00.0,60981001,None,None,60051006
3,DBJA010,7155007BAD0000,20.0,2022-03-01 08:09:00.0,60981001,None,None,60051006
4,DSND010,7170004CSV0101B20,1.0,2022-03-01 08:14:04.0,60981021,None,None,60051006
...,...,...,...,...,...,...,...,...
182501,DGSA030,7105030ADU0000,1.0,2022-03-17 17:45:53.0,60981001,None,None,60051006
182502,DGZC020,5410131ASV00F0L2Z,1.0,2022-03-17 18:05:31.0,60981001,None,None,60051006
182503,DGDA130,8115003ADU0000,1.0,2022-03-17 18:11:59.0,60981001,None,None,60051006
182504,DGSA030,8125006ADU1000,1.0,2022-03-17 18:43:29.0,60981001,None,None,60051006
182505,DNXA040,7210002ASV0303L2Z,1.0,2022-03-17 19:19:40.0,60981001,None,None,60051006

In [133]:
first_storage = pd.read_parquet("/data/project/zhaozhiyuan/term2/first_storage.parquet")
storage_id_code = first_storage[["storage_id","storage_code"]].drop_duplicates()

In [134]:
def storage_fill(df):
    df.fillna(method="ffill",inplace=True)
    df.fillna(method="bfill",inplace=True)
    return df

In [139]:
pur_data = pur_data.merge(storage_id_code,on="storage_id",how="left")
pur_data.storage_code_x.fillna(value=pur_data.storage_code_y,axis=0,inplace=True)
pur_data = pur_data[['dealer_code', 'part_code', 'purchased_quantity', 'submit_date',
       'order_type','status', 'storage_code_x']]
pur_data.columns = ['dealer_code', 'part_code', 'purchased_quantity', 'submit_date',
       'order_type','status', 'storage_code']
pur_data = pur_data.sort_values(["dealer_code","part_code","submit_date"],ascending=[True,True,True])

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [137]:
pur_data = pur_data.groupby(["dealer_code"]).apply(lambda x:storage_fill(x))

In [141]:
arimax_data = pur_data.merge(first_storage[["dealer_code","storage_code"]],on="dealer_code",how="left")
arimax_data.storage_code_y.fillna(value=arimax_data.storage_code_x,axis=0,inplace=True)
arimax_data.dropna(subset=["storage_code_y"],inplace=True)
arimax_data = arimax_data[['dealer_code', 'part_code', 'purchased_quantity', 'submit_date',
       'order_type','status', 'storage_code_y']]
arimax_data.columns = ['dealer_code', 'part_code', 'purchased_quantity', 'submit_date',
       'order_type','status', 'storage_code']
arimax_data.storage_code = arimax_data.storage_code.apply(lambda x: 'SP120'if x=='SP121' else x)
arimax_data = arimax_data[arimax_data.storage_code.isin(['SP100', 'SP120', 'SP110', 'SP150', 'SP170', 'SP140','SP500', 'SP130', 'SP160'])]
arimax_data.submit_date = arimax_data.submit_date.str[0:10]
arimax_data = arimax_data[['submit_date','dealer_code', 'part_code', 'purchased_quantity', 'order_type','status', 'storage_code']]

In [145]:
order_type_dict={60981001:"正常订单",
60981002:"紧急订单",
60981003:"特殊订单",
60981004:"打刻件订单",
60981006:"活动订单",
60981007:"油品订单",
60981008:"销售公司订单",
60981009:"直供订单",
60981010:"养护用品订单",
60981011:"广告用品订单",
60981012:"例外出库",
60981013:"内部领用出库",
60981014:"缺货单",
60981016:"国际订单",
60981017:"销售订单(分工厂)",
60981018:"直销电商订单",
60981019:"电商订单"}
status_dict = {60051001:"新建",
60051002:"提交",
60051003:"审核驳回",
60051006:"审核通过",
60051007:"已配货",
60051008:"已完成",
60051010:"已取消",
60051011:"冻结"}
arimax_data.order_type = arimax_data.order_type.map(order_type_dict)
arimax_data.status = arimax_data.status.map(status_dict)
arimax_data

,submit_date,dealer_code,part_code,purchased_quantity,order_type,status,storage_code
0,2022-03-01,DGDA010,3110010CAD0200A5S,2.0,正常订单,审核通过,SP100
1,2022-03-01,DLNH010,8535006ADE0200B03,1.0,正常订单,审核通过,SP130
2,2022-03-01,DBJA010,10090082040000,1.0,正常订单,审核通过,SP150
3,2022-03-01,DBJA010,7155007BAD0000,20.0,正常订单,审核通过,SP150
4,2022-03-01,DSND010,7170004CSV0101B20,1.0,NaN,审核通过,SP170
...,...,...,...,...,...,...,...
182501,2022-03-17,DGSA030,7105030ADU0000,1.0,正常订单,审核通过,SP170
182502,2022-03-17,DGZC020,5410131ASV00F0L2Z,1.0,正常订单,审核通过,SP100
182503,2022-03-17,DGDA130,8115003ADU0000,1.0,正常订单,审核通过,SP100
182504,2022-03-17,DGSA030,8125006ADU1000,1.0,正常订单,审核通过,SP170
182505,2022-03-17,DNXA040,7210002ASV0303L2Z,1.0,正常订单,审核通过,SP170

In [146]:
arimax_data.storage_code.isna().sum()

0

In [147]:
# upload_time = datetime.datetime.now()
# arimax_data["upload_time"] = upload_time.strftime("%Y-%m-%d, %H:%M:%S")
arimax_data["upload_time"] = "2022-03-03, 11:30:03"
arimax_data.to_sql('tt_demand_train_original_detail',con=engine,chunksize=10000, if_exists='append',index=False)

# 替换件，计算起始时间，聚合成月 生成tt_demand_train_original

## 处理当月的训练数据
1. 当日-1 作为 终止时间 end
2. 往前31天作为 起始时间 start

In [176]:
sql="""
select * from tt_demand_train_original_detail where substr(upload_time,1,10) = "2022-03-03"
"""
arimax_data = pd.read_sql(sql,engine)
arimax_data

,submit_date,dealer_code,part_code,purchased_quantity,order_type,status,storage_code,upload_time
0,2020-07-29,DAAA001,10060082040000,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
1,2020-07-29,DAAA001,6225003ASV0001M69,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
2,2020-07-29,DAAA001,6310003ASV0401DJ1,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
3,2020-07-29,DAAA001,6320003ASV0301DJ1,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
4,2020-07-29,DAAA001,7105016ASV0100,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
...,...,...,...,...,...,...,...,...
9545370,2022-03-17,DGSA030,7105030ADU0000,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"
9545371,2022-03-17,DGZC020,5410131ASV00F0L2Z,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
9545372,2022-03-17,DGDA130,8115003ADU0000,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
9545373,2022-03-17,DGSA030,8125006ADU1000,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"
9545374,2022-03-17,DNXA040,7210002ASV0303L2Z,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"

In [177]:
arimax_data.drop_duplicates(inplace=True)

In [178]:
# 时间的计算, 计算过去31天
# end='2022-03-31'
# end = arrow.get(end)
end =arrow.now()
start = end.shift(days = -31)
end_MM = end.format("YYYY-MM")
start_MM = start.format("YYYY-MM")
start = start.format("YYYY-MM-DD")
end = end.format("YYYY-MM-DD")
print(f"start_MM:{start_MM}, end_MM:{end_MM}, start:{start}, end:{end}")

start_MM:2022-02, end_MM:2022-03, start:2022-02-15, end:2022-03-18

In [4]:
    end='2021-09'
    end = arrow.get(end)
    end

In [179]:
end[0:7]

'2022-03'

In [180]:
arimax_data_now = arimax_data[arimax_data.submit_date.between(start,end)]

In [181]:
arimax_data_now.submit_date=end_MM

In [182]:
arimax_data_now

,submit_date,dealer_code,part_code,purchased_quantity,order_type,status,storage_code,upload_time
190,2022-03,DAAA005,8990011BCD0154,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
191,2022-03,DAAA005,8990011BCD0154,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
195,2022-03,DAAA005,8990011BCD0155,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
371,2022-03,DAHA020,10060341830000,5.0,正常订单,审核通过,SP120,"2022-03-03, 11:30:03"
772,2022-03,DAHA020,10100051530000,1.0,正常订单,审核通过,SP120,"2022-03-03, 11:30:03"
...,...,...,...,...,...,...,...,...
9545369,2022-03,DGDA160,2150004BAD0000,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
9545370,2022-03,DGSA030,7105030ADU0000,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"
9545371,2022-03,DGZC020,5410131ASV00F0L2Z,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
9545373,2022-03,DGSA030,8125006ADU1000,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"
9545374,2022-03,DNXA040,7210002ASV0303L2Z,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"

In [183]:
# 将日期reshape为月
arimax_data.submit_date = arimax_data.submit_date.str[0:7]

In [184]:
# 取当月之前的月份数据
arimax_data = arimax_data[arimax_data.submit_date<=start_MM]

In [186]:
arimax_data.submit_date.max()

'2022-02'

In [187]:
arimax_data = arimax_data.append(arimax_data_now)

In [188]:
arimax_data

,submit_date,dealer_code,part_code,purchased_quantity,order_type,status,storage_code,upload_time
0,2020-07,DAAA001,10060082040000,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
1,2020-07,DAAA001,6225003ASV0001M69,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
2,2020-07,DAAA001,6310003ASV0401DJ1,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
3,2020-07,DAAA001,6320003ASV0301DJ1,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
4,2020-07,DAAA001,7105016ASV0100,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
...,...,...,...,...,...,...,...,...
9545369,2022-03,DGDA160,2150004BAD0000,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
9545370,2022-03,DGSA030,7105030ADU0000,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"
9545371,2022-03,DGZC020,5410131ASV00F0L2Z,1.0,正常订单,审核通过,SP100,"2022-03-03, 11:30:03"
9545373,2022-03,DGSA030,8125006ADU1000,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"
9545374,2022-03,DNXA040,7210002ASV0303L2Z,1.0,正常订单,审核通过,SP170,"2022-03-03, 11:30:03"

## 替换件

In [189]:
sql="""
select * from dm_mdp.part_option
"""
option_data = pd.read_sql(sql,conn)
option_data

,part_option.option_part_id,part_option.option_part_code,part_option.option_part_name,part_option.part_id,part_option.part_code,part_option.part_name
0,32768,4030062AAF99F1A00,后地板右侧梁组件,32768,4030062AAF99F1A00,后地板右侧梁组件
1,65537,2150020BAC0000,加油口内护罩,65538,2150020BACF000,加油口内护罩
2,65538,2150020BACF000,加油口内护罩,65538,2150020BACF000,加油口内护罩
3,10,4011004CAC00F1A00,前壁板分总成,20438,4011004CAC00F0A00,前壁板分总成
4,32782,3530026CAD0100,左前制动硬管,25239,3530026CAD0101,左前制动硬管
...,...,...,...,...,...,...
6494,65505,2130004BAC99F0,燃油滤清器支架,65507,2130004BAD0000,燃油滤清器支架
6495,65507,2130004BAD0000,燃油滤清器支架,65507,2130004BAD0000,燃油滤清器支架
6496,32749,8355001BAD91F0,右前门线束,32749,8355001BAD91F0,右前门线束
6497,32753,8950002ARX0000,GS5 导航手册（2018款）,32753,8950002ARX0000,GS5 导航手册（2018款）
6498,32755,3550003ADE0000,真空制动软管总成,26725,3550003ADE0100,真空制动软管总成

In [190]:
try:
    option_data.columns = [name.split(".")[1] for name in option_data.columns]
except:
    pass

In [191]:
arimax_data = arimax_data.groupby(["storage_code","part_code","submit_date"])[["purchased_quantity"]].sum()
arimax_data = arimax_data.reset_index()

In [192]:
def update_option_part_code(raw_data):
    """
    替换唯一SKU CODE

    :param raw_data:
    :return: dataframe
    """
    if raw_data["part_code_y"] is None or pd.isna(raw_data["part_code_y"]):
        return raw_data["part_code_x"]
    else:
        return raw_data["part_code_y"]

In [193]:
# 替换件
arimax_data = pd.merge(left=arimax_data, right=option_data, left_on="part_code", right_on="option_part_code", how="left")
arimax_data["part_code_original"] = arimax_data["part_code_x"]
arimax_data.part_code_x=arimax_data.apply(update_option_part_code,axis=1)
arimax_data= arimax_data[['submit_date', 'storage_code',"part_code_original", 'part_code_x', 'purchased_quantity']]
arimax_data.columns = ['submit_date','storage_code',"part_code_original", 'part_code', 'purchased_quantity']

In [194]:
arimax_data[(arimax_data.part_code=="7106013CAD00F0M10")&(arimax_data.storage_code=="SP110")]

,submit_date,storage_code,part_code_original,part_code,purchased_quantity
519874,2019-09,SP110,7106013CAD0000M10,7106013CAD00F0M10,6.0
519875,2019-10,SP110,7106013CAD0000M10,7106013CAD00F0M10,14.0
519876,2019-11,SP110,7106013CAD0000M10,7106013CAD00F0M10,6.0
519877,2019-12,SP110,7106013CAD0000M10,7106013CAD00F0M10,12.0
519878,2020-01,SP110,7106013CAD0000M10,7106013CAD00F0M10,8.0
...,...,...,...,...,...
519939,2021-11,SP110,7106013CAD00F0M10,7106013CAD00F0M10,68.0
519940,2021-12,SP110,7106013CAD00F0M10,7106013CAD00F0M10,56.0
519941,2022-01,SP110,7106013CAD00F0M10,7106013CAD00F0M10,60.0
519942,2022-02,SP110,7106013CAD00F0M10,7106013CAD00F0M10,56.0
519943,2022-03,SP110,7106013CAD00F0M10,7106013CAD00F0M10,72.0

## 计算零件的起始时间

In [195]:
sql="""
select part_code,created_at from dm_mdp.temp_tm_part_info
"""
tm_part = pd.read_sql(sql,conn)
tm_part

                part_code             created_at
0       6210142ASV01F0M69  2015-06-16 10:46:23.0
1       6330094CAD0700YM1  2019-03-13 04:23:59.0
2          2150033BAC0401  2014-03-03 16:04:28.0
3          6310003AMVS350  2018-11-14 18:52:26.0
4       3420030CAD2200SA2  2019-05-09 14:01:10.0
...                   ...                    ...
846885      G-J60-5302510  2022-03-17 17:50:35.0
846886  7106003CMV0100B73  2022-03-17 18:00:12.0
846887  5615041CMVZ100B05  2022-03-17 18:00:14.0
846888  7610002CMV0000B05  2022-03-17 18:00:15.0
846889  7610001BAD0501M00  2022-03-17 18:00:20.0

[846890 rows x 2 columns]

In [196]:
tm_part.sort_values(by=["part_code","created_at"],ascending=[True,True],inplace=True)
tm_part.drop_duplicates(subset=["part_code"],inplace=True)
tm_part

                          part_code             created_at
36192          ZYS      7145004ADE0  2020-12-08 16:31:13.0
222086               MS1G83J1028831  2019-02-26 17:21:20.0
839192                           15  2018-11-25 13:08:06.0
34033                  1G50J2003622  2019-01-29 11:40:07.0
786944                5GN0449932451  2018-12-12 11:01:55.0
...                             ...                    ...
137031               韩泰-205/55R16轮胎  2016-12-21 23:25:55.0
262723                马牌-185/60/R15  2016-12-21 23:25:55.0
388715                      马自达-蓄电池  2016-12-21 23:25:55.0
141531                           黄油  2017-03-12 21:23:01.0
393169                          黑胶布  2017-03-12 21:23:01.0

[570533 rows x 2 columns]

In [197]:
arixmax_temp = arimax_data.groupby("part_code_original")[["submit_date"]].min()
arixmax_temp.reset_index()
arixmax_temp= arixmax_temp.merge(tm_part,left_on="part_code_original",right_on="part_code", how="left")
arixmax_temp
arixmax_temp.created_at= arixmax_temp.created_at.str[0:7]
arixmax_temp["start_at"]=arixmax_temp.created_at
arixmax_temp["cal_start_at"] = arixmax_temp.apply(lambda x: "2019-01" if x.created_at<"2019-01" else x.created_at, axis=1)

In [198]:
arimax_data_copy = arimax_data.copy()

In [112]:
# arimax_data = arimax_data_copy

In [199]:
arimax_data = arimax_data.merge(arixmax_temp[['part_code', 'created_at', 'start_at', 'cal_start_at']],left_on="part_code_original",right_on="part_code", how="left")
arimax_data=arimax_data.drop(columns="part_code_y")
arimax_data.rename(columns={'part_code_x':'part_code'},inplace=True)
arimax_data

,submit_date,storage_code,part_code_original,part_code,purchased_quantity,created_at,start_at,cal_start_at
0,2019-04,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01
1,2019-06,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01
2,2019-07,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01
3,2019-08,SP100,10000001090000,10000001090000,2.0,2014-12,2014-12,2019-01
4,2020-10,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01
...,...,...,...,...,...,...,...,...
1822333,2021-11,SP500,M8619021,M8619021,3630.0,2016-05,2016-05,2019-01
1822334,2021-12,SP500,M8619021,M8619021,2970.0,2016-05,2016-05,2019-01
1822335,2022-01,SP500,M8619021,M8619021,4290.0,2016-05,2016-05,2019-01
1822336,2022-02,SP500,M8619021,M8619021,1650.0,2016-05,2016-05,2019-01
1822337,2022-03,SP500,M8619021,M8619021,3630.0,2016-05,2016-05,2019-01

In [200]:
# 新旧替换件,时间取最旧的
arimax_temp = arimax_data.groupby("part_code")[["cal_start_at"]].min()
arimax_temp = arimax_temp.reset_index()
arimax_temp

            part_code cal_start_at
0      10000001090000      2019-01
1      1000000109S010      2019-01
2      1000000109S020      2019-01
3      1000000109S040      2019-01
4      1000000109S050      2019-01
...               ...          ...
35150        M4290831      2021-01
35151        M8619009      2019-01
35152        M8619012      2019-01
35153        M8619021      2019-01
35154        M8619029      2019-01

[35155 rows x 2 columns]

In [201]:
arimax_data = arimax_data[['submit_date', 'storage_code', 'part_code_original', 'part_code', 'purchased_quantity', 'created_at', 'start_at']].merge(arimax_temp,on="part_code",how="left")
arimax_data

,submit_date,storage_code,part_code_original,part_code,purchased_quantity,created_at,start_at,cal_start_at
0,2019-04,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01
1,2019-06,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01
2,2019-07,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01
3,2019-08,SP100,10000001090000,10000001090000,2.0,2014-12,2014-12,2019-01
4,2020-10,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01
...,...,...,...,...,...,...,...,...
1822333,2021-11,SP500,M8619021,M8619021,3630.0,2016-05,2016-05,2019-01
1822334,2021-12,SP500,M8619021,M8619021,2970.0,2016-05,2016-05,2019-01
1822335,2022-01,SP500,M8619021,M8619021,4290.0,2016-05,2016-05,2019-01
1822336,2022-02,SP500,M8619021,M8619021,1650.0,2016-05,2016-05,2019-01
1822337,2022-03,SP500,M8619021,M8619021,3630.0,2016-05,2016-05,2019-01

In [202]:
arimax_data[(arimax_data.part_code=="7106013CAD00F0M10")]

,submit_date,storage_code,part_code_original,part_code,purchased_quantity,created_at,start_at,cal_start_at
236592,2019-09,SP100,7106013CAD0000M10,7106013CAD00F0M10,10.0,2016-10,2016-10,2019-01
236593,2019-10,SP100,7106013CAD0000M10,7106013CAD00F0M10,36.0,2016-10,2016-10,2019-01
236594,2019-11,SP100,7106013CAD0000M10,7106013CAD00F0M10,40.0,2016-10,2016-10,2019-01
236595,2019-12,SP100,7106013CAD0000M10,7106013CAD00F0M10,48.0,2016-10,2016-10,2019-01
236596,2020-01,SP100,7106013CAD0000M10,7106013CAD00F0M10,22.0,2016-10,2016-10,2019-01
...,...,...,...,...,...,...,...,...
1768734,2021-11,SP500,7106013CAD00F0M10,7106013CAD00F0M10,18.0,2016-10,2016-10,2019-01
1768735,2021-12,SP500,7106013CAD00F0M10,7106013CAD00F0M10,24.0,2016-10,2016-10,2019-01
1768736,2022-01,SP500,7106013CAD00F0M10,7106013CAD00F0M10,10.0,2016-10,2016-10,2019-01
1768737,2022-02,SP500,7106013CAD00F0M10,7106013CAD00F0M10,24.0,2016-10,2016-10,2019-01
1768738,2022-03,SP500,7106013CAD00F0M10,7106013CAD00F0M10,18.0,2016-10,2016-10,2019-01

In [203]:
arimax_temp[arimax_temp.part_code=="7106013CAD00F0M10"]

               part_code cal_start_at
22152  7106013CAD00F0M10      2019-01

In [205]:
upload_time = datetime.datetime.now()
arimax_data["upload_time"] = upload_time.strftime("%Y-%m-%d, %H:%M:%S")
arimax_data

,submit_date,storage_code,part_code_original,part_code,purchased_quantity,created_at,start_at,cal_start_at,upload_time
0,2019-04,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01,"2022-03-18, 10:46:36"
1,2019-06,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01,"2022-03-18, 10:46:36"
2,2019-07,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01,"2022-03-18, 10:46:36"
3,2019-08,SP100,10000001090000,10000001090000,2.0,2014-12,2014-12,2019-01,"2022-03-18, 10:46:36"
4,2020-10,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01,"2022-03-18, 10:46:36"
...,...,...,...,...,...,...,...,...,...
1822333,2021-11,SP500,M8619021,M8619021,3630.0,2016-05,2016-05,2019-01,"2022-03-18, 10:46:36"
1822334,2021-12,SP500,M8619021,M8619021,2970.0,2016-05,2016-05,2019-01,"2022-03-18, 10:46:36"
1822335,2022-01,SP500,M8619021,M8619021,4290.0,2016-05,2016-05,2019-01,"2022-03-18, 10:46:36"
1822336,2022-02,SP500,M8619021,M8619021,1650.0,2016-05,2016-05,2019-01,"2022-03-18, 10:46:36"
1822337,2022-03,SP500,M8619021,M8619021,3630.0,2016-05,2016-05,2019-01,"2022-03-18, 10:46:36"

In [206]:
arimax_data.to_sql('tt_demand_train_original',con=engine,chunksize=10000, if_exists='append',index=False)

# 不带替换件再聚合一次，扩展时间 产生 tt_demand_train_expand

In [107]:
sql="""
select * from tt_demand_train_original where substr(upload_time,1,10) = "2022-03-18"
"""
arimax_data = pd.read_sql(sql,engine)
arimax_data

,submit_date,storage_code,part_code_original,part_code,purchased_quantity,created_at,start_at,cal_start_at,upload_time
0,2019-04,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01,"2022-03-03, 12:47:10"
1,2019-06,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01,"2022-03-03, 12:47:10"
2,2019-07,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01,"2022-03-03, 12:47:10"
3,2019-08,SP100,10000001090000,10000001090000,2.0,2014-12,2014-12,2019-01,"2022-03-03, 12:47:10"
4,2020-10,SP100,10000001090000,10000001090000,1.0,2014-12,2014-12,2019-01,"2022-03-03, 12:47:10"
...,...,...,...,...,...,...,...,...,...
1775657,2021-11,SP500,M8619021,M8619021,3630.0,2016-05,2016-05,2019-01,"2022-03-03, 12:47:10"
1775658,2021-12,SP500,M8619021,M8619021,2970.0,2016-05,2016-05,2019-01,"2022-03-03, 12:47:10"
1775659,2022-01,SP500,M8619021,M8619021,4290.0,2016-05,2016-05,2019-01,"2022-03-03, 12:47:10"
1775660,2022-02,SP500,M8619021,M8619021,1650.0,2016-05,2016-05,2019-01,"2022-03-03, 12:47:10"
1775661,2022-03,SP500,M8619021,M8619021,330.0,2016-05,2016-05,2019-01,"2022-03-03, 12:47:10"

In [207]:
arimax_data = arimax_data.groupby(["storage_code","part_code","submit_date"]).agg({"purchased_quantity":"sum","cal_start_at":"min"})
arimax_data=arimax_data.reset_index()
arimax_data = arimax_data[arimax_data.purchased_quantity>0]

In [109]:
# start = "2019-01"
# end ="2022-02"

In [208]:
# arimax_data = arimax_data[arimax_data.submit_date.between(start,end)]
arimax_data.columns = ['storage_code', 'part_code', 'month', 'purchased_quantity',"cal_start_at"]

In [209]:
arimax_data_1 = arimax_data[arimax_data.cal_start_at=="2019-01"]
arimax_data_2 = arimax_data[arimax_data.cal_start_at>"2019-01"]

In [218]:
# 扩充2019 之后的, 从计算时间开始扩充
def expand_date(df,end):
    begin = df.cal_start_at.unique()[0]
    end= end
    date_range = pd.DataFrame()
    date_range["month"]=pd.date_range(begin,end,freq="MS")
    date_range["month"] = date_range["month"].apply(lambda x:x.strftime('%Y-%m'))
    date_range["storage_code"]=df.storage_code.unique()[0]
    date_range["part_code"]=df.part_code.unique()[0]
    date_range["cal_start_at"]=df.cal_start_at.unique()[0]
    df = df.merge(date_range,on=["storage_code","part_code","month","cal_start_at"],how="outer")
    df.fillna(0,inplace=True)
    return df

In [219]:
arimax_data_2

        storage_code   part_code    month  purchased_quantity cal_start_at
1094           SP100  1001000242  2019-10             24960.0      2019-07
1095           SP100  1001000242  2019-11             23680.0      2019-07
1096           SP100  1001000242  2019-12             33340.0      2019-07
1097           SP100  1001000242  2020-01             16260.0      2019-07
1098           SP100  1001000242  2020-02              2420.0      2019-07
...              ...         ...      ...                 ...          ...
1770129        SP500    M4290825  2020-07               850.0      2020-04
1770130        SP500    M4290825  2020-09               500.0      2020-04
1770131        SP500    M4290830  2021-01             31980.0      2021-01
1770132        SP500    M4290830  2021-02               990.0      2021-01
1770133        SP500    M4290831  2021-01              1830.0      2021-01

[332338 rows x 5 columns]

In [220]:
end =arrow.now()
end = end.format("YYYY-MM")
end

'2022-03'

In [221]:
arimax_data_temp = arimax_data_2.groupby(["storage_code","part_code"]).apply(lambda x:expand_date(x,end))
arimax_data_temp = arimax_data_temp.reset_index(drop=True)

In [87]:
arimax_data_temp.isna().any()

storage_code          False
part_code             False
month                 False
purchased_quantity    False
cal_start_at          False
dtype: bool

In [222]:
arimax_data_temp = arimax_data_temp.sort_values(["storage_code","part_code","month"],ascending=[True,True,True])

In [214]:
# 扩充2019年开始的
def expand_arimax(arimax_data, end):
    part_list = arimax_data.part_code.unique()
    storage_list = arimax_data.storage_code.unique()
    begin = "2019-01"
    end = end
    df = pd.DataFrame()
    df["month"]=pd.date_range(begin,end,freq="MS")
    df["month"] = df["month"].apply(lambda x:x.strftime('%Y-%m'))
    df["value"]="abc"
    part_df = pd.DataFrame(part_list,columns=["part_code"])
    part_df["value"]="abc"
    storage_df = pd.DataFrame(storage_list,columns=["storage_code"])
    storage_df["value"]="abc"
    df =df.merge(part_df, how="left", on="value")
    date_period = df.merge(storage_df, how="left", on="value")
    date_period.drop(columns=["value"],inplace=True)
    arimax_data = arimax_data[["month","storage_code","part_code","purchased_quantity","cal_start_at"]].merge(date_period, how="outer", on=["month","storage_code","part_code"])
    arimax_data.fillna(0,inplace=True)
    return arimax_data

In [215]:
arimax_data_temp_1 = expand_arimax(arimax_data_1,end)
arimax_data_temp_1.sort_values(["storage_code","part_code","month"],ascending=[True,True,True])
arimax_data_temp_1.cal_start_at="2019-01"

In [216]:
# 将连续为0去掉
arimax_data_temp_x = arimax_data_temp_1.groupby(["storage_code","part_code"])[["purchased_quantity"]].sum().reset_index()
arimax_data_temp_x = arimax_data_temp_x[arimax_data_temp_x.purchased_quantity==0]
arimax_data_temp_1 = arimax_data_temp_1.merge(arimax_data_temp_x,on=["storage_code","part_code"],how="left")
arimax_data_temp_1 = arimax_data_temp_1[arimax_data_temp_1.purchased_quantity_y.isna()]
arimax_data_temp_1 = arimax_data_temp_1[["month","storage_code","part_code","purchased_quantity_x","cal_start_at"]]
arimax_data_temp_1.columns = ["month","storage_code","part_code","purchased_quantity","cal_start_at"]
arimax_data_temp_1

           month storage_code       part_code  purchased_quantity cal_start_at
0        2019-04        SP100  10000001090000                 1.0      2019-01
1        2019-06        SP100  10000001090000                 1.0      2019-01
2        2019-07        SP100  10000001090000                 1.0      2019-01
3        2019-08        SP100  10000001090000                 2.0      2019-01
4        2020-10        SP100  10000001090000                 1.0      2019-01
...          ...          ...             ...                 ...          ...
8002412  2022-03        SP500  8970603CAC0100                 0.0      2019-01
8002421  2022-03        SP500      901000282J                 0.0      2019-01
8002430  2022-03        SP500      9020000329                 0.0      2019-01
8002439  2022-03        SP500      9020005621                 0.0      2019-01
8002448  2022-03        SP500   9110005921M44                 0.0      2019-01

[5008380 rows x 5 columns]

In [223]:
arimax_data_test = arimax_data_temp_1.append(arimax_data_temp)
arimax_data_test = arimax_data_test.sort_values(["storage_code","part_code","month"],ascending=[True,True,True])
arimax_data_test

           month storage_code       part_code  purchased_quantity cal_start_at
1414273  2019-01        SP100  10000001090000                 0.0      2019-01
1585945  2019-02        SP100  10000001090000                 0.0      2019-01
1757306  2019-03        SP100  10000001090000                 0.0      2019-01
0        2019-04        SP100  10000001090000                 1.0      2019-01
2091678  2019-05        SP100  10000001090000                 0.0      2019-01
...          ...          ...             ...                 ...          ...
1414268  2021-11        SP500        M8619021              3630.0      2019-01
1414269  2021-12        SP500        M8619021              2970.0      2019-01
1414270  2022-01        SP500        M8619021              4290.0      2019-01
1414271  2022-02        SP500        M8619021              1650.0      2019-01
1414272  2022-03        SP500        M8619021              3630.0      2019-01

[6435425 rows x 5 columns]

In [224]:
arimax_data = arimax_data_test.sort_values(["storage_code","part_code","month"],ascending=[True,True,True])

In [225]:
arimax_data = arimax_data.reset_index(drop=True)
arimax_data

           month storage_code       part_code  purchased_quantity cal_start_at
0        2019-01        SP100  10000001090000                 0.0      2019-01
1        2019-02        SP100  10000001090000                 0.0      2019-01
2        2019-03        SP100  10000001090000                 0.0      2019-01
3        2019-04        SP100  10000001090000                 1.0      2019-01
4        2019-05        SP100  10000001090000                 0.0      2019-01
...          ...          ...             ...                 ...          ...
6435420  2021-11        SP500        M8619021              3630.0      2019-01
6435421  2021-12        SP500        M8619021              2970.0      2019-01
6435422  2022-01        SP500        M8619021              4290.0      2019-01
6435423  2022-02        SP500        M8619021              1650.0      2019-01
6435424  2022-03        SP500        M8619021              3630.0      2019-01

[6435425 rows x 5 columns]

In [228]:
arimax_data[(arimax_data.part_code=="7106013CAD00F0M10")]

,month,storage_code,part_code,purchased_quantity,cal_start_at,upload_time
649276,2019-01,SP100,7106013CAD00F0M10,312.0,2019-01,"2022-03-18, 11:24:14"
649277,2019-02,SP100,7106013CAD00F0M10,296.0,2019-01,"2022-03-18, 11:24:14"
649278,2019-03,SP100,7106013CAD00F0M10,282.0,2019-01,"2022-03-18, 11:24:14"
649279,2019-04,SP100,7106013CAD00F0M10,296.0,2019-01,"2022-03-18, 11:24:14"
649280,2019-05,SP100,7106013CAD00F0M10,254.0,2019-01,"2022-03-18, 11:24:14"
...,...,...,...,...,...,...
6206761,2021-11,SP500,7106013CAD00F0M10,18.0,2019-01,"2022-03-18, 11:24:14"
6206762,2021-12,SP500,7106013CAD00F0M10,32.0,2019-01,"2022-03-18, 11:24:14"
6206763,2022-01,SP500,7106013CAD00F0M10,10.0,2019-01,"2022-03-18, 11:24:14"
6206764,2022-02,SP500,7106013CAD00F0M10,24.0,2019-01,"2022-03-18, 11:24:14"
6206765,2022-03,SP500,7106013CAD00F0M10,18.0,2019-01,"2022-03-18, 11:24:14"

In [226]:
upload_time = datetime.datetime.now()
arimax_data["upload_time"] = upload_time.strftime("%Y-%m-%d, %H:%M:%S")

In [227]:
arimax_data.to_sql('tt_demand_train_expand',con=engine,chunksize=10000, if_exists='append',index=False)

# 根据tt_demand_train_expand 产生 tt_demand_train

In [230]:
def change_columns(df):
    name_lst=[]
    for name in df.columns:
        if name[1]=="":
             name_lst.append(name[0])
        else:
            tmp = "_".join([name[0],name[1]])
            name_lst.append(tmp)
    return name_lst

In [231]:
arimax_data.drop(columns="upload_time",inplace=True)

In [232]:
arimax_data.columns = ['month', 'storage_code', 'part_code', 'purchased_quantity_sum','cal_start_at']

## 3 倍标准差

In [233]:
arimax_data_mean_std = arimax_data.groupby(["storage_code","part_code"]).agg({"purchased_quantity_sum":["mean","std"]})
arimax_data_mean_std = arimax_data_mean_std.reset_index()
arimax_data_mean_std.columns = change_columns(arimax_data_mean_std)
arimax_data = arimax_data.merge(arimax_data_mean_std,on=["storage_code","part_code"],how="left")
arimax_data["purchased_quantity_sum_max"] = arimax_data["purchased_quantity_sum_mean"] + 3*arimax_data["purchased_quantity_sum_std"]
arimax_data["purchased_quantity_sum_min"] = arimax_data["purchased_quantity_sum_mean"] - 3*arimax_data["purchased_quantity_sum_std"]

### temp表示异常值
- 异常值用abc代替
- 原表merge temp表
- 正常值的forward 和 backward为空,用原值代替
- 将forward 和 backward为abc的转成np.nan
- 用上下的均值替代np.nan

In [234]:
arimax_data_temp = arimax_data[~arimax_data.purchased_quantity_sum.between(arimax_data["purchased_quantity_sum_min"],arimax_data["purchased_quantity_sum_max"])]
arimax_data_temp.sort_values(["storage_code","part_code","month"],ascending=[True,True,True])
arimax_data_temp = arimax_data_temp[["month","storage_code","part_code"]]
arimax_data_temp["forward"]="abc"
arimax_data_temp["backward"]="abc"
arimax_data_temp["mfill"]="abc"
arimax_data_temp

           month storage_code       part_code forward backward mfill
7        2019-08        SP100  10000001090000     abc      abc   abc
53       2020-03        SP100  1000000109S010     abc      abc   abc
81       2019-04        SP100  1000000109S020     abc      abc   abc
198      2019-04        SP100  1000000109SA30     abc      abc   abc
201      2019-07        SP100  1000000109SA30     abc      abc   abc
...          ...          ...             ...     ...      ...   ...
6435255  2020-05        SP500        M4290825     abc      abc   abc
6435278  2021-01        SP500        M4290830     abc      abc   abc
6435293  2021-01        SP500        M4290831     abc      abc   abc
6435349  2019-03        SP500        M8619012     abc      abc   abc
6435386  2019-01        SP500        M8619021     abc      abc   abc

[162623 rows x 6 columns]

### 清除异常值

In [235]:
arimax_data = arimax_data.merge(arimax_data_temp,on=["month","storage_code","part_code"],how="left")
arimax_data["purchased_quantity_original"] = arimax_data["purchased_quantity_sum"]
arimax_data["forward"].fillna(value=arimax_data.purchased_quantity_sum,inplace=True)
arimax_data["backward"].fillna(value=arimax_data.purchased_quantity_sum,inplace=True)
arimax_data.loc[arimax_data.forward=="abc",["forward","backward"]] = np.nan

In [236]:
def cal_exor_mean(df):
    df["forward"].fillna(method="ffill",inplace=True)
    df["backward"].fillna(method="bfill",inplace=True)
    df["forward"].fillna(method="bfill",inplace=True)
    df["backward"].fillna(method="ffill",inplace=True)
    return df

In [237]:
arimax_data_temp = arimax_data.groupby(by=["storage_code","part_code"]).apply(lambda x:cal_exor_mean(x))
arimax_data_temp.purchased_quantity_sum=(arimax_data_temp.forward+arimax_data_temp.backward)/2

In [238]:
def del_zero_data_train(df):
    """
    将train中连续为0的数据去掉
    :param df:
    :return:
    """
    df_x = df.groupby(["storage_code", "part_code"])[["purchased_quantity_sum"]].sum().reset_index()
    df_x = df_x[df_x.purchased_quantity_sum==0]
    df = df.merge(df_x, on=["storage_code", "part_code"], how="left")
    df = df[df.purchased_quantity_sum_y.isna()]
    df.drop(columns="purchased_quantity_sum_y",inplace=True)
    df.rename(columns={"purchased_quantity_sum_x":"purchased_quantity_sum"},inplace=True)
    df.sort_values(["storage_code","part_code","month"],ascending=[True,True,True])
    return df

In [239]:
arimax_data = del_zero_data_train(arimax_data_temp)

In [134]:
arimax_data

,month,storage_code,part_code,purchased_quantity_sum,cal_start_at,purchased_quantity_sum_mean,purchased_quantity_sum_std,purchased_quantity_sum_max,purchased_quantity_sum_min,forward,backward,mfill,purchased_quantity_original
0,2019-01,SP100,10000001090000,0.0,2019-01,0.210526,0.474079,1.632764,-1.211711,0.0,0.0,NaN,0.0
1,2019-02,SP100,10000001090000,0.0,2019-01,0.210526,0.474079,1.632764,-1.211711,0.0,0.0,NaN,0.0
2,2019-03,SP100,10000001090000,0.0,2019-01,0.210526,0.474079,1.632764,-1.211711,0.0,0.0,NaN,0.0
3,2019-04,SP100,10000001090000,1.0,2019-01,0.210526,0.474079,1.632764,-1.211711,1.0,1.0,NaN,1.0
4,2019-05,SP100,10000001090000,0.0,2019-01,0.210526,0.474079,1.632764,-1.211711,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6209812,2021-10,SP500,M8619021,1980.0,2019-01,6313.421053,5669.322986,23321.390009,-10694.547904,1980.0,1980.0,NaN,1980.0
6209813,2021-11,SP500,M8619021,3630.0,2019-01,6313.421053,5669.322986,23321.390009,-10694.547904,3630.0,3630.0,NaN,3630.0
6209814,2021-12,SP500,M8619021,2970.0,2019-01,6313.421053,5669.322986,23321.390009,-10694.547904,2970.0,2970.0,NaN,2970.0
6209815,2022-01,SP500,M8619021,4290.0,2019-01,6313.421053,5669.322986,23321.390009,-10694.547904,4290.0,4290.0,NaN,4290.0
6209816,2022-02,SP500,M8619021,1650.0,2019-01,6313.421053,5669.322986,23321.390009,-10694.547904,1650.0,1650.0,NaN,1650.0

## 2倍标准差, 防止平均值太小的被清洗，规定标准差大于0.9倍均值,且大于2的才纳入清洗

In [135]:
# arimax_data_copy = arimax_data.copy()
# arimax_data

,month,storage_code,part_code,purchased_quantity_sum,cal_start_at,purchased_quantity_sum_mean,purchased_quantity_sum_std,purchased_quantity_sum_max,purchased_quantity_sum_min,forward,backward,mfill,purchased_quantity_original
0,2019-01,SP100,10000001090000,0.0,2019-01,0.210526,0.474079,1.632764,-1.211711,0.0,0.0,NaN,0.0
1,2019-02,SP100,10000001090000,0.0,2019-01,0.210526,0.474079,1.632764,-1.211711,0.0,0.0,NaN,0.0
2,2019-03,SP100,10000001090000,0.0,2019-01,0.210526,0.474079,1.632764,-1.211711,0.0,0.0,NaN,0.0
3,2019-04,SP100,10000001090000,1.0,2019-01,0.210526,0.474079,1.632764,-1.211711,1.0,1.0,NaN,1.0
4,2019-05,SP100,10000001090000,0.0,2019-01,0.210526,0.474079,1.632764,-1.211711,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6209812,2021-10,SP500,M8619021,1980.0,2019-01,6313.421053,5669.322986,23321.390009,-10694.547904,1980.0,1980.0,NaN,1980.0
6209813,2021-11,SP500,M8619021,3630.0,2019-01,6313.421053,5669.322986,23321.390009,-10694.547904,3630.0,3630.0,NaN,3630.0
6209814,2021-12,SP500,M8619021,2970.0,2019-01,6313.421053,5669.322986,23321.390009,-10694.547904,2970.0,2970.0,NaN,2970.0
6209815,2022-01,SP500,M8619021,4290.0,2019-01,6313.421053,5669.322986,23321.390009,-10694.547904,4290.0,4290.0,NaN,4290.0
6209816,2022-02,SP500,M8619021,1650.0,2019-01,6313.421053,5669.322986,23321.390009,-10694.547904,1650.0,1650.0,NaN,1650.0

In [154]:
arimax_data = arimax_data_copy

In [240]:
arimax_data.columns = ['month', 'storage_code', 'part_code', 'purchased_quantity_sum',
       'cal_start_at', 'purchased_quantity_sum_mean_1st',
       'purchased_quantity_sum_std_1st', 'purchased_quantity_sum_max_1st',
       'purchased_quantity_sum_min_1st', 'forward_1st', 'backward_1st', 'mfill_1st',
       'purchased_quantity_original_1st']

In [241]:
arimax_data_mean_std = arimax_data.groupby(["storage_code","part_code"]).agg({"purchased_quantity_sum":["mean","std"]})
arimax_data_mean_std = arimax_data_mean_std.reset_index()
arimax_data_mean_std

       storage_code       part_code purchased_quantity_sum
                                                      mean           std
0             SP100  10000001090000               0.166667      0.368734
1             SP100  1000000109S010               0.179487      0.506370
2             SP100  1000000109S050               0.512821      1.536774
3             SP100  1000000109S090               0.769231      1.827589
4             SP100  1000000109SB20               7.230769      7.421383
...             ...             ...                    ...           ...
117932        SP500        M4290824            5544.038462  10433.156188
117933        SP500        M4290825            2178.125000   6192.471378
117934        SP500        M4290830             132.000000    348.347118
117935        SP500        M8619009              25.641026     76.838685
117936        SP500        M8619021            5779.230769   4848.732002

[117937 rows x 4 columns]

In [242]:
arimax_data_mean_std.columns = change_columns(arimax_data_mean_std)
arimax_data_mean_std

,storage_code,part_code,purchased_quantity_sum_mean,purchased_quantity_sum_std
0,SP100,10000001090000,0.166667,0.368734
1,SP100,1000000109S010,0.179487,0.506370
2,SP100,1000000109S050,0.512821,1.536774
3,SP100,1000000109S090,0.769231,1.827589
4,SP100,1000000109SB20,7.230769,7.421383
...,...,...,...,...
117932,SP500,M4290824,5544.038462,10433.156188
117933,SP500,M4290825,2178.125000,6192.471378
117934,SP500,M4290830,132.000000,348.347118
117935,SP500,M8619009,25.641026,76.838685
117936,SP500,M8619021,5779.230769,4848.732002

In [243]:
arimax_data = arimax_data.merge(arimax_data_mean_std,on=["storage_code","part_code"],how="left")
arimax_data

,month,storage_code,part_code,purchased_quantity_sum,cal_start_at,purchased_quantity_sum_mean_1st,purchased_quantity_sum_std_1st,purchased_quantity_sum_max_1st,purchased_quantity_sum_min_1st,forward_1st,backward_1st,mfill_1st,purchased_quantity_original_1st,purchased_quantity_sum_mean,purchased_quantity_sum_std
0,2019-01,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.201910,0.0,0.0,NaN,0.0,0.166667,0.368734
1,2019-02,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.201910,0.0,0.0,NaN,0.0,0.166667,0.368734
2,2019-03,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.201910,0.0,0.0,NaN,0.0,0.166667,0.368734
3,2019-04,SP100,10000001090000,1.0,2019-01,0.205128,0.469013,1.612167,-1.201910,1.0,1.0,NaN,1.0,0.166667,0.368734
4,2019-05,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.201910,0.0,0.0,NaN,0.0,0.166667,0.368734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4021626,2021-11,SP500,M8619021,3630.0,2019-01,6244.615385,5610.707267,23076.737185,-10587.506415,3630.0,3630.0,NaN,3630.0,5779.230769,4848.732002
4021627,2021-12,SP500,M8619021,2970.0,2019-01,6244.615385,5610.707267,23076.737185,-10587.506415,2970.0,2970.0,NaN,2970.0,5779.230769,4848.732002
4021628,2022-01,SP500,M8619021,4290.0,2019-01,6244.615385,5610.707267,23076.737185,-10587.506415,4290.0,4290.0,NaN,4290.0,5779.230769,4848.732002
4021629,2022-02,SP500,M8619021,1650.0,2019-01,6244.615385,5610.707267,23076.737185,-10587.506415,1650.0,1650.0,NaN,1650.0,5779.230769,4848.732002
4021630,2022-03,SP500,M8619021,3630.0,2019-01,6244.615385,5610.707267,23076.737185,-10587.506415,3630.0,3630.0,NaN,3630.0,5779.230769,4848.732002

In [244]:
arimax_data["purchased_quantity_sum_max"] = arimax_data["purchased_quantity_sum_mean"] + 2*arimax_data["purchased_quantity_sum_std"]
arimax_data["purchased_quantity_sum_min"] = arimax_data["purchased_quantity_sum_mean"] - 2*arimax_data["purchased_quantity_sum_std"]

In [245]:
# 加入大于0.9倍，且大于 2
arimax_data_temp = arimax_data[~arimax_data.purchased_quantity_sum.between(arimax_data["purchased_quantity_sum_min"],arimax_data["purchased_quantity_sum_max"])]
arimax_data_temp = arimax_data_temp[(arimax_data_temp.purchased_quantity_sum_std>=0.9*arimax_data_temp.purchased_quantity_sum_mean)&(arimax_data_temp.purchased_quantity_sum_std>=2)]
arimax_data_temp.sort_values(["storage_code","part_code","month"],ascending=[True,True,True])
arimax_data_temp = arimax_data_temp[["month","storage_code","part_code"]]
arimax_data_temp["forward"]="abc"
arimax_data_temp["backward"]="abc"
arimax_data_temp["mfill"]="abc"
arimax_data_temp

           month storage_code       part_code forward backward mfill
163      2019-08        SP100  1000000109SB20     abc      abc   abc
171      2020-04        SP100  1000000109SB20     abc      abc   abc
174      2020-07        SP100  1000000109SB20     abc      abc   abc
200      2019-06        SP100  1000000109SB40     abc      abc   abc
201      2019-07        SP100  1000000109SB40     abc      abc   abc
...          ...          ...             ...     ...      ...   ...
4021539  2021-02        SP500        M4290830     abc      abc   abc
4021555  2019-03        SP500        M8619009     abc      abc   abc
4021559  2019-07        SP500        M8619009     abc      abc   abc
4021564  2019-12        SP500        M8619009     abc      abc   abc
4021575  2020-11        SP500        M8619009     abc      abc   abc

[21801 rows x 6 columns]

In [246]:
arimax_data = arimax_data.merge(arimax_data_temp,on=["month","storage_code","part_code"],how="left")
arimax_data["purchased_quantity_original"] = arimax_data["purchased_quantity_sum"]
arimax_data["forward"].fillna(value=arimax_data.purchased_quantity_sum,inplace=True)
arimax_data["backward"].fillna(value=arimax_data.purchased_quantity_sum,inplace=True)
arimax_data.loc[arimax_data.forward=="abc",["forward","backward"]] = np.nan

In [247]:
arimax_data_temp = arimax_data.groupby(by=["storage_code","part_code"]).apply(lambda x:cal_exor_mean(x))
arimax_data_temp.purchased_quantity_sum=(arimax_data_temp.forward+arimax_data_temp.backward)/2

In [248]:
# 更新版本，适应任何表，连续为0 的去除掉
def del_zero_data_train_update(df):
    """
    将train中连续为0的数据去掉
    :param df:
    :return:
    """
    df_x = df.groupby(["storage_code", "part_code"])[["purchased_quantity_sum"]].sum().reset_index()
    df_x = df_x[df_x.purchased_quantity_sum==0]
    df = df.merge(df_x, on=["storage_code", "part_code"], how="left")
    df = df[df.purchased_quantity_sum_y.isna()]
    df.drop(columns="purchased_quantity_sum_y",inplace=True)
    df.rename(columns={"purchased_quantity_sum_x":"purchased_quantity_sum"},inplace=True)
    df.sort_values(["storage_code","part_code","month"],ascending=[True,True,True])
    return df

In [249]:
arimax_data = del_zero_data_train_update(arimax_data_temp)

In [250]:
arimax_data

,month,storage_code,part_code,purchased_quantity_sum,cal_start_at,purchased_quantity_sum_mean_1st,purchased_quantity_sum_std_1st,purchased_quantity_sum_max_1st,purchased_quantity_sum_min_1st,forward_1st,backward_1st,mfill_1st,purchased_quantity_original_1st,purchased_quantity_sum_mean,purchased_quantity_sum_std,purchased_quantity_sum_max,purchased_quantity_sum_min,forward,backward,mfill,purchased_quantity_original
0,2019-01,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.201910,0.0,0.0,NaN,0.0,0.166667,0.368734,0.904135,-0.570802,0.0,0.0,NaN,0.0
1,2019-02,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.201910,0.0,0.0,NaN,0.0,0.166667,0.368734,0.904135,-0.570802,0.0,0.0,NaN,0.0
2,2019-03,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.201910,0.0,0.0,NaN,0.0,0.166667,0.368734,0.904135,-0.570802,0.0,0.0,NaN,0.0
3,2019-04,SP100,10000001090000,1.0,2019-01,0.205128,0.469013,1.612167,-1.201910,1.0,1.0,NaN,1.0,0.166667,0.368734,0.904135,-0.570802,1.0,1.0,NaN,1.0
4,2019-05,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.201910,0.0,0.0,NaN,0.0,0.166667,0.368734,0.904135,-0.570802,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4021626,2021-11,SP500,M8619021,3630.0,2019-01,6244.615385,5610.707267,23076.737185,-10587.506415,3630.0,3630.0,NaN,3630.0,5779.230769,4848.732002,15476.694773,-3918.233234,3630.0,3630.0,NaN,3630.0
4021627,2021-12,SP500,M8619021,2970.0,2019-01,6244.615385,5610.707267,23076.737185,-10587.506415,2970.0,2970.0,NaN,2970.0,5779.230769,4848.732002,15476.694773,-3918.233234,2970.0,2970.0,NaN,2970.0
4021628,2022-01,SP500,M8619021,4290.0,2019-01,6244.615385,5610.707267,23076.737185,-10587.506415,4290.0,4290.0,NaN,4290.0,5779.230769,4848.732002,15476.694773,-3918.233234,4290.0,4290.0,NaN,4290.0
4021629,2022-02,SP500,M8619021,1650.0,2019-01,6244.615385,5610.707267,23076.737185,-10587.506415,1650.0,1650.0,NaN,1650.0,5779.230769,4848.732002,15476.694773,-3918.233234,1650.0,1650.0,NaN,1650.0
4021630,2022-03,SP500,M8619021,3630.0,2019-01,6244.615385,5610.707267,23076.737185,-10587.506415,3630.0,3630.0,NaN,3630.0,5779.230769,4848.732002,15476.694773,-3918.233234,3630.0,3630.0,NaN,3630.0

In [251]:
arimax_data.columns = ['month', 'storage_code', 'part_code', 'purchased_quantity_sum',
       'cal_start_at', 'purchased_quantity_sum_mean_1st',
       'purchased_quantity_sum_std_1st', 'purchased_quantity_sum_max_1st',
       'purchased_quantity_sum_min_1st', 'forward_1st', 'backward_1st',
       'mfill_1st', 'purchased_quantity_original_1st',
       'purchased_quantity_sum_mean_2nd', 'purchased_quantity_sum_std_2nd',
       'purchased_quantity_sum_max_2nd', 'purchased_quantity_sum_min_2nd', 'forward_2nd',
       'backward_2nd', 'mfill_2nd', 'purchased_quantity_original_2nd']

In [252]:
arimax_data.head()

,month,storage_code,part_code,purchased_quantity_sum,cal_start_at,purchased_quantity_sum_mean_1st,purchased_quantity_sum_std_1st,purchased_quantity_sum_max_1st,purchased_quantity_sum_min_1st,forward_1st,backward_1st,mfill_1st,purchased_quantity_original_1st,purchased_quantity_sum_mean_2nd,purchased_quantity_sum_std_2nd,purchased_quantity_sum_max_2nd,purchased_quantity_sum_min_2nd,forward_2nd,backward_2nd,mfill_2nd,purchased_quantity_original_2nd
0,2019-01,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.20191,0.0,0.0,NaN,0.0,0.166667,0.368734,0.904135,-0.570802,0.0,0.0,NaN,0.0
1,2019-02,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.20191,0.0,0.0,NaN,0.0,0.166667,0.368734,0.904135,-0.570802,0.0,0.0,NaN,0.0
2,2019-03,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.20191,0.0,0.0,NaN,0.0,0.166667,0.368734,0.904135,-0.570802,0.0,0.0,NaN,0.0
3,2019-04,SP100,10000001090000,1.0,2019-01,0.205128,0.469013,1.612167,-1.20191,1.0,1.0,NaN,1.0,0.166667,0.368734,0.904135,-0.570802,1.0,1.0,NaN,1.0
4,2019-05,SP100,10000001090000,0.0,2019-01,0.205128,0.469013,1.612167,-1.20191,0.0,0.0,NaN,0.0,0.166667,0.368734,0.904135,-0.570802,0.0,0.0,NaN,0.0

In [253]:
upload_time = datetime.datetime.now()
arimax_data["upload_time"] = upload_time.strftime("%Y-%m-%d, %H:%M:%S")

In [269]:
arimax_data.to_sql('tt_demand_train',con=engine,chunksize=10000, if_exists='append',index=False)

# 根据 tt_demand_train_expand 产生 tt_demand_train_addition

In [258]:
sql="""
select * from tt_demand_train_expand where substr(upload_time,1,10) = "2022-03-18"
"""
df_expand = pd.read_sql(sql,engine)
df_expand

,month,storage_code,part_code,purchased_quantity,cal_start_at,upload_time
0,2019-01,SP100,10000001090000,0.0,2019-01,"2022-03-18, 11:24:14"
1,2019-02,SP100,10000001090000,0.0,2019-01,"2022-03-18, 11:24:14"
2,2019-03,SP100,10000001090000,0.0,2019-01,"2022-03-18, 11:24:14"
3,2019-04,SP100,10000001090000,1.0,2019-01,"2022-03-18, 11:24:14"
4,2019-05,SP100,10000001090000,0.0,2019-01,"2022-03-18, 11:24:14"
...,...,...,...,...,...,...
6435420,2021-11,SP500,M8619021,3630.0,2019-01,"2022-03-18, 11:24:14"
6435421,2021-12,SP500,M8619021,2970.0,2019-01,"2022-03-18, 11:24:14"
6435422,2022-01,SP500,M8619021,4290.0,2019-01,"2022-03-18, 11:24:14"
6435423,2022-02,SP500,M8619021,1650.0,2019-01,"2022-03-18, 11:24:14"
6435424,2022-03,SP500,M8619021,3630.0,2019-01,"2022-03-18, 11:24:14"

## 样本内数据

In [255]:
# 时间的计算, 计算过去12个月
# end='2021-11'
# end = arrow.get(end)
end= arrow.now()
start = end.shift(months = -11)
start = start.format("YYYY-MM")
end = end.format("YYYY-MM")
print(f"start:{start}, end:{end}")

start:2021-04, end:2022-03

In [259]:
df_in_sample = df_expand[df_expand.month.between(start,end)]

In [260]:
df_in_sample = df_in_sample.groupby(["storage_code","part_code"]).agg({"purchased_quantity":["mean","std"]})
df_in_sample = df_in_sample.reset_index()
df_in_sample

       storage_code       part_code purchased_quantity
                                                  mean          std
0             SP100  10000001090000           0.083333     0.288675
1             SP100  1000000109S010           0.000000     0.000000
2             SP100  1000000109S020           0.000000     0.000000
3             SP100  1000000109S050           0.000000     0.000000
4             SP100  1000000109S090           1.250000     2.261335
...             ...             ...                ...          ...
186140        SP500        M4290830           0.000000     0.000000
186141        SP500        M4290831           0.000000     0.000000
186142        SP500        M8619009           0.000000     0.000000
186143        SP500        M8619012           0.000000     0.000000
186144        SP500        M8619021        2777.500000  1323.433036

[186145 rows x 4 columns]

In [261]:
df_in_sample.columns = change_columns(df_in_sample)
df_in_sample

,storage_code,part_code,purchased_quantity_mean,purchased_quantity_std
0,SP100,10000001090000,0.083333,0.288675
1,SP100,1000000109S010,0.000000,0.000000
2,SP100,1000000109S020,0.000000,0.000000
3,SP100,1000000109S050,0.000000,0.000000
4,SP100,1000000109S090,1.250000,2.261335
...,...,...,...,...
186140,SP500,M4290830,0.000000,0.000000
186141,SP500,M4290831,0.000000,0.000000
186142,SP500,M8619009,0.000000,0.000000
186143,SP500,M8619012,0.000000,0.000000
186144,SP500,M8619021,2777.500000,1323.433036

## 根据过去12个月的平均销量进行分类(最新)

In [262]:
purchased_quantity_type_dict = {"n1":(10000,float('inf')),"n2":(5000,10000),"n3":(2000,5000)\
                                ,"n4":(1000,2000),"n5":(500,1000),"n6":(200,500),"n7":(100,200)\
                                ,"n8":(50,100),"n9":(20,50),"n10":(5,20),"n11":(float('-inf'),5)}

In [263]:
def make_purchased_quantity_type(x):
    for k, v in purchased_quantity_type_dict.items():
        if v[0]<= x <v[1]:
            return k

In [264]:
df_in_sample["purchased_quantity_type"] = df_in_sample.purchased_quantity_mean.apply(lambda x:make_purchased_quantity_type(x))

In [265]:
df_in_sample

,storage_code,part_code,purchased_quantity_mean,purchased_quantity_std,purchased_quantity_type
0,SP100,10000001090000,0.083333,0.288675,n11
1,SP100,1000000109S010,0.000000,0.000000,n11
2,SP100,1000000109S020,0.000000,0.000000,n11
3,SP100,1000000109S050,0.000000,0.000000,n11
4,SP100,1000000109S090,1.250000,2.261335,n11
...,...,...,...,...,...
186140,SP500,M4290830,0.000000,0.000000,n11
186141,SP500,M4290831,0.000000,0.000000,n11
186142,SP500,M8619009,0.000000,0.000000,n11
186143,SP500,M8619012,0.000000,0.000000,n11
186144,SP500,M8619021,2777.500000,1323.433036,n3

In [266]:
df_in_sample.isna().any()

storage_code               False
part_code                  False
purchased_quantity_mean    False
purchased_quantity_std     False
purchased_quantity_type    False
dtype: bool

In [270]:
df_in_sample.rename(columns={"purchased_quantity_mean":"purchased_quantity_sum_mean","purchased_quantity_std":"purchased_quantity_sum_std"},inplace=True)

## 根据cv计算波动性

In [271]:
train_df_ms = df_in_sample

In [272]:
train_df_ms["cv"] = train_df_ms.purchased_quantity_sum_std / train_df_ms.purchased_quantity_sum_mean

In [273]:
# 波动性分为量大量小的来处理
# purchased_quantity_sum_mean<5 量小, 看std
# purchased_quantity_sum_mean>5 量大, 看cv

In [274]:
temp1 = train_df_ms[train_df_ms.purchased_quantity_sum_mean<5]
temp1.purchased_quantity_sum_std.quantile()
temp2 = train_df_ms[train_df_ms.purchased_quantity_sum_mean>=5]
temp2.cv.quantile()

0.4830830393474461

In [275]:
quan_x = temp1.purchased_quantity_sum_std.quantile([0.3,0.7])

In [276]:
quan_x

0.3    0.288675
0.7    0.668558
Name: purchased_quantity_sum_std, dtype: float64

In [277]:
quan_x[0.3]

0.28867513459481287

In [ ]:
temp2.cv.quantile([0.3,0.7])

In [278]:
def small_pur_fluctuation(df):
    quan_x = df.purchased_quantity_sum_std.quantile([0.3,0.7])
    def decide_fluc(x):
        if x> quan_x[0.7]:
            return "L"
        elif x>quan_x[0.3] and x<=quan_x[0.7]:
            return "m"
        else:
            return "s"        
    return df.purchased_quantity_sum_std.apply(lambda x: decide_fluc(x))

In [279]:
def large_pur_fluctuation(df):
    quan_x = df.cv.quantile([0.3,0.7])
    def decide_fluc(x):
        if x> quan_x[0.7]:
            return "L"
        elif x>quan_x[0.3] and x<=quan_x[0.7]:
            return "m"
        else:
            return "s"        
    return df.cv.apply(lambda x: decide_fluc(x))

In [280]:
temp1["fluctuation"] = small_pur_fluctuation(temp1)
temp1

,storage_code,part_code,purchased_quantity_sum_mean,purchased_quantity_sum_std,purchased_quantity_type,cv,fluctuation
0,SP100,10000001090000,0.083333,0.288675,n11,3.464102,s
1,SP100,1000000109S010,0.000000,0.000000,n11,NaN,s
2,SP100,1000000109S020,0.000000,0.000000,n11,NaN,s
3,SP100,1000000109S050,0.000000,0.000000,n11,NaN,s
4,SP100,1000000109S090,1.250000,2.261335,n11,1.809068,L
...,...,...,...,...,...,...,...
186139,SP500,M4290825,0.000000,0.000000,n11,NaN,s
186140,SP500,M4290830,0.000000,0.000000,n11,NaN,s
186141,SP500,M4290831,0.000000,0.000000,n11,NaN,s
186142,SP500,M8619009,0.000000,0.000000,n11,NaN,s
186143,SP500,M8619012,0.000000,0.000000,n11,NaN,s

In [281]:
temp2["fluctuation"] = large_pur_fluctuation(temp2)
temp2

,storage_code,part_code,purchased_quantity_sum_mean,purchased_quantity_sum_std,purchased_quantity_type,cv,fluctuation
8,SP100,1000000109SB20,5.666667,5.773503,n10,1.018853,L
88,SP100,1000000109SN10,26.250000,14.790199,n9,0.563436,m
132,SP100,1000000109SW20,17.500000,12.880570,n10,0.736033,L
134,SP100,1001000242,822.166667,383.252547,n5,0.466149,m
185,SP100,10020272040000,6.416667,2.609714,n10,0.406709,m
...,...,...,...,...,...,...,...
186130,SP500,995S0007,32.416667,14.550591,n9,0.448861,m
186131,SP500,995S1301,365.000000,132.424936,n6,0.362808,s
186133,SP500,997S0001,220.000000,128.770409,n6,0.585320,m
186135,SP500,998S3501,616.000000,201.405967,n5,0.326958,s
186144,SP500,M8619021,2777.500000,1323.433036,n3,0.476484,m

In [282]:
train_df_fluc = temp1.append(temp2)[["storage_code","part_code","fluctuation"]]
train_df_fluc

       storage_code       part_code fluctuation
0             SP100  10000001090000           s
1             SP100  1000000109S010           s
2             SP100  1000000109S020           s
3             SP100  1000000109S050           s
4             SP100  1000000109S090           L
...             ...             ...         ...
186130        SP500        995S0007           m
186131        SP500        995S1301           s
186133        SP500        997S0001           m
186135        SP500        998S3501           s
186144        SP500        M8619021           m

[186145 rows x 3 columns]

In [283]:
train_df_ms

,storage_code,part_code,purchased_quantity_sum_mean,purchased_quantity_sum_std,purchased_quantity_type,cv
0,SP100,10000001090000,0.083333,0.288675,n11,3.464102
1,SP100,1000000109S010,0.000000,0.000000,n11,NaN
2,SP100,1000000109S020,0.000000,0.000000,n11,NaN
3,SP100,1000000109S050,0.000000,0.000000,n11,NaN
4,SP100,1000000109S090,1.250000,2.261335,n11,1.809068
...,...,...,...,...,...,...
186140,SP500,M4290830,0.000000,0.000000,n11,NaN
186141,SP500,M4290831,0.000000,0.000000,n11,NaN
186142,SP500,M8619009,0.000000,0.000000,n11,NaN
186143,SP500,M8619012,0.000000,0.000000,n11,NaN
186144,SP500,M8619021,2777.500000,1323.433036,n3,0.476484

In [284]:
train_df_ms = train_df_ms.merge(train_df_fluc,on=["storage_code","part_code"],how="inner")
train_df_ms

,storage_code,part_code,purchased_quantity_sum_mean,purchased_quantity_sum_std,purchased_quantity_type,cv,fluctuation
0,SP100,10000001090000,0.083333,0.288675,n11,3.464102,s
1,SP100,1000000109S010,0.000000,0.000000,n11,NaN,s
2,SP100,1000000109S020,0.000000,0.000000,n11,NaN,s
3,SP100,1000000109S050,0.000000,0.000000,n11,NaN,s
4,SP100,1000000109S090,1.250000,2.261335,n11,1.809068,L
...,...,...,...,...,...,...,...
186140,SP500,M4290830,0.000000,0.000000,n11,NaN,s
186141,SP500,M4290831,0.000000,0.000000,n11,NaN,s
186142,SP500,M8619009,0.000000,0.000000,n11,NaN,s
186143,SP500,M8619012,0.000000,0.000000,n11,NaN,s
186144,SP500,M8619021,2777.500000,1323.433036,n3,0.476484,m

In [285]:
train_df_ms.isna().any()

storage_code                   False
part_code                      False
purchased_quantity_sum_mean    False
purchased_quantity_sum_std     False
purchased_quantity_type        False
cv                              True
fluctuation                    False
dtype: bool

In [286]:
upload_time = datetime.datetime.now()
train_df_ms["upload_time"] = upload_time.strftime("%Y-%m-%d, %H:%M:%S")

In [287]:
train_df_ms.to_sql('tt_demand_train_additional',con=engine,chunksize=10000, if_exists="append",index=False)

In [ ]:
-- 找到很多奇怪的例子
select * from
tt_demand_train_original a
inner join
(select storage_code, part_code from tt_demand_train_additional where purchased_quantity_sum_mean=0 and substr(upload_time,1,10)="2022-03-03") b
on a.part_code=b.part_code and a.storage_code=b.storage_code
where substr(a.upload_time,1,10)="2022-03-03"

## abc 分类法(暂时不用)

df_in_sample

df_in_sample.rename(columns={"purchased_quantity_mean":"purchased_quantity_sum_mean","purchased_quantity_std":"purchased_quantity_sum_std"},inplace=True)

In [ ]:
# 根据月均值 purchased_quantity_sum_mean 来判别 销量类型 abc
# 输入的是df
def make_abc(df):
    df = df.sort_values(["storage_code","purchased_quantity_sum_mean"],ascending=[True,False])
    df_ = df.groupby("storage_code")[["purchased_quantity_sum_mean"]].sum()
    df_.reset_index()
    df = df.merge(df_,on="storage_code",how="left")
    df["purchased_quantity_ratio"] = df["purchased_quantity_sum_mean_x"]/df["purchased_quantity_sum_mean_y"]
    df_cumsum = df.groupby("storage_code").apply(lambda x:x.purchased_quantity_ratio.cumsum())
    df_cumsum = pd.DataFrame(df_cumsum).reset_index(drop=True)
    df_cumsum.columns = ["purchased_quantity_ratio_cumsum"]
    df = pd.concat([df,df_cumsum],axis=1)
    return df

In [201]:
train_df_abc = make_abc(df_in_sample)
train_df_abc

,storage_code,part_code,purchased_quantity_sum_mean_x,purchased_quantity_sum_std,purchased_quantity_sum_mean_y,purchased_quantity_ratio,purchased_quantity_ratio_cumsum
0,SP100,M4290824,54843.181818,87890.799583,543277.143491,0.100949,0.100949
1,SP100,M8619021,41523.428571,20023.988106,543277.143491,0.076431,0.177380
2,SP100,10110442010100,38532.857143,9395.817459,543277.143491,0.070927,0.248307
3,SP100,M4290825,29820.000000,81302.182271,543277.143491,0.054889,0.303196
4,SP100,9320000260,28613.142857,7556.710602,543277.143491,0.052668,0.355864
...,...,...,...,...,...,...,...
183938,SP500,9110015451,0.000000,0.000000,69994.316417,0.000000,1.000000
183939,SP500,9119001351,0.000000,0.000000,69994.316417,0.000000,1.000000
183940,SP500,9120000820,0.000000,0.000000,69994.316417,0.000000,1.000000
183941,SP500,9540000501,0.000000,0.000000,69994.316417,0.000000,1.000000
183942,SP500,992S0077,0.000000,0.000000,69994.316417,0.000000,1.000000

In [202]:
purchased_quantity_type_dict = {"n1":(0,0.5),"n2":(0.5,0.7),"n3":(0.7,0.8),"n4":(0.8,0.9),"n5":(0.9,0.95),"n6":(0.95,1.01)}

In [203]:
def make_purchased_quantity_type(x):
    for k, v in purchased_quantity_type_dict.items():
        if v[0]< x <=v[1]:
            return k

In [204]:
train_df_abc["purchased_quantity_type"] = train_df_abc.purchased_quantity_ratio_cumsum.apply(lambda x:make_purchased_quantity_type(x))

In [205]:
train_df_abc = train_df_abc[['storage_code', 'part_code', 'purchased_quantity_type']]
train_df_abc

       storage_code       part_code purchased_quantity_type
0             SP100        M4290824                      n1
1             SP100        M8619021                      n1
2             SP100  10110442010100                      n1
3             SP100        M4290825                      n1
4             SP100      9320000260                      n1
...             ...             ...                     ...
183938        SP500      9110015451                      n6
183939        SP500      9119001351                      n6
183940        SP500      9120000820                      n6
183941        SP500      9540000501                      n6
183942        SP500        992S0077                      n6

[183943 rows x 3 columns]